@charset "UTF-8";

table.bd {
	border-bottom:1px solid #ccc;
	width:100%;
	margin-bottom:25px;
	border-left:1px solid #ccc;
}
table.bd th {
	background:#E6E6E6;
	padding:10px;
	vertical-align:top;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}
table.bd td {
	padding:10px;
	vertical-align:top;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}
h3 {
	border-left:5px solid #2CB8FF;
	padding-left:7px;
	color:#333;
	margin:0 0 15px;
	font-size:14px;
	font-weight:bold;
}