@charset "UTF-8";


/* main */	

h6{
	font-weight:bold;
	padding:0;
	margin:0;
	}
	
table.bd {
	border-bottom:1px solid #ccc;
	width:100%;
	margin-bottom:25px;
	border-left:1px solid #ccc;
}

/* 20110602変更 */
table.bd th {
	background:#E6E6E6;
	padding:10px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}
table.bd td {
	padding:10px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}
/* ここまで20110602変更 */

h3 {
	border-left:5px solid #2CB8FF;
	padding-left:7px;
	color:#333;
	margin:0 0 15px;
	font-size:14px;
	font-weight:bold;
}

/*----------------------------------------------------
	サポート index
----------------------------------------------------*/

.supportindex h4{
	padding-bottom:10px;
	}


/*	main section1 */


.supportindex #main .section1{
	padding-bottom:25px;
	}


.supportindex #main .section2{
	padding-top:20px;
	padding-bottom:30px;
	border-bottom:1px solid #66CCFF;
	background:url(../admission/support/img/index-img.jpg) 270px 0 no-repeat;
	}
	
.supportindex #main .section2 .col1,
.supportindex #main .section2 .col2{
	width:250px;
	border-top:1px solid #66CCFF;
	padding-left:20px;
	}
	
	
.supportindex #main .section2 .col1{
	float:left;
	}

.supportindex #main .section2 .col2{
	float:right;
	}
	
.supportindex #main .section2 .col1 .inner,
.supportindex #main .section2 .col2 .inner{	
	background:url(../admission/support/img/inner-bg.gif) 0 100% repeat-x;
	font-size:11px;
	padding:25px 25px 20px 20px;
	margin-left:-20px;
	margin-bottom:30px;
	/position:relative;
	}
	
	
.supportindex #main .section2 .col1 li{
	padding-bottom:20px;
	line-height:1.25em;
	}
	
.supportindex #main .section2 .col2 li{
	padding-bottom:15px;
	line-height:1.25em;
	}	
	
.supportindex #main .section2 li img{
	padding-bottom:10px;
	}
	
	

/*----------------------------------------------------
	サポート オリジナル学費サポート
----------------------------------------------------*/


/*	main section1 */

.original #main .section1{
	padding-bottom:40px;
	}

.original #main span{
	color:#666;
	font-size:10px;
	}	
	
.original #main .section1 .txt-02{
	padding-top:30px;
	}
	
.original h4{
	padding-bottom:15px;
	}	
	
.original #main .section2{
	padding-bottom:35px;
	}
	
.original #main .section3 table{
	margin-bottom:30px;
	}
	
.original #main .section3 caption{
	padding-bottom:15px;
	}
	
.original #main .section3 td{
	vertical-align:top;
	text-align:left;
	}
	
.original #main .section3 td p{
	padding-top:10px;
	padding-right:25px;
	padding-bottom:15px;
	line-height:1.5em;
	}

.original #main .section3 .step3,
.original #main .section3 .step4{
	background:url(../admission/support/img/original-section3-bg.gif) 100% 0 repeat-y;
	}
	
	
h5{
	padding-bottom:15px;
	}
	
	
.original strong{
	font-weight:normal;
	color:#FF3366;
	text-decoration:underline;
	}

.original #main .section4{
	line-height:48px;
	margin-top:30px;
	font-size:11px;
	margin-right:-10px;
	width:710px;
	}

		
	
/*----------------------------------------------------
	サポート ローン一覧
----------------------------------------------------*/


/*	main section1 */


.lawn #main .section1{
	padding-bottom:35px;
	}
	

/*	main section2 */


.lawn #main .section2{
	padding-bottom:45px;
	}
	
.lawn #main .section2 a{
	text-decoration:underline;
	}

.lawn #main .section2 .col1,
.lawn #main .section2 .col2,
.lawn #main .section2 .col3{
	width:200px;
	padding-bottom:20px;
	}
	
.lawn #main .section2 .col1,
.lawn #main .section2 .col2{	
	padding-right:24px;
	border-right:1px dotted #ccc;
	float:left;
		}
		
.lawn #main .section2 .col2,
.lawn #main .section2 .col3{
	padding-left:25px;
	}
	
.lawn #main .section2 .col3{
	float:right;
	}
	
.lawn h4{
	padding-bottom:15px;
	}

.lawn ol{
	margin-top:15px;
	}
	
.lawn ol li{
	padding-left:22px;
	margin-bottom:15px;
	font-weight:bold;
	display:block;
	}
	
.lawn #main .section2 .col1 li,
.lawn #main .section2 .col1 strong,
.lawn #main .section2 .col1 a{
	color:#FF3366;
	}

.lawn #main .section2 .col2 li,
.lawn #main .section2 .col2 strong,
.lawn #main .section2 .col2 a{
	color:#669900;
	}
	
.lawn #main .section2 .col3 li,
.lawn #main .section2 .col3 strong,
.lawn #main .section2 .col3 a{
	color:#663366;
	}

	
.lawn ol li.no01{
	background:url(../admission/img/icn-no01.gif) 0 0.3em no-repeat;
	}
	
.lawn ol li.no02{
	background:url(../admission/img/icn-no02.gif) 0 0.3em no-repeat;
	}
	
.lawn ol li.no03{
	background:url(../admission/img/icn-no03.gif) 0 0.3em no-repeat;
	}
	
.lawn ol li.no04{
	background:url(../admission/img/icn-no04.gif) 0 0.3em no-repeat;
	}
	
.lawn ol li.no05{
	background:url(../admission/img/icn-no05.gif) 0 0.3em no-repeat;
	}	
	

.lawn #main .section2 h5{
	height:25px;
	margin:0;
	padding:0;
	line-height:25px;
	clear:both;
	}
	
.lawn #main .section2 .inner{
	}
	
.lawn #main .section2 .inner p{
	padding-top:10px;
	overflow:hidden;
	}
	
.lawn #main .section2 .inner .imgL{
	padding-top:10px;
	padding-right:8px;
	}
	
.lawn #main .section2 .col1 span{
	color:#FF6699;
	}
	
.lawn #main .section2 .col2 span{
	color:#91AD3F;
	}	
	
.lawn #main .section2 .col3 span{
	color:#8C80B8;
	}
	
	
/*	main section3 */

.lawn #main .section3{
	clear:both;
	color:#666;
	font-size:10px;
	}
	
.lawn #main .section3 p.attention{
	font-size:11px;
	color:#F00;
	}

/*----------------------------------------------------
	特待生コメント
----------------------------------------------------*/

.comment #main dl {
	margin-bottom: 20px;
	overflow: hidden;
	clear: both;
}

.comment #main dt {
	width: 160px;
	float: left;
	font-size: 10px;
}

.comment #main dt h4 {
	font-size: 14px;
}
.comment #main dd h4 {
	padding-bottom: 5px;
	margin-bottom: 5px;
	overflow: hidden;
	border-bottom: 1px #007A7A dotted;
}

.comment #main dd {
	width: 520px;
	float: right;
}

.comment #main dd p {
	margin-bottom: 15px;
	overflow: hidden;
}