/*--理容--*/
#mainContent article section h2 {
	background:url("../images/course/barber/bg_title.png") no-repeat scroll 0 0 transparent;	
}
#mainContent article section .carriImg dd {
	color: #54c3f1;	
}
#mainContent article section .photoR dt {
	background: url("../images/course/barber/dotline.png") repeat-x scroll left bottom transparent;
	color: #54c3f1;
}
#mainContent article section .oneClmn dt {
	color: #54c3f1;
}
#mainContent article section .twoClmn dt {
	color: #54c3f1;
}
#mainContent article section .seniorOb dt, #mainContent article section .seniorCur dt {
	background: url("../images/course/barber/dotline.png") repeat-x scroll left bottom transparent;
	color: #54c3f1;
}
#mainContent article section .seniorCur .photo:before {
	content: url("../images/course/barber/label_cur.png");
}
#mainContent article section .seniorOb .photo:before {
	content: url("../images/course/barber/label_ob.png");
}