/*--美容--*/
#mainContent article section h2 {
	background:url("../images/course/beauty/bg_title.png") no-repeat scroll 0 0 transparent;	
}
#mainContent article section .carriImg dd {
	color: #EF8200;	
}
#mainContent article section .photoR dt {
	background: url("../images/course/beauty/dotline.png") repeat-x scroll left bottom transparent;
	color: #EF8200;
}
#mainContent article section .oneClmn dt {
	color: #EF8200;
}
#mainContent article section .twoClmn dt {
	color: #EF8200;
}
#mainContent article section .seniorOb dt, #mainContent article section .seniorCur dt {
	background: url("../images/course/beauty/dotline.png") repeat-x scroll left bottom transparent;
	color: #EF8200;
}
#mainContent article section .seniorCur .photo:before {
	content: url("../images/course/beauty/label_cur.png");
}
#mainContent article section .seniorOb .photo:before {
	content: url("../images/course/beauty/label_ob.png");
}