@charset "UTF-8";

table {
	border-bottom:1px solid #ccc;
}
th {
	background:#E6E6E6;
	padding:15px 30px;
	vertical-align:top;
	border-top:1px solid #ccc;
}
td {
	padding:15px 30px 15px 50px;
	vertical-align:top;
	border-top:1px solid #ccc;
}


table.report,.report th,.report td {
	border:none;
}
table.report {
	background:url(../campuslife/img/index-bg-report.gif);
	padding-right:20px;
}
table.report img {
	padding:7px;
	background:#FFF;
}
table.report .date,.reportpage .date {
	font-size:10px;
	color:#999;
	margin-bottom:10px;
}
table.report td {
	padding:15px;
}

table.report p a{
	color:#FF6699;
	text-decoration:underline;
	}
	
table.report p a:visited {
	color:#FF6699;
	text-decoration:none;
}	
	
table.report p a:hover{
	color:#666;
	text-decoration:none;
	}
	
table.report h4 a:link,h4 a:visited {
	color:#2CB8FF;
}	

h3 {
	border-left:5px solid #2CB8FF;
	padding-left:7px;
	color:#333;
	margin:35px 0 15px;
	font-size:14px;
	font-weight:bold;
}
.reportpage h3{
	margin:0 0 15px;
}
h4{
	border-bottom:1px solid #ccc;
	padding:5px 0 3px;
	margin-bottom:10px;
	font-weight:bold;
}


.jumpbt {
	color:#FEFEFE;
	background:#666;
	margin-bottom:20px;
}
.pagenav {
	color:#CCC;
	margin-bottom:20px;
}
.reportpage {
	margin-bottom:35px;
	padding-bottom:35px;
	border-bottom:1px dotted #ccc;
}