@charset "utf-8";
/* CSS Document */

#Wrapper{
	width:100%;
	margin:0 auto;
	text-align:center;
	background:url(../images/common/parts/bg.jpg) repeat-x top;}

#Inner{
	width:960px;
	margin:0 auto;}

#Header{
	height:60px;
	width:960px;
	margin:0 auto;}
	
#Header h1{
	float:left;
	margin-left:8px;
	margin-top:8px;}
	
#Header ul{
	margin-top:25px;
	width:581px;}
	
#Header li{
	float:left;}
	
#Nav{
	margin-top:14px;}
	
#Nav li{
	float:left;}
	

	
	
	
#Contents{
	width:960px;
	background:url(../images/common/parts/bg2.jpg) bottom no-repeat;
	margin:0 auto;
	text-align:left;
	padding:15px 0 5px;}
	
#Crumbs{
	width:960px;
	padding-bottom:10px;
	text-align:right;}
	
#SideSection{
	width:200px;
	float: left;
	padding-bottom:216px;}
	
.SideNav{
	background:url(../images/common/side/bg.jpg) repeat-y;
	width:200px;}
	
.SideNav ul{
	width:180px;
	margin:0 auto;}
	
	
#Section{
	width:750px;
	float:right;}
	
#PageArea{
	width:750px;
	padding-top:40px;
	background:#FFF url(../images/common/parts/top.jpg) top no-repeat;}
	
	
.Contents{
	width:750px;
	padding-bottom:55px;
	background:#FFF url(../images/common/parts/bottom.jpg) bottom no-repeat;}
	
.ContentsWrapper{
	width:700px;
	margin:0 auto;}
	
.PageTop{
	float:right;
	margin-top:30px;}
	
	
	
#Footer{
	width:960px;
	margin:0 auto;
	text-align:left;
	padding-top:15px;}
	
	
#FooterNav{
	width:960px;
	background:url(../images/common/footer/footer.jpg) no-repeat bottom;
	padding:15px 0 55px;}
	
.FooterNav {
	width:940px;
	margin: 0 auto;}
	
.Fnav{
	width:150px;
	margin-right:5px;
	float:left;}
	
 	
.Fnav li{
	background:url(../images/common/footer/icon.jpg) no-repeat left;
	padding-left:10px;}  
	


.Address{
	padding:20px 0;
	line-height:18px;}
		
.Address h1{
	float:left;
	margin-right:30px;}
	

	