@charset "UTF-8";

#main .section2{
	padding-top:30px;
}

.section2 td {
	vertical-align:top;
	padding:0 30px 20px 0;
}

.section2 p {
	width:320px;
	margin:10px 0 0;
}
#main h3 {
	padding-left:7px;
	color:#333;
	margin:35px 0 15px;
	font-size:14px;
	font-weight:bold;
}
.index #main h3 {
	margin:0 0 10px;
	padding:0;
}
#main h4 {
	border-bottom:1px solid #ccc;
	padding-bottom:5px;
	margin:20px 0 7px;
	font-weight:bold;
}

.barber #main h3 {
	border-left:5px solid #A89DC9;
}
.beauty #main h3 {
	border-left:5px solid #EA828F;
}
.esthetic #main h3 {
	border-left:5px solid #AECF65;
}
.nail #main h3 {
	border-left:5px solid #F3A64B;
}
.barber #main h4 {
	color:#9460A2;
}
.beauty #main h4 {
	color:#E75E79;
}
.esthetic #main h4 {
	color:#99C53B;
}
.nail #main h4 {
	color:#F3A64B;
}
#main table h4 {
	width:300px;
}
#main table {
	width:100%;
}
#main td {
	vertical-align:top;
}
#main td p {
	width:300px;
	font-size:11px;
	line-height:1.3em;
}
#main img.imgL {
	margin-right:20px;
}
#main ul {
	margin-top:10px;
}
#main ul a:link,#main ul a:visited {
	color:#FF6699;
	text-decoration:underline;
}
#main ul a:hover {
	color:#2FBBFF;
}
#main li {
	padding-left:15px;
	background:url(../school/img/icon.gif) no-repeat 0 0.5em;
}


#main dt {
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	clear: both;
}
/* 20110602追加 */

.barber #main dt {
	color: #9460A2;
}

.beauty #main dt {
	color: #E75E79;
}
/* ここまで20110602追加 */

.esthetic #main dt {
	color: #99C53B;
}
.nail #main dt {
	color:#F3A64B;
}
#main dl {
	margin-bottom: 20px;
	overflow: hidden;
}
#main dd {
	width: 30%;
	float: left;
}
.esthetic #main table {
	width: 100%;
	border-top: 1px dotted #ccc;
	margin:20px 0;
}
.esthetic #main td {
	padding: 10px 0;
	border-bottom: 1px dotted #ccc;
}
/* 20110602追加 */
.barber #main ul.shikaku li {
	background:url(../course/img/barber-icon.gif) no-repeat 0 0.5em;
}
.beauty #main ul.shikaku li {
	background:url(../course/img/beauty-icon.gif) no-repeat 0 0.5em;
}
/* ここまで20110602追加 */

.esthetic #main li {
	background:url(../course/img/esthetic-icon.gif) no-repeat 0 0.5em;
}
.nail #main li {
	background:url(../course/img/nail-icon.gif) no-repeat 0 0.5em;
}
.nail #main table {
	width: 100%;
	margin:0 0 20px;
}
.nail #main td {
	padding: 5px 0;
	border-bottom: 1px dotted #ccc;
}
.nail #main th {
	text-align:left;
	font-weight:bold;
	padding: 0 0 5px;
	border-bottom: 1px dotted #ccc;
}