/*--エステティック--*/
#mainContent article section h2 {
	background:url("../images/course/esthetic/bg_title.png") no-repeat scroll 0 0 transparent;	
}
#mainContent article section .carriImg dd {
	color: #ba8cbd;	
}
#mainContent article section .photoR dt {
	background: url("../images/course/esthetic/dotline.png")repeat-x scroll left bottom transparent;
	color: #ba8cbd;
}
#mainContent article section .oneClmn dt {
	color: #ba8cbd;
}
#mainContent article section .twoClmn dt {
	color: #ba8cbd;
}
#mainContent article section .seniorOb dt, #mainContent article section .seniorCur dt {
	background: url("../images/course/esthetic/dotline.png") repeat-x scroll left bottom transparent;
	color: #ba8cbd;
}
#mainContent article section .seniorCur .photo:before {
	content: url("../images/course/esthetic/label_cur.png");
}
#mainContent article section .seniorOb .photo:before {
	content: url("../images/course/esthetic/label_ob.png");
}

#mainContent article section  .esthetic_body dt {
	font-weight: bold;
	color:#ba8cbd
}
#mainContent article section  .esthetic_body dd{
	font-size: 12px;
	line-height: 2;
	color: #666;
	margin: 0;
}