@charset "UTF-8";



body{
	background:url(../img/bg.gif) 0 55px repeat-x #fff;
	}

h2{
	height:52px;
	width:266px;
	padding:0;
	}

/*	main section1 */


#main .section1{
	padding-bottom:20px;
	}
/*#main .section1{
	padding-bottom:45px;
	}*/


/*	section1  */

#slideshow{
	width:700px;
	height:360px;
	}
	
.slides{
	width:680px;
	height:280px;
	border-top:10px solid #66CCFF;
	border-left:10px solid #66CCFF;
	border-right:10px solid #66CCFF;
	overflow:hidden;
	}
	
.slides-nav{
	width:700px;
	height:70px;
	background:url(../img/slidenav-bg.gif) 0 0 no-repeat;
	}
	
.slides-nav li{
	width:175px;
	height:70px;
	float:left;
	/display:inline;
	}
	
.slides-nav li a{
	width:7px;
	height:7px;
	float:left;
	width:175px;
	height:70px;
	display:block;
	overflow: hidden;
	}	
	
#slideshow .slides-nav:after	{ height:0;	visibility: hidden;	content: ".";	display: block;	clear: both; }
.js #slideshow .slides-nav li.on,
.js #slideshow .slides-nav li.on a,
.js #slideshow .slides-nav li a:hover{
	text-indent:-9999px;
}
	

/*	main section2 */


#main .section2{
	position:relative;
	}
	
#main .section2 table.wrapper{
	width:390px;
	float:left;
	position:relative;
	}
	
#main .section2 caption{
	padding-bottom:15px;
	text-align:left;
	}
	
#main .section2 img{
	vertical-align:top;
	}
	
#main .section2 caption .all{
	position:absolute;
	top:0px;
	left:117px;
	}

#main .section2 th,
#main .section2 td{
	text-align:left;
	vertical-align:top;
	border-bottom:1px dotted #ccc;
	}
	
#main .section2 th{
	padding-right:20px;
	}


	
#main .section2 div.wrapper{
	margin-top:-7px;
	overflow:hidden;
	}
	
#main .section2 tr.check div.check{
	background:url(../common/img/icn-circle.gif) 0 0.8em no-repeat;
	font-weight:bold;
	padding-left:17px;
	padding-top:5px;
	padding-bottom:5px;
	}
	
#main .section2 tr.check a{
	color:#FF6699;
	text-decoration:none;
	}
	
#main .section2 tr.boder td{
	border-bottom:1px dotted #ccc;
	border-top:1px dotted #ccc;
	}
	
	
#main .section2 .ttl{
	padding-top:8px;
	padding-bottom:4px;
	border-bottom:none;
	}
	
#main .section2 .ttl a{
	color:#666;
	text-decoration:none;
	}
	
#main .section2 .ttl a:hover{
	text-decoration:underline;
	}
	
#main .section2 .day{
	font-size:11px;
	color:#999;
	padding-top:10px;
	padding-bottom:8px;
	padding-right:15px;
	font-weight:normal;
	white-space:nowrap;
	border-bottom:none;
	}
	
#main .section2 .col2{
	float:right;
	width:265px;
	}
	
#main .section2 .col2 h2{
	height:52px;
	padding-bottom:15px;
	}
	
#main .section2 .col2 ul{
	width:270px;
	margin-right:-5px;
	margin-bottom:-2px;
	overflow:hidden;
	}
	
#main .section2 li{
	width:132px;
	height:132px;
	margin:2px 2px 0 0;
	float:left;
	}
	
#main .section2 li a{
	width:132px;
	height:132px;
	display:block;
	float:left;
	}
	
	
/* sub */

#sub .section1{
	padding-bottom:40px;
	}
	
#sub ul.secton2{
	width:201px;
	/position:relative;
	margin-right:-1px;
	}
	
#sub .section2{
	padding:0 0 20px;
	}	
	

#sub .secton2 li,
#sub .secton2 li a{
	width:201px;
	height:38px;
	_overflow:hidden;
	}
	

#sub ul.secton3 li{
	width:200px;
	height:80px;
	}

#sub ul.secton3 li a{
	width:200px;
	height:80px;
	_overflow:hidden;
	}
		
	