@charset "utf-8";
/* CSS Document */

#IndexWrapper{
	width:100%;
	margin:0 auto;
	text-align:center;
	background:url(../images/index/tbg.jpg) repeat-x top;} 

#IndexInner{
	width:980px;
	margin:0 auto;}

.IndexArticle{
	margin-top:10px;
	width:980px;
	height:440px;}
	
#indexSection{
	width:700px;
	float:right;}
	
.NewsArea{
	width:700px;
	position:relative;}
	
.NewsArea h2{
	margin-top:10px;}
	
.NewsArea ul{
	margin-top:5px;}
	
.NewsArea li{
	background:url(../images/common/parts/pline.jpg) no-repeat bottom;
	width:700px;
	padding:8px 0;}
	
.NewsArea li p.date{
	width: 95px;
	float:left;}
	
.NewsArea li p.title{
	width: 605px;
	float:right;}
	
.NewsArea img.img01{
	position: absolute;
	left: 607px;
	top: 53px;
}

.BtnArea{
	width:700px;}
	
.BtnArea img{
	float:left;}

.BannArea{
	width:660px;
	margin:0 auto;}
	
	
/*　スライド　 */

.stripViewer .panelContainer 
.panel ul									{ text-align: left; margin: 0 15px 0 30px; }
.stripViewer								{ position: relative; overflow: hidden; width: 980px; height:320px; }
.stripViewer .panelContainer				{ position: relative; left: 0; top: 0; }
.stripViewer .panelContainer .panel			{ float: left; height: 100%; position: relative; width: 980px; }
.stripNavL, .stripNavR, .stripNav			{ display: none; }
.nav-thumb 									{ border: 1px solid #fff; margin-right:5px; }
#movers-row									{ margin: 0; }
#movers-row .ca-item						{ width:157px; float: left; margin-right:7px; }
#movers-row .ca-item.last					{ margin-right: 0; }
.photo-meta-data							{ background: url(img/slide/transpBlack.png); padding: 10px; height: 30px; 
											  margin-top: -50px; position: relative; z-index: 9999; color: white; }
.photo-meta-data span 						{ font-size: 13px; }
.cross-link									{ display: block; width: 157px; margin-top: -14px; 
											  position: relative; padding-top: 15px; z-index: 9999; }
.active-thumb 								{ background: transparent url(img/slide/smallwhite.png) top center no-repeat; }



#slideshow {
	margin:5px auto 0;
	width:980px;
	height:93px;
	position:relative;
}
#slideshow #slidesContainer {
  margin:0 auto;
  width:980px;
  height:93px;
  overflow:auto; /* allow scrollbar */
  position:relative;
}
#slideshow #slidesContainer .slide {
  margin-left:0 auto;
  width:980px; /* reduce by 20 pixels of #slidesContainer to avoid horizontal scroll */
  height:93px;
}

/** 
 * Slideshow controls style rules.
 */
.control {
  display:block;
  width:11px;
  height:50px;
  text-indent:-10000px;
  position:absolute;
  cursor: pointer;
}
#leftControl {
  top:0;
  left:0;
  background:transparent url(../img/slide/prev.gif) no-repeat 0 19px;
}
#rightControl {
  top:0;
  right:0;
  background:transparent url(../img/slide/next.gif) no-repeat 0 19px;
}
