@charset "UTF-8";

#main a:link {
	text-decoration:underline;
}
#main .section1 {
	padding-bottom:35px;
	margin-bottom:35px;
	border-bottom:1px dotted #CCC;
}

#main .maintxt a{
	color:#FF6699;
	text-decoration:underline;
	}
	
#main .maintxt a:visited{
	color:#FF6699;
	text-decoration:none;
	}	
	
#main .maintxt a:hover{
	color:#666;
	text-decoration:none;
	}	
	
h3 {
	border-left:5px solid #2CB8FF;
	padding-left:7px;
	color:#333;
	margin:0 0 15px;
	font-size:14px;
	font-weight:bold;
}

h3 a,
h3 a:hover{
	color:#333;
	text-decoration:underline;
	}

.date {
	font-size:10px;
	color:#999;
	margin-bottom:10px;
}
.pagenav {
	color:#CCC;
	margin-bottom:20px;
}