@charset "utf-8";
/* 学科紹介 */

#CourseArea .section1 {
    padding-top: 30px;}
	
#CourseArea .section1 h3 {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    margin: 35px 0 15px;
    padding-left: 7px;
}
	
	
div.l2 h4 {
    border-bottom: 1px solid #999999;
    color: #B940BF;
    height: 25px;
	font-weight:bold;
    line-height: 25px;
    margin-bottom: 10px;
    text-indent: 0;
}
	
#CourseArea .section1 p	{
	margin-bottom:15px;}
	
	
	
#CourseArea .section2 {
    padding-top: 30px;}
	
#CourseArea .section2 table{
	margin-bottom:120px;}
	
#CourseArea .section2 td {
    padding: 0 30px 20px 0;
	font-size: 11px;
    line-height: 1.3em;
    width: 300px;}
	

#CourseArea .section2 p {
    margin: 10px 0 0;}

#SubArea{
	width:700px;}
	
#\SubArea .Article{
	width:700px;
	margin-bottom:20px;}
	
#SubArea .SubBox{
	width:100%;
	line-height:22px;
	margin-bottom:30px;}
	
	
#SubArea .SubBox p.txt-01{
	margin-bottom:20px;}
	
	
#SubArea .SubBoxL{
	width:430px;
	float:left;
	padding-top:10px;}
	
	
#SubArea h3{
	padding:4px 0px 2px 5px;
	margin:10px 0;
	font-size:16px;
	line-height:18px;
	font-weight:bold;
	border-left:#997c0d solid 4px;}	
	
	
	
.SubBox table.Barber td{
	vertical-align:top;
	line-height:19px;
	font-size:11px;
	width:350px;}
	
.SubBox table.Barber td p{
	padding-right:25px;}
	
.SubBox table.Barber td h4{
	font-size:12px;
	font-weight:bold;
	color:#9460A2;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom:2px;
	margin: 20px 25px 7px 0;}
	
h4.Barber{
	font-size:12px;
	font-weight:bold;
	color:#9460A2;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom:2px;
	margin: 20px 0 7px ;}
	
	
.SubBox table.Beauty td{
	vertical-align:top;
	line-height:19px;
	font-size:11px;
	width:350px;}
	
.SubBox table.Beauty td p{
	padding-right:25px;}
	
.SubBox table.Beauty td h4{
	font-size:12px;
	font-weight:bold;
	color:#E75E79;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom:2px;
	margin: 20px 25px 7px 0;}
	
h4.Beauty{
	font-size:12px;
	font-weight:bold;
	color:#E75E79;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom:2px;
	margin: 20px 0 7px ;}
	
dl.EsteArea{	
	margin-bottom: 30px;
    overflow: hidden;}
	
dl.EsteArea dt {
    color: #99C53B;
	border-bottom: 1px solid #CCCCCC;
    clear: both;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
	
	
dl.EsteArea dd {
    float: left;
    width: 30%;
}	


ul.EsteArea02 li {
    background: url("../images/course/este/icon.gif") no-repeat scroll 0 0.5em transparent;
	padding-left: 15px;
}


table.EsteArea03 {
    border-top: 1px dotted #CCCCCC;
    margin: 20px 0;
    width: 100%;}
	
table.EsteArea03 td{	
	border-bottom: 1px dotted #CCCCCC;
    padding: 10px 0;}
	
h4.Este{
	font-size:12px;
	font-weight:bold;
	color:#99C53B;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom:2px;
	margin: 20px 0 7px ;}
	
	
dl.NailArea{	
	margin-bottom: 30px;
    overflow: hidden;}
	
dl.NailArea dt {
    color: #F3A64B;
	border-bottom: 1px solid #CCCCCC;
    clear: both;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
	
	
dl.NailArea dd {
    float: left;
    width: 30%;
}

h4.Nail{
	font-size:12px;
	font-weight:bold;
	color:#F3A64B;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom:2px;
	margin: 20px 0 7px ;}	

table.NailArea02 {
    margin: 0 0 20px;
    width: 100%;}
	
table.NailArea02 th{	
	border-bottom: 1px dotted #CCCCCC;
    font-weight: bold;
    padding: 0 0 5px;
    text-align: left;}
	
table.NailArea02 td{	
	border-bottom: 1px dotted #CCCCCC;
    padding: 5px 0;}
	
	
/*職員募集*/


#OtherArea{
	padding-bottom:50px;}
	
	
table.bd {
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    margin-top: 25px;
    width: 100%;
}

table.bd th {
    background: none repeat scroll 0 0 #E6E6E6;
    border-right: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    padding: 10px;
    vertical-align: top;
}

table.bd td {
    border-right: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    padding: 10px;
    vertical-align: top;
}

#OtherArea .col1 {
    float: left;
    width: 300px;
}


#OtherArea .col2 {
    float: right;
    width: 300px;
}

#OtherArea dl {
    padding-top: 20px;
}

#OtherArea dt, #OtherArea li {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 8px;
    padding-top: 8px;
}

#OtherArea dt a {
    background: url("../images/sitemap/icn-circle-01.jpg") no-repeat scroll 0 0 transparent;
    font-weight: bold;
    padding-left: 20px;
}



#OtherArea ul ul li {
    border-bottom: medium none;
    border-top: 1px solid #CCCCCC;
    padding-left: 20px;
}

#OtherArea dt, #main li {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 8px;
    padding-top: 8px;
}

#OtherArea li a {
    background: url("../images/sitemap/icn-circle-03.gif") no-repeat scroll 0 1px transparent;
    padding-left: 20px;
}

#OtherArea ul ul {
    overflow: hidden;
    padding-bottom: 0;
    padding-top: 8px;
}


/*在校生のみなさんへ*/

#SutArea{
	padding-bottom:30px;}

#SutArea h3{
	padding:4px 0px 2px 5px;
	margin:10px 0;
	font-size:16px;
	line-height:18px;
	font-weight:bold;
	border-left:#fbaab9 solid 4px;}	

.newstxt{
	margin:25px 0;
	font-size:12px;}
/*新着*/	
	
#NewsArea{
	padding-bottom:30px;}

#NewsArea h3{
	padding:4px 0px 2px 5px;
	margin:10px 0;
	font-size:16px;
	line-height:18px;
	font-weight:bold;
	border-left:#fbaab9 solid 4px;}	
	
#NewsArea .section1{
	border-bottom: 1px dotted #CCCCCC;
    margin-bottom: 35px;
    padding-bottom: 35px;}
	
#NewsArea p.date{
	font-size:10px;
	color:#ffa8b9;
	font-weight:bold;
	margin-bottom:10px;
}

.maintxt{
	font-size:12px;}