@charset "utf-8";
/* CSS Document */

.ContentsWrapper h3{
	margin-bottom:20px;}
	
	
.school-Contents{
	width:700px;
	padding-bottom:20px;
	margin:0 auto;}	
	
	
.school-Contents .left-box{
	float:left;
	padding-top:110px;
	background:url(../images/school/index/img_01.jpg) no-repeat top;
	width:332px;
	}	
	
.txt-box{
	 margin-left:140px;
	 width:190px;}	
 
 .school-Contents .txt-box p{
	 font-size:11px;}
 
.school-Contents .right-box{
	float:right;
	padding-top:110px;
	background:url(../images/school/index/img_02.jpg) no-repeat top;
	width:332px;
	}		
.school-BG{
	width:700px;
	margin:0 auto 20px;
	text-align:center;
	padding:10px 0 10px;
	background:url(../images/school/index/img_bg01.jpg) no-repeat top;
	}
.school-BG .school-BG-box{
	text-align:left;
	margin:0 auto;
	padding:5px 0;
	width:430px;}	
.school-BG .school-BG-box p{
	font-size:11px;}	
	
.school-Contents .left-box02{
	width:332px;
	float:left;
	}	
	
.school-Contents .right-box02{
	width:332px;
	float:right;
	}		
	
.school-Contents .rbox{
	float:right;
	width:195px;}
.school-Contents .rbox p{
	font-size:11px;}	
	
	
.histry-table{
	float:left;
	width:500px;}	
	
.histry-table th{
	text-align:left;
	vertical-align:top;
	padding:12px 25px 10px 0;
	font-weight:normal;
	border-bottom:#999 solid 1px;
	}		
	
.histry-table td{
	padding:12px 0 10px;
	border-bottom:#999 solid 1px;
	}	
.facilities-table {
	margin-top:10px;}	
.facilities-table td{
	padding:5px 0;
	vertical-align:top;}	
	
.facilities-table h3{
	padding:4px 0px 2px 5px;
	margin:10px 0;
	line-height:18px;
	font-weight:bold;
	border-left:#ffa8b9 solid 4px;}	
	
	
	
.admission-index{
	padding-top:50px;
	height:550px;
	
	}	
.admission-guide {
	padding-bottom:20px;}	
.admission-guide h3{
	padding:4px 0px 2px 5px;
	margin:10px 0 15px;
	line-height:18px;
	font-weight:bold;
	border-left:#ffa8b9 solid 4px;}	
	
.admission-guide table{
	border-left:#999 solid 1px;
	border-bottom:#999 solid 1px;
	margin-bottom:25px;
	width:100%;}	
	
.admission-guide th{
	background:#e6e6e6;
	padding:10px 0;
	text-align:center;
	border-right:#999 solid 1px;
	border-top:#999 solid 1px;}	
	
.admission-guide td{
	border-right:#999 solid 1px;
	border-top:#999 solid 1px;
	padding:10px;}
	
.admission-guide td p.entry{
	color: #E4007F;
	margin-bottom:10px;}
	
.admission-guide td dt{
	float:left;
	width:12px;
	clear:both;}
	
.admission-guide td dd{
    float:right;
	width:280px;
	padding-bottom:3px;}
	
.admission-tuition{}	
.admission-tuition table{
	border-left:#999 solid 1px;
	border-bottom:#999 solid 1px;
	margin-bottom:25px;}
.admission-tuition .bd{
	width:100%;}
	
.admission-tuition h3{
	padding:4px 0px 2px 5px;
	margin:10px 0 15px;
	line-height:18px;
	font-weight:bold;
	border-left:#ffa8b9 solid 4px;}	
.admission-tuition th{
	background:#e6e6e6;
	padding:10px 0;
	text-align:center;
	border-right:#999 solid 1px;
	border-top:#999 solid 1px;}	
.admission-tuition td{
	border-right:#999 solid 1px;
	border-top:#999 solid 1px;
	padding:10px 10px 10px 20px;}
	.ML28{
	margin-left:28px;}	
	
	
.inquiry-form table{
	width:100%;
	border-top:1px #999 solid;
	margin:10px 0;}	
	
.inquiry-form th{
	padding:20px 0;
	text-align:center;
	background:#d9d9d9;
	border-bottom:1px #999 solid;}	
	
.inquiry-form td{
	padding:20px 0 15px 40px;
	
	border-bottom:1px #999 solid;}		
	
	
.access-table table{
	width:100%;
	margin-bottom:10px;
	border-top:#999 solid 1px;
	border-right:#999 solid 1px;}	
.access-table th{
	text-align:center;
	font-weight:bold;
	background:#CCC;
	padding:10px 0;
	border-left:#999 solid 1px;
	border-bottom:#999 solid 1px;}		
.access-table td{
	padding:10px 20px 10px;
	border-left:#999 solid 1px;
	border-bottom:#999 solid 1px;}	
	
	
.student-con{
	width:700px;}
		
.student-con h3,	
.student-con h4{
	padding:4px 0px 2px 5px;
	margin:10px 0 15px;
	line-height:18px;
	font-weight:bold;
	border-left:#ffa8b9 solid 4px;}	
	
.newstxt p{
	border:1px #999 solid;
	padding:10px;
	margin-bottom:15px;}	
.student-con li{
	margin-bottom:5px;}	
.student-con .back{
	margin-top:15px;
	padding-top:15px;
	border-top: #999 1px dashed;}	
	
	
.support-index{
	width:100%;

	border-bottom: #ffa8b9 solid 1px;
	margin:0 auto 250px;
	background:url(../images/admission/support/index/index-img.jpg) no-repeat top;
	padding-bottom:20px;}	
	
.support-index .col1{
	border-top: #ffa8b9 solid 1px;
	float:left;
	padding:20px 10px;
	background:url(../images/admission/support/inner-bg.gif) repeat-x top;
	width:250px;}	
	
.support-index .col2{
	border-top: #ffa8b9 solid 1px;
	float:right;
	padding:20px 10px;
	background:url(../images/admission/support/inner-bg.gif) repeat-x top;
	width:250px;}		
	
.support-index .inner{
	padding:10px 10px;
	margin-bottom:30px;
	}	
	
.support-index .inner h4{
	margin-bottom:10px;}	
	
	
.support-index ul{
	padding-left:10px;}	
	
.support-index ul li{
	margin-bottom:15px;}	
	
	
.support-ex{
	padding-bottom:20px;
	width:100%;}
	
.support-ex h3{
	padding:4px 0px 2px 5px;
	margin:10px 0 15px;
	line-height:18px;
	font-weight:bold;
	border-left:#ffa8b9 solid 4px;}	
	
.support-ex table{
	width:100%;
	border-bottom:#999 solid 1px;
	border-left:#999 solid 1px;
	margin:10px 0 20px;}	
	
.support-ex th{
	background:#e6e6e6;
	padding:10px;
	border-right:#999 solid 1px;
	border-top:#999 solid 1px;}	
.support-ex td{
	border-right:#999 solid 1px;
	border-top:#999 solid 1px;
	padding:10px 10px 10px 20px;}	
	
	
	
	
.support-lawn{
	width:100%;
	padding-bottom:20px;}
.support-lawn h4{
	margin-bottom:15px;}	
.support-lawn h5{
	clear:both;}	
	
.support-lawn .col1{
	float:left;
	padding-right:25px;
	 border-right: 1px dotted #CCCCCC;
	width:200px;}	
.support-lawn .col2{
	float:left;
	padding:0 25px;
	 border-right: 1px dotted #CCCCCC;
	width:200px;}	
.support-lawn .col3{
float:right;
	width:200px;}	
.support-lawn ol{
	margin:10px 0;}	
	
.support-lawn li{
	margin-bottom:10px;}	
	
.support-lawn .no01{
	padding-left:20px;
	background:url(../images/admission/support/lawn/icn-no01.gif)  no-repeat;}
	
.support-lawn .no02{
	padding-left:20px;
	background:url(../images/admission/support/lawn/icn-no02.gif)  no-repeat;}	
	
.support-lawn .no03{
	padding-left:20px;
	background:url(../images/admission/support/lawn/icn-no03.gif)  no-repeat;}
	
.support-lawn .no04{
	padding-left:20px;
	background:url(../images/admission/support/lawn/icn-no04.gif)  no-repeat;}		
	
.support-lawn .no05{
	padding-left:20px;
	background:url(../images/admission/support/lawn/icn-no05.gif)  no-repeat;}			
	
.support-lawn .col1 li{
	font-weight:bold;
	color:#ff6699;
	}
.support-lawn .col2 li{
	font-weight:bold;
	color:#91ae40;
	}
.support-lawn .col3 li{
	font-weight:bold;
	color:#8c81b9;
	}
	
.support-lawn .inner .col1,
.support-lawn .inner .col2,	
.support-lawn .inner .col3{
	padding-bottom:10px;
	padding-top:10px;
	}
.support-lawn .col1 a,	
.support-lawn .col1 strong{
	color:#ff6699;}	
.support-lawn .col2 a,	
.support-lawn .col2 strong{
	color:#91ae40;}
.support-lawn .col3 a,	
.support-lawn .col3 strong{
	color:#8c81b9;}	
	

	
.heightLine01{
	height:378px;}		
.heightLine02{
	height:220px;}	
	
.support-lawn-bo{
	margin-top:20px;}	
.support-lawn-bo p{
	font-size:10px;}
	
.attention{
	color:#F00;}	
		
		
		
		
.support-original{
width:100%;
padding-bottom:20px;}	

h6{color: #E4007F;
	font-size:14px;
	font-weight:bold;
	margin-bottom:10px;}
	
	
.support-original h5,		
.support-original h4{
	margin-bottom:15px;}
.support-original caption{
	margin:10px 0;}
.support-original table{
	margin:10px 0;}			
.support-original td{

	vertical-align:top;}

.support-original td p{
	margin:10px 0;}		
	
.supportoriginal .step3{
	background:url(../images/admission/support/original/original-section3-bg.gif)  repeat-y right;}	
		
/*----------------------------------------------------
	特待生コメント
----------------------------------------------------*/

.support-comment dl {
	margin-bottom: 20px;
	overflow: hidden;
	clear: both;
}

.support-comment dt {
	width: 160px;
	float: left;
	font-size: 10px;
}

.support-comment dt h4 {
	font-size: 14px;
	margin:5px 0;
}


.support-comment h3{
	padding:4px 0px 2px 5px;
	margin:10px 0 15px;
	line-height:18px;
	font-weight:bold;
	border-left:#ffa8b9 solid 4px;}	

.support-comment dd h4 {
	padding-bottom: 5px;
	margin-bottom: 5px;

	overflow: hidden;
	border-bottom: 1px #007A7A dotted;
}

.support-comment dd {
	width: 520px;
	float: right;
}

.support-comment dd p {
	margin-bottom: 15px;
	
}	
		