@charset "UTF-8";
/* CSS Document */

#main_area_01{
	font-size:11px;
	line-height:1.5em;
}
	

#main_area_01 .report{
	background: url("../images/campuslife/index-bg-report.gif") repeat left top;
}

#main_area_01 .report td{
	padding:15px;
}

#main_area_01 h4.event_title{
	font-size:120%;
	font-weight:bold;
	border-bottom:1px solid #cccccc;
	padding-bottom:5px;
	margin-bottom:5px;
}

#main_area_01 .date{
	font-size:10px;
	color:#ffa8b9;
	font-weight:bold;
	margin-bottom:10px;
}

#main_area_01 table#events th{
	vertical-align:top;
	text-align:left;
}

#main_area_01 table#events th,td{
	padding:5px 0;
	margin:5px 0;
}

#main_area_01 table#events td{
	padding-top:15px;
	
}

#main_area_01 table#events td.p_l{
	padding-left:40px;
}

#main_area_01 .cap{
	font-size:70%;
}

#main_area_01 table#events td.img{
	padding:0;
	vertical-align:middle;
}

#main_area_01 div.pagenav{
	margin-top:10px;
	margin-bottom:20px;
}

#main_area_01 table.report{
	width:90%;
	margin:20px 30px;}
	
#main_area_01 table.report tr td h4{
	font-size:120%;
	font-weight:bold;
	border-bottom:1px solid #cccccc;
	padding-bottom:5px;
	margin-bottom:5px;
}

#main_area_01 table.report img {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 7px;
}

#main_area_01 .support img{
	vertical-align:top;
	float:left;
}

#main_area_01 img.txt-02 {
    border-bottom: 1px dotted #CCCCCC;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

#main_area_01 img.txt-02 {
    padding-bottom: 15px;
}

#main_area_01 .qualification h4{
	font-size:130%;
	padding-bottom:10px;
	border-bottom: 1px solid #CCCCCC;
    color: #2CB8FF;
    margin: 35px 0 7px;
    padding: 0 0 7px;
	color:#FF6699;
}

#main_area_01 .qualification h3{
	border-left:5px solid #fbaab9;
	font-size:130%;
	font-weight:bold;
	height:20px;
	padding:5px 0 0 10px;
	margin:40px 0 20px 0;
}
	
#main_area_01 .check{
	background: url("../images/campuslife/index-bg-report.gif") repeat left top;
	padding:20px;
	margin-bottom:20px;
}

#main_area_01 .check h4{
	margin:0 0 10px 0;
}

#main_area_01 .recruitment img{
	vertical-align:top;
}

#main_area_01 .recruitment .txt-01 {
    padding-bottom: 15px;
}

#main_area_01 .recruitment img.txt-02 {
    border-bottom: 1px dotted #CCCCCC;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

#main_area_01 .recruitment h4{
	font-size:130%;
	padding-bottom:10px;
	border-bottom: 1px solid #CCCCCC;
    color: #2CB8FF;
    margin: 35px 0 7px;
    padding: 0 0 7px;
	color:#FF6699;
}

#main_area_01 .recruitment h3{
	border-left:5px solid #fbaab9;
	font-size:130%;
	font-weight:bold;
	height:20px;
	padding:5px 0 0 10px;
	margin:40px 0 20px 0;
}

.reportpage {
	padding-bottom:100px;}
	
	
.reportpage h3{
	padding:4px 0px 2px 5px;
	margin:10px 0;
	font-size:16px;
	line-height:18px;
	font-weight:bold;
	border-left:#997c0d solid 4px;}	
	
.maintxt{
	font-size:12px;}
	
