@charset "UTF-8";

table.bd {
	border-bottom:1px solid #ccc;
	width:100%;
	border-left:1px solid #ccc;
	margin-top:25px;
}
table.bd th {
	background:#E6E6E6;
	padding:10px;
	vertical-align:top;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}
table.bd td {
	padding:10px;
	vertical-align:top;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}