@charset "UTF-8";

.history td,.history th {
	padding:10px 0 10px;
	border-bottom:1px solid #ccc;
	vertical-align:top;
}
.history th {
	text-align:left;
	padding-right:25px;
	font-weight:normal;
}
.history #main .imgR {
	margin-top:35px;
}

.facilities td {
	padding:0 15px 10px 0;
	vertical-align:top;
	font-size:10px;
	color:#666;
}
.facilities td h3 {
	font-size:12px;
	border-left:3px solid #2CB8FF;
	padding-left:7px;
	color:#333;
}
.facilities td p {
	margin-bottom:15px;
}
.facilities p {
	margin-bottom:20px;
}
.index #main .section1 p {
	font-size:11px;
	line-height:1.5em;
}
.index #main .section1 ul {
	margin-top:10px;
}
.index #main .section1 ul a:link,.index .section1 ul a:visited {
	color:#FF6699;
	text-decoration:underline;
}
.index #main .section1 ul a:hover {
	color:#2FBBFF;
}
.index #main .section1 li {
	padding-left:15px;
	background:url(../school/img/icon.gif) no-repeat 0 0.5em;
}