@charset "UTF-8";

h2 {
	padding-bottom:15px;
}
#main dl{
	padding-top:20px;
	}
#main .col1 {
	float:left;
	width:300px;
	}
#main .col2 {
	float:right;
	width:300px;
	}
#main dt,
#main li{
	padding-top:8px;
	padding-bottom:8px;
	border-bottom:1px solid #ccc;
	}
	
#main dt a{
	padding-left:20px;
	background:url(../sitemap/img/icn-circle-01.gif) 0 0 no-repeat;
	font-weight:bold;
	}
	
#main .top li a{
	padding-left:20px;
	background:url(../sitemap/img/icn-circle-02.gif) 0 0 no-repeat;
	}

#main li a{
	padding-left:20px;
	background:url(../sitemap/img/icn-circle-03.gif) 0 1px no-repeat;
	}

#main ul ul{
	padding-top:8px;
	overflow:hidden;
	padding-bottom:0;
	}
	
#main ul ul li{	
	border-top:1px solid #ccc;
	border-bottom:none;
	padding-left:20px;
	}
#main .sub {
	padding-bottom:0;
}