@charset "UTF-8";

h3 {
	border-left:5px solid #2CB8FF;
	padding-left:7px;
	color:#333;
	margin:35px 0 15px;
	font-size:14px;
	font-weight:bold;
}
h3.download {
	margin:0 0 15px;
}
#main .section1 {
	margin:0 0 35px;
}
h4{
	border:1px solid #ccc;
	padding:7px 10px;
	margin-bottom:10px;
	font-weight:bold;
}
.date {
	font-size:10px;
	color:#666;
	margin-bottom:10px;
}
.newstxt p {
	margin-bottom:10px;
}
#main a:link {
	color:#FF6699;
	text-decoration:underline;
}
#main a:visited {
	color:#FF6699;
	text-decoration:none;
}
#main a:hover {
	color:#666;
	text-decoration:none;
}
.newstxt li {
	background:url(../student/img/icon.gif) no-repeat 0 0.6em;
	padding-left:10px;
	margin-bottom:5px;
}
.back {
	padding-top:15px;
	margin-top:25px;
	border-top:dotted 1px #CCC;
}
.back li {
	background:url(../student/img/icon2.gif) no-repeat 0 0.6em;
	padding-left:10px;
	margin-bottom:5px;
}