@charset "utf-8";
/* CSS reset */

*{  margin: 0px;
	padding: 0px;
}

html ,body {height: 100%}

html{ 
    overflow-y:auto;
	overflow-x:none;
 } 


img { border: none; 
      vertical-align:bottom;}

a { border: none;
    color:#333;
    text-decoration: none;}
	
a:hover { color:#999;
          text-decoration: underline;}


h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;}
	
	
ol, ul, li, dl, dt, dd {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
}

/* 要素CSS */

body{
	text-align:center;
	line-height:1.5em;
	margin:0 auto;
	height:100%;
	width:100%;
	color:#333;
	font-size:12px;
	font-family:"Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "Osaka",  sans-serif; 
	background:#fee6e6;}
	


.left{
	float:left;}
	
.right{
	float:right;}
	
.clear{
	clear: both;}
	
	
.clearfix {width:100%;}

.clearfix:after{
    content: ""; 
    display: block; 
    clear: both;}

.clr{
	clear: both;
	font-size:0px;
	line-height:0px;
	margin: 0px;
	padding: 0px;
}

/*画像*/


/*font*/

.F10{
	font-size:10px;}


/*link*/

.link{
	padding-left:10px;
	background:url(../images/common/parts/icon.jpg) no-repeat left;
	}
	
.h4_line{
	border-left:5px solid #fbaab9;
	font-size:130%;
	font-weight:bold;
	height:20px;
	padding:5px 0 0 10px;
	}
	
/*margin*/

.MT5{
	margin-top:5px;}	
.MT10{
	margin-top:10px;}	
.MT15{
	margin-top:15px;}
.MT20{
	margin-top:20px;}	
.MT25{
	margin-top:25px;}	
.MT30{
	margin-top:30px;}	
.MT35{
	margin-top:35px;}	
.MT40{
	margin-top:40px;}	
.MT45{
	margin-top:45px;}	
.MT50{
	margin-top:50px;}

.MR3{
	margin-right:3px;}
.MR5{
	margin-right:5px;}	
.MR10{
	margin-right:10px;}	
.MR15{
	margin-right:15px;}
.MR20{
	margin-right:20px;}	
.MR25{
	margin-right:25px;}	
.MR30{
	margin-right:30px;}	
.MR35{
	margin-right:35px;}	
.MR40{
	margin-right:40px;}	
.MR45{
	margin-right:45px;}	
.MR50{
	margin-right:50px;}

	
.MB5{
	margin-bottom:5px;}	
.MB10{
	margin-bottom:10px;}	
.MB15{
	margin-bottom:15px;}
.MB20{
	margin-bottom:20px;}	
.MB25{
	margin-bottom:25px;}	
.MB30{
	margin-bottom:30px;}	
.MB35{
	margin-bottom:35px;}	
.MB40{
	margin-bottom:40px;}	
.MB45{
	margin-bottom:45px;}	
.MB50{
	margin-bottom:50px;}


	
.ML5{
	margin-left:5px;}	
.ML10{
	margin-left:10px;}	
.ML15{
	margin-left:15px;}
.ML20{
	margin-left:20px;}	
.ML25{
	margin-left:25px;}	
.ML30{
	margin-left:30px;}	
.ML35{
	margin-left:35px;}	
.ML40{
	margin-left:40px;}	
.ML45{
	margin-left:45px;}	
.ML50{
	margin-left:50px;}



/* link */
/*a{color: #FF6699; text-decoration:none;}
a:link{color: #FF6699; text-decoration: none;}
a:visited{color: #FF66990; text-decoration:none;}
a:hover{color: #FF6699; text-decoration: underline;}*/
