@charset "UTF-8";

h3 {
	border-left:5px solid #2CB8FF;
	padding-left:7px;
	color:#333;
	margin:35px 0 0;
	font-size:14px;
	font-weight:bold;
}
h4{
	border-bottom:1px solid #ccc;
	padding:0 0 7px;
	margin:25px 0 7px;
	color:#2CB8FF;
	font-size:14px;
}
.pagenav {
	color:#CCC;
}
.check {
	background:url(../support/img/index-bg-check.gif);
	padding:20px 30px;
	margin-top:25px;
}
.check h4 {
	margin:0 0 7px;
	color:#FF6699;
}
img.txt-03 {
	padding-bottom:15px;
}
img.txt-02 {
	padding-bottom:25px;
	border-bottom:1px dotted #CCC;
	margin-bottom:25px;
}
img.txt-04 {
	padding-top:25px;
}
.point {
	padding:15px;
	border:2px dotted #E6D79F;
	margin:20px 0;
}
.point h3 {
	border:none;
	margin:0 0 10px 0;
	padding:0;
}

.point strong {
	color:#F36;
}
.point p.attention {
	font-size:10px;
	margin-top:15px;
}