/* CSS Document */

div.mainimg {
	height: 350px;
	background-color: #000000;
}

h2 {
	display: none;
}

div.l1 {
	width: 440px;
	overflow: hidden;
	margin-bottom: 30px;
	float: left;
}
div.l1 h3 {
	background-image: url(../img/top/l1_title.gif);
	height: 35px;
	margin-bottom: 10px;
}
div.l1-1 {
	width: 100%;
	background-color: #E9E9E9;
	overflow: hidden;
}
div#l1-w {
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 420px;
	background-color: #FFFFFF;
	height: 240px;
	overflow: scroll;
	overflow-x: hidden;
	scrollbar-base-color: #E9E9E9;
}
div#l1-w div {
	margin-top: 10px;
	margin-left: 10px;
	padding-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
	width: 96%;
	_border-bottom-color: #DFDFDF;
	_border-bottom-style: solid;
	overflow: hidden;
}
div.l1-1 img {
	float: left;
}
div.l1-1 dl {
	width: 270px;
	_width: 255px;
	float: right;
}


div.l2 {
	width: 230px;
	float: right;
}
div.l2 h3 {
	background-image: url(../img/top/l2_title.gif);
	height: 45px;
	margin-bottom: 0px;
}
div#blog {
	width: 228px;
	height: 260px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #E9E9E9;
	border-bottom-color: #E9E9E9;
	border-left-color: #E9E9E9;
	overflow: hidden;
	text-align: center;
}

div#blog div {
	margin-top: 5px;
}

div#blog a {
	float: right;
	margin-right: 5px;
	font-size: 10px;
}


div.l3 {
	clear: both;
}

div.l3 h3 {
	background-image: url(../img/top/l3_title.gif);
	height: 35px;
}

div.l3 table {
	width: 100%;
	border-top-width: 1px;
	border-right-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
}
div.l3 td {
	padding: 10px;
	width: 50%;
	vertical-align: top;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}

div.l3 img {
	margin-bottom: 10px;
}
div.l3 h4 {
	text-indent: 0px;
	font-weight: normal;
}
div.l3 h4 a {
	font-size: 16px;
	text-decoration: none;
	font-weight: bold;
}
div.l3 h4 a:hover {
	text-decoration: underline;
}

h4#l3-1 a {
	color: #4040BF;
}
h4#l3-2 a {
	color: #FF2B2B;
}
h4#l3-3 a {
	color: #5BBA47;
}
h4#l3-4 a {
	color: #FF7300;
}