/*--トータルビューティ--*/
#mainContent article section h2 {
	background:url("../images/course/total/bg_title.png") no-repeat scroll 0 0 transparent;	
}
#mainContent article section .carriImg dd {
	color: #EA6D99;	
}
#mainContent article section .photoR dt {
	background: url("../images/course/total/dotline.png") repeat-x scroll left bottom transparent;
	color: #EA6D99;
}
#mainContent article section .oneClmn dt {
	color: #EA6D99;
}
#mainContent article section .twoClmn dt {
	color: #EA6D99;
}
#mainContent article section .seniorOb dt, #mainContent article section .seniorCur dt {
	background: url("../images/course/total/dotline.png") repeat-x scroll left bottom transparent;
	color: #EA6D99;
}
#mainContent article section .seniorCur .photo:before {
	content: url("../images/course/total/label_cur.png");
}
#mainContent article section .seniorOb .photo:before {
	content: url("../images/course/total/label_ob.png");
}