@charset "utf-8";
/*------------------------
　メインエリア　
------------------------*/

#main #content .admission_content h2 {
	margin-bottom:15px;
}

#main #content .admission_content .admission_table_01 {
	width:685px;
	margin-bottom:30px;
}

#main #content .admission_content .admission_table_01 th {
	background:#f28cbb;
	color:#fff;
	vertical-align:middle;
	font-size:12px;
	letter-spacing:0.5px;
}

#main #content .admission_content .admission_table_01 thead th:first-child {
	border-left:none;
}

#main #content .admission_content .admission_table_01 thead th {
	border-left:1px solid #fff;
	border-bottom:1px solid #fff;
	line-height:36px;
}

#main #content .admission_content .admission_table_01 thead th:last-child {
	border-right:1px solid #f28cbb;
}

#main #content .admission_content .admission_table_01 tbody th {
	font-size:13px;
	font-weight:bold;
	line-height:16px;
	border-bottom:1px solid #f28cbb;
}

#main #content .admission_content .admission_table_01 tbody th:last-child {
	border-right:1px solid #f28cbb;
}

#main #content .admission_content .admission_table_01 tbody th p {
	margin:0 0 5px;
}

#main #content .admission_content .admission_table_01 td {
	vertical-align:middle;
	line-height:34px;
	font-size:13px;
	text-align:center;
	border-right:1px solid #8e8e8e;
	border-bottom:1px solid #8e8e8e;
}

#main #content .admission_content .admission_table_01 td.td_left {
	text-align:left;
	padding-left:10px;
}

#main #content .admission_content .admission_table_01 colgroup.sec_01 {
	width:100px;
}

#main #content .admission_content .admission_table_01 colgroup.sec_02 {
	width:250px;
}

#main #content .admission_content .admission_table_01 colgroup.sec_03 {
	width:110px;
	vertical-align:middle;
	text-align:center;
}

#main #content .admission_content .admission_table_01 colgroup.sec_04 {
	width:80px;
}

#main #content .admission_content .admission_table_01 colgroup.sec_05 {
	width:170px;
}

#main #content .admission_content .admission_table_01 colgroup.sec_06 {
	width:150px;
}

#main #content .admission_content .admission_table_01 colgroup.sec_07 {
	width:90px;
}

#main #content .admission_content .admission_table_01 colgroup.sec_08 {
	width:200px;
}

#main #content .admission_content .admission_table_01 colgroup.sec_09 {
	width:120px;
}

#main #content .admission_content .admission_table_01 colgroup.sec_10 {
	width:300px;
}

#main #content .admission_content .admission_table_01 colgroup.sec_11 {
	width:60px;
}

#main #content .admission_content .admission_list_01 {
	width:686px;
	height:282px;
	background:url(../images/admission/bg_nitte.png) left top no-repeat;
	position:relative;
	margin:0 0 30px;
}

#main #content .admission_content .admission_list_01 li {
	position:absolute;
}

#main #content .admission_content .admission_list_01 li.a_li_01 {
	top:42px;
	left:90px;
}

#main #content .admission_content .admission_list_01 li.a_li_02 {
	top:81px;
	left:181px;
}

#main #content .admission_content .admission_list_01 li.a_li_03 {
	top:120px;
	left:271px;
}

#main #content .admission_content .admission_list_01 li.a_li_04 {
	top:160px;
	left:271px;
}

#main #content .admission_content .admission_list_01 li.a_li_05 {
	top:200px;
	left:271px;
}

#main #content .admission_content .admission_list_01 li.a_li_06 {
	top:240px;
	left:390px;
}

#main #content .admission_content .admission_list_01 li.a_li_07 {
	top:240px;
	left:450px;
}

#main #content .admission_content .admission_list_01 li.a_li_08 {
	top:240px;
	left:568px;
}

#main #content .admission_content .admission_dl_01 {
	width:686px;
	margin-bottom:5px;
}

#main #content .admission_content .admission_dl_01 dt {
	background:url(../images/admission/bg_hoho_arrow.png) left top no-repeat;
	width:130px;
	height:45px;
	color:#fff;
	text-align:center;
	font-size:17px;
	font-weight:bold;
	margin:0 8px 0 0;
	padding:25px 47px 0 0;
	float:left;
}

#main #content .admission_content .admission_dl_01 dd {
	background:url(../images/admission/bg_hoho_waku.png) left top no-repeat;
	width:465px;
	height:60px;
	line-height:15px;
	padding-left:21px;
	padding-right:15px;
	float:left;
}

#main #content .admission_content .admission_dl_01 dd.a_dl_01 {
	padding-top:22px;
}

#main #content .admission_content .admission_dl_01 dd.a_dl_02 {
	padding-top:15px;
}

#main #content .admission_content .admission_btn_01 li:first-child {
	margin-left:0}

#main #content .admission_content .admission_btn_01 li {
	margin-left:20px;}

#main #content .admission_content {}


#main #content #daytime table td.pd0,
#main #content #correspondence table td.pd0 {
	padding: 0;
}

/* 昼間課 */
#main #content #daytime {
	background: #fff;
	float: right;
	padding: 20px;
	width : 685px !important;
}

#main #content #daytime table th {
	width: 189px;
	color: #fff;
	background: #e487b2;
	vertical-align: middle;
	text-align: center;
	font-size: 12px;
	border: 1px solid #fff;
	border-right: none;
}

#main #content #daytime table td {
	color: #000;
	background: #fff;
	width: 490px;
	font-size: 12px;
	padding: 10px 0 10px 15px;
	border: 1px solid #c6c6c6;
	border-left: none;
}

#main #content #daytime table td .bold {
	font-weight: bold;
	letter-spacing: normal;
}

#main #content #daytime table .row2 {
	width: 47px;
}
#main #content #daytime table .row2 p {
	width: 20px;
	margin: 0 auto;
}

#main #content #daytime table .th_w140 {
	width: 140px;
	background: #e487b2;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	padding: 0;
	border: 1px solid #fff;
	border-right: none;
}

#main #content #daytime table .td_ttl {
	letter-spacing: -0.5px;
}

#main #content #daytime table dl {
	overflow: hidden;
}

#main #content #daytime table dt {
	float: left;
}

#main #content #daytime table .dd_left {
	float: left;
	width: 210px;
}

#main #content #daytime table dl.ao_left dd {
	float: left;
	width: 460px;
}

#main #content table ul .notes {
	color: #0c9ce5;
}

#main #content table .notes02 {
	color: #0c9ce5;
	padding-left: 3px;
}

#main #content #daytime table ul .small {
	font-size: 8px;
}

#main #content #daytime  h3 {
	margin: 40px 0 10px 0;
}

#main #content #daytime table.entry th {
	line-height: 32px;
}

#main #content #daytime table.entry td {
	padding: 0;
}

#main #content #daytime p.saloon {
	margin-top: -25px;
}

#main #content #daytime table.recommend td {
	text-align: left
}

#main #content #daytime table .rec_dl dd {
	padding-left: 20px;
}

#main #content #daytime table .notes03 {
	color: #ed5ea0;
}

#main #content #daytime table table.general_table th,
#main #content #correspondence table table.general_table th {
	color: #000;
	background: #fff;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #c6c6c6;
	border-top: none;
	border-right: none;
	width: 135px;
}

#main #content #daytime table table.general_table td,
#main #content #correspondence table table.general_table th {
	color: #000;
	background: #fff;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #c6c6c6;
	border-bottom: none;
	padding: 0;
	border-right: none;
	width: 135px;
}

#main #content #daytime table table.general_table th:first-child,
#main #content #daytime table table.general_table td:first-child {
	border-left: none;
	width: 300px;
}

/* 通信課 */
#main #content #correspondence {
	background: #fff;
	float: right;
	padding: 20px;
	width : 685px !important;
}

#main #content #correspondence p {
	margin-bottom: 5px;
}

#main #content #correspondence table table.general_table td:last-child {
	border-right: none;
}
#main #content #correspondence table table.general_table th:first-child,
#main #content #correspondence table table.general_table td:first-child {
	border-left: none;
}

#main #content #correspondence table tr.bor_tn td{
	border-top: none;
}

#main #content #correspondence table table.general_table td {
	padding: 3px 5px;
}

#main #content #correspondence table .bor_bt0 {
	border-bottom: none;
}

#main #content #correspondence table th {
	border-bottom: 1px solid #fff;
}

#main #content #correspondence table td {
	text-align: left;
	padding: 5px 0 5px 15px;
	line-height: normal;
	border: 1px solid #c6c6c6;
}

#main #content #correspondence table table.general_table th,
#main #content #correspondence table table.general_table td {
	text-align: center;
	vertical-align: middle;
}

#main #content #correspondence table th.bor_tp {
	border-top: 1px solid #f28cbb;
}
#main #content #correspondence table th.bor_bp {
	border-bottom: 1px solid #f28cbb;
}

/* 学費 */
#main #content #tuition {
	background: #fff;
	float: right;
	padding: 20px;
	width : 685px !important;
}

#main #content #tuition table th {
	color: #fff;
	background: #f28cbb;
	border: 1px solid #fff;
	text-align: center;
	vertical-align: middle;
	table-layout: fixed;
	width: 130px;
}

#main #content #tuition table td {
	border: 1px solid #c6c6c6;
	text-align: center;
	vertical-align: middle;
	table-layout: fixed;
	width: 61px;
}

#main #content #tuition h3.ttl_course {
	margin-top: 45px;
}

#main #content #tuition table th.bor_tp {
	border-top: 1px solid #f28cbb;
}
#main #content #tuition table th.bor_bp {
	border-bottom: 1px solid #f28cbb;
}

#main #content #tuition ul {
	margin: 8px 0 45px 0;
}

#main #content #tuition ul .list_ind {
	padding-left: 18px;
}

#main #content #tuition table td:last-child {
	width: 62px;
}

#main #content #tuition table.cor_table th {
	width: 120px;
}

#main #content #tuition table.cor_table .th_s {
	width: 60px;
}

#main #content #tuition table.cor_table td {
	width: 100px;
}

#main #content #tuition table.cor_table td:last-child {
	width: 120px;
}
