@charset "utf-8";
/*------------------------
　学科紹介
------------------------*/


/*美容科*/

.course_sec_01,
.course_sec_02
{
	margin:0 0 60px;
}
.beauty_content p {
	font-size:13px;
	line-height:1.7em;
}
.beauty_content .course_sec_01 h2,
.beauty_content .course_sec_02 h2,
.beauty_content .course_sec_03 h2
{
	display:block;
	margin:0 0 15px
}
.beauty_content ul#tokucho {
	width:100%;
	height:363px;
	margin:10px 0 0;
	overflow:hidden;
	display:block;
}
.beauty_content ul#tokucho h3 {
	 line-height: 0;
}
.beauty_content ul#tokucho li {
	float:left;
	display:block;
	width:193px;
	height:255px;
	border:1px solid #ffa83f;
	margin:0 20px 0 0;
	padding:0 10px 10px;
	background:url(/common/images/course/beauty/bg_h3_tokucho.gif) no-repeat center top;
}
.beauty_content ul#tokucho li:last-child {
	margin:0;
}
.beauty_content ul#tokucho li h4.point {
	font-size:14px;
	line-height:14px;
	font-weight:bold;
	color:#FFF;
	height:38px;
	padding:10px 0 0;
}
ul#tokucho li h4.tit_tokucho {
	font-size:16px;
	line-height:22px;
	font-weight:bold;
	color:#ffa83f;
	margin:0 0 10px;
}
.beauty_content ul#tokucho li p {
	font-size:12px;
}
.beauty_content .course_sec_02 p.top_comment {
	font-size:14px;
	line-height:25px;
	overflow:hidden;
}
.beauty_content .course_sec_02 p.top_comment img {
	float:right;
	margin:0 0 15px 15px;
}
.beauty_content .course_sec_02 ul#curriCnts01,
.beauty_content .course_sec_02 ul#curriCnts02
{
	width:100%;
	overflow:hidden;
	display:block;
}
.beauty_content .course_sec_02 ul#curriCnts01 li {
	width:332px;
	height:395px;
	float:left;
	display:block;
	margin:0 21px 0 0;
}
.beauty_content .course_sec_02 ul#curriCnts01 li:nth-child(2n) {
	margin:0;
}
.beauty_content .course_sec_02 ul#curriCnts01 li h3 {
	width:100%;
	height:28px;
	padding:12px 0 0;
	font-size:18px;
	line-height:18px;
	font-weight:bold;
	color:#FFF;
	text-align:center;
	background:#ffa83f;
	margin:0 0 15px;
}
.beauty_content .course_sec_02 ul#curriCnts01 li>p {
	margin:15px 0 0;
}

.beauty_content .course_sec_02 ul#curriCnts02{
	margin:0 0 50px;
}
.beauty_content .course_sec_02 ul#curriCnts02 li {
	background:url(/common/images/course/beauty/list_curri.gif) no-repeat left top;
	padding:0 0 0 18px;
	float:left;
	display:block;
	margin:0 20px 10px 0;
	line-height:1;
}
.beauty_content .course_sec_02 ul#curriCnts02 li.clear {
	clear:left;
}

.beauty_content .course_sec_02 #shikaku01 {
	background:url(/common/images/course/beauty/bg_curriculum.gif) repeat left top;
	padding:20px 20px 10px;	
	margin:0 0 50px;
}
.beauty_content .course_sec_02 #shikaku01 ul#shikakuCnts h4 {
	font-size:15px;
	line-height:26px;
	font-weight:bold;
	color:#ff9a22;
}
.beauty_content .course_sec_02 #shikaku01 ul#shikakuCnts h5 {
	color:#ff9a22;
	margin:5px 0 0;
}
.beauty_content .course_sec_02 #shikaku01 ul#shikakuCnts p {
	margin:0 0 20px;
}
.beauty_content .course_sec_02 #shikaku01 ul#shikakuCnts{
	margin:15px 0;	
}
.beauty_content .course_sec_02 #shikaku01 ul#shikakuCnts li {
	margin:0 0 10px;
}
.beauty_content .course_sec_02 #shikaku02 {
	background:url(/common/images/course/beauty/bg_shikaku02.gif) repeat left top;
	padding:20px 20px 20px 45px;
	overflow:hidden;
	position:relative;
}
p.shikaku_img01 {
	position:absolute;
	right:10px;
	top:80px;
}

.course_sec_03 h3 {
	margin:0 0 10px;
}
.course_sec_03 ul.comment03 {
	margin:0 0 60px;
}
.course_sec_03 ul.comment03 li {
	border:1px solid #ff9a22;
	padding:20px;
	overflow:hidden;
	margin:0 0 20px;
	position:relative;
}
.course_sec_03 ul.comment03 h4 {
	font-size:17px;
	line-height:20px;
	font-weight:bold;
	color:#ff9a22;
	padding:0 0 5px;
	margin:0 0 10px;
	border-bottom:1px dashed #ff9a22;
}
.course_sec_03 ul.comment03 img.left {
	float:left;
	margin:0 10px 0 0;
}
.course_sec_03 ul.comment03 li p.img01_st {
	position:absolute;
	bottom:0;
	right:15px;
	line-height:0;
}
.course_sec_03 ul.comment03 li p.img02_st {
	position:absolute;
	bottom:0;
	right:0;
	line-height:0;
}

.course_sec_04 {
	background:url(/common/images/course/beauty/bg_comment04.gif) repeat left top;
	padding: 30px 20px 10px 45px;
	position:relative;
}
.course_sec_04 h3 {
	margin:0 0 15px;
}
.course_sec_04 p.txt04 {
	width:333px;
	margin:0 0 15px;
}
.course_sec_04 h4 {
	width:145px;
	text-align:center;
	font-size:14px;
	line-height:14px;
	font-weight:bold;
	color:#FFF;
	background:#ff9a22;
	padding:10px 5px;
	margin:0 0 10px;
}
.course_sec_04 p.img04 {
	position:absolute;
	right:10px;
	top:25px;
}