@charset "utf-8";
/*------------------------
　学科紹介
------------------------*/


/*通信課程*/

.correspondence_content .course_sec_01 h2 {
	text-align:center;
	margin:0 0 15px;
}

.dlc_cnts {
	border:#d3f0c2 5px solid;
	margin:0 0 20px;
	padding:20px;
}
h3.h3_txt {
	font-size:15px;
	line-height:20px;
	font-weight:bold;
	text-align:center;
	margin:0 0 15px;
}
.dlc_green {
	color:#0ca938;
}
ul.dlc_li_2, ul.dlc_li_3 {
	overflow:hidden;
}
ul.dlc_li_2 li {
	float:left;
	display:block;
	width:290px;
	margin:0 13px;
}
ul.dlc_li_3 li {
	float:left;
	display:block;
	width:200px;
	margin: 0 17px 0 0;
}
ul.dlc_li_3 li:last-child {
	margin:0;
}
ul.dlc_li_2 h4, ul.dlc_li_3 h4 {
	border:3px solid #0ca938;
	color:#0ca938;
	font-size:15px;
	line-height:15px;
	font-weight:bold;
	text-align:center;
	padding:10px 0;
	margin:0 0 15px;
}
ul.dlc_li_2 li p, ul.dlc_li_3 li p {
	line-height:22px;
}
ul.dlc_li_3 > li >  p {
	height:110px;
}
p#jump_ippan {
	width:200px;
	height:52px;
	padding:29px 0 0;
	background:url(/common/images/course/correspondence/bg_jump_ippan.gif) no-repeat center top;
}
p#jump_salon
 {
	width:200px;
	height:52px;
	padding:29px 0 0;
	background:url(/common/images/course/correspondence/bg_jump_salon.gif) no-repeat center top;
}


h3.h3_img {
	text-align:center;
	margin:0 0 13px;
}
p.dlc_comment {
	text-align:center;
	font-size:13px;
	line-height:22px;
}
.dlc_cnts h4.ippan, .dlc_cnts h4.salon {
	color:#fff;
	font-size:16px;
	line-height:16px;
	font-weight:bold;
	width:96px;
	height:22px;
	padding:6px 0 0 15px;
	margin:0 0 15px;
}
.dlc_cnts h4.ippan {
	background:url(/common/images/course/correspondence/bg_h4_ippan_april.gif) no-repeat left top;
}
.dlc_cnts h4.salon {
	background:url(/common/images/course/correspondence/bg_h4_salon_april.gif) no-repeat left top;
}
.dlc_cnts p.dlc_sche {
	margin:0 0 15px;
}

#dlc_qa {
	background:url(/common/images/course/correspondence/bg_dlc_qa.gif) repeat left top;
	padding:20px 20px 8px; 
	overflow:hidden;
}
#dlc_qa dl {
	display:block;
	float:left;
	width:285px;
	height:150px;
	padding:10px;
	background:#fff;
	border:1px solid #d3f0c2;
	margin:0 6px 12px 6px;
}
#dlc_qa dl dt {
	padding:5px 0 15px 40px;
	background:url(/common/images/course/correspondence/list_qa_q.gif) no-repeat left top;
	font-size:15px;
	line-height:17px;
	font-weight:bold;
	color:#00a4e8;
}
#dlc_qa dl dd {
	padding:0 0 0 40px;
	background:url(/common/images/course/correspondence/list_qa_a.gif) no-repeat left top;
	line-height:18px;
}