@charset "utf-8";
/*------------------------
　学科紹介
------------------------*/


/*エステティック科*/

.course_sec_01,
.course_sec_02
{
	margin:0 0 60px;
}
.esthe_content p {
	font-size:13px;
	line-height:1.7em;
}
.esthe_content .course_sec_01 h2,
.esthe_content .course_sec_02 h2,
.esthe_content .course_sec_03 h2
{
	display:block;
	margin:0 0 15px
}
.esthe_content ul#tokucho {
	background:url(/common/images/course/esthetic/bg_tokucho.jpg) no-repeat left top;
	width:100%;
	height:363px;
	margin:10px 0 0;
	overflow:hidden;
	display:block;
}
.esthe_content ul#tokucho h3 {
	 margin:0;
}
.esthe_content ul#tokucho li {
	float:left;
	display:block;
	width:193px;
	height:265px;
	border:1px solid #d083d7;
	margin:0 20px 0 0;
	padding:0 10px 10px;
	background:url(/common/images/course/esthetic/bg_h3_tokucho.gif) no-repeat center top;
}
.esthe_content ul#tokucho li:last-child {
	margin:0;
}
.esthe_content ul#tokucho li h4.point {
	font-size:14px;
	line-height:14px;
	font-weight:bold;
	color:#FFF;
	height:38px;
	padding:10px 0 0;
}
ul#tokucho li h4.tit_tokucho {
	font-size:16px;
	line-height:22px;
	font-weight:bold;
	color:#a64a97;
	margin:0 0 5px;
}
.esthe_content ul#tokucho li p {
	font-size:12px;
}
.esthe_content .course_sec_02 p.top_comment {
	font-size:14px;
	line-height:25px;
	overflow:hidden;
}
.esthe_content .course_sec_02 p.top_comment img {
	float:right;
	margin:0 0 15px 15px;
}
.esthe_content .course_sec_02 ul#curriCnts01,
.esthe_content .course_sec_02 ul#curriCnts02
{
	width:100%;
	overflow:hidden;
	display:block;
}
.esthe_content .course_sec_02 ul#curriCnts01 li {
	width:332px;
	height:380px;
	float:left;
	display:block;
	margin:0 21px 0 0;
}
.esthe_content .course_sec_02 ul#curriCnts01 li:nth-child(2n) {
	margin:0;
}
.esthe_content .course_sec_02 ul#curriCnts01 li h3 {
	width:100%;
	height:28px;
	padding:12px 0 0;
	font-size:18px;
	line-height:18px;
	font-weight:bold;
	color:#FFF;
	text-align:center;
	background:#d083d7;
	margin:0 0 15px;
}
.esthe_content .course_sec_02 ul#curriCnts01 li>p {
	margin:15px 0 0;
}

.esthe_content .course_sec_02 ul#curriCnts02{
	margin:0 0 50px;
}
.esthe_content .course_sec_02 ul#curriCnts02 li {
	background:url(/common/images/course/esthetic/list_curri.gif) no-repeat left top;
	padding:0 0 0 18px;
	float:left;
	display:block;
	margin:0 20px 10px 0;
	line-height:1;
}
.esthe_content .course_sec_02 ul#curriCnts02 li.clear {
	clear:left;
}

.esthe_content .course_sec_02 #shikaku01 {
	background:url(/common/images/course/esthetic/bg_curriculum.gif) repeat left top;
	padding:20px 20px 10px;	
	margin:0 0 50px;
}
.esthe_content .course_sec_02 #shikaku01 ul#shikakuCnts h4 {
	font-size:15px;
	line-height:26px;
	font-weight:bold;
	color:#a64a97;
}
.esthe_content .course_sec_02 #shikaku01 ul#shikakuCnts p {
	margin:0 0 20px;
}
.esthe_content .course_sec_02 #shikaku01 ul#shikakuCnts{
	margin:15px 0;	
}
.esthe_content .course_sec_02 #shikaku01 ul#shikakuCnts li {
	margin:0 0 10px;
}
.esthe_content .course_sec_02 #shikaku02 {
	background:url(/common/images/course/esthetic/bg_shikaku02.gif) no-repeat left top;
	padding:20px 20px 20px 45px;
	overflow:hidden;
	position:relative;
}
p.shikaku_img01 {
	position:absolute;
	right:30px;
	top:15px;
}
.esthe_content .course_sec_02 #shikaku02 dl {
	width:510px;
	display:block;
	overflow:hidden;
	margin:10px 0 0;
	background:url(/common/images/course/esthetic/bg_shikaku02_2.gif) no-repeat right top;
}
.esthe_content .course_sec_02 #shikaku02 dt,
.esthe_content .course_sec_02 #shikaku02 dd
{
	float:left;
	display:block;
	height:87px;
	margin:0 0 20px;
}
.esthe_content .course_sec_02 #shikaku02 dt {
	width:76px;
	margin:0 14px 0 0;
}
.esthe_content .course_sec_02 #shikaku02 dd {
	width:410px;
}
.esthe_content .course_sec_02 #shikaku02 dd h4 {
	font-size:14px;
	line-height:14px;
	font-weight:bold;
	color:#a64a97;
	padding:13px 0 5px;
}
.esthe_content .course_sec_02 #shikaku02 dd p {
	line-height:21px;
}
.esthe_content .course_sec_02 ul#senka01 {
	display:block;
	float:left;
	width:195px;
}
.esthe_content .course_sec_02 ul#senka01 li {
	background:url(/common/images/course/esthetic/list_senka.gif) no-repeat left top #FFF;
	border-bottom:1px solid #fbe5ff;
	padding:0 0 0 21px;
}
.esthe_content .course_sec_02 ul#senka01 li:last-child {
	border:none;
}
#senka02 {
	width:393px;
	float:right;
	border:1px dashed #a64a97;
	padding:10px;
}
.txt_senka02 {
	font-size:12px;
	font-weight:bold;
	line-height:12px;
	color:#a64a97;
}
#senka02 p {
	font-size:12px;
	line-height:20px;
	text-align: justify;
}
#senka02 p img {
	float:right;
	margin:5px 0 0 10px;
}


.course_sec_03 {
	overflow:hidden;
}
.course_sec_03 #comment03 {
	width:445px;
	float:left;
	margin:0 0 20px;
}
.course_sec_03 #comment03 h3 {
	display:block;
	margin:0 0 10px;
}
.course_sec_03 #comment03 p {
	text-align: justify;
	width:440px;	
}
.course_sec_03 img.main03 {
	display:block;
	float:right;
	margin:0 0 30px;
}

#comment03_2 {
	background:url(/common/images/course/esthetic/bg_03_comment02.gif) no-repeat center top;
	width:655px;
	height:132px;
	margin:0 0 15px;
	padding:10px 15px;
	position:relative;
}
#comment03_2 p.txt01 {
	width:530px;
	padding:20px 0 0;
}
#comment03_2 p.name {
	font-weight:bold;
	color:#9d478e;
	position:absolute;
	right:140px;
	bottom:33px;
}
#comment03_2 p.img01 {
	position:absolute;
	right:10px;
	top:2px;
}
.course_sec_03 ul#flow03 li {
	background:url(/common/images/course/esthetic/bg_03_flow.gif) no-repeat center top;
	height:220px;
	width:664px;
	padding:10px;
	overflow:hidden;
}
ul#flow03 li .txt_left {
	width:315px;
	float:left;
	margin:10px 0 0 10px;
}
ul#flow03 li .txt_right {
	width:315px;
	float:right;
	margin:10px 10px 0 0;
}
ul#flow03 li img.left {
	float:left;
	margin:0 15px 0 0;
}
ul#flow03 li img.right {
	float:right;
	margin:0 0 0 15px;
}
.course_sec_03 ul#flow03 li h4 {
	width:315px;
	display:block;
	padding:0 0 10px;
	margin:0 0 10px;
	border-bottom:1px dashed #9d478e;
	font-size:16px;
	line-height:16px;
	font-weight:bold;
	color:#9d478e;
}
#comment_last {
	overflow:hidden;
}
#comment_last h3 {
	margin:0 0 10px;
}
#comment_last #txt_left {
	width:527px;
	float:left;
}
#comment_last #txt_left p#notes {
	float:right;
	display:block;
	margin:10px 0 0;
}
#comment_last img.right {
	display:block;
	float:right;
}