@charset "utf-8";
/*------------------------
　学科紹介
------------------------*/


/*トータルビューティ科*/

.course_sec_01,
.course_sec_02
{
	margin:0 0 60px;
}
.total_content p {
	font-size:13px;
	line-height:1.7em;
}
.total_content .course_sec_01 h2,
.total_content .course_sec_02 h2,
.total_content .course_sec_03 h2
{
	display:block;
	margin:0 0 15px
}
.total_content ul#tokucho {
	width:100%;
	height:363px;
	margin:10px 0 0;
	overflow:hidden;
	display:block;
}
.total_content ul#tokucho h3 {
	 line-height: 0;
}
.total_content ul#tokucho li {
	float:left;
	display:block;
	width:193px;
	height:255px;
	border:1px solid #ff79ae;
	margin:0 20px 0 0;
	padding:0 10px 10px;
	background:url(/common/images/course/total/bg_h3_tokucho.gif) no-repeat center top;
}
.total_content ul#tokucho li:last-child {
	margin:0;
}
.total_content ul#tokucho li h4.point {
	font-size:14px;
	line-height:14px;
	font-weight:bold;
	color:#FFF;
	height:38px;
	padding:10px 0 0;
}
ul#tokucho li h4.tit_tokucho1 {
	font-size:16px;
	line-height:44px;
	font-weight:bold;
	color:#ff79ae;
	margin:0 0 10px;
}
ul#tokucho li h4.tit_tokucho2 {
	font-size:16px;
	line-height:22px;
	font-weight:bold;
	color:#ff79ae;
	margin:0 0 10px;
}
.total_content ul#tokucho li p {
	font-size:12px;
}
.total_content .course_sec_02 p.top_comment {
	font-size:14px;
	line-height:25px;
	overflow:hidden;
}
.total_content .course_sec_02 p.top_comment img {
	float:right;
	margin:0 0 15px 15px;
}
.total_content .course_sec_02 ul#curriCnts01,
.total_content .course_sec_02 ul#curriCnts02
{
	width:100%;
	overflow:hidden;
	display:block;
}
.total_content .course_sec_02 ul#curriCnts01 li {
	width:332px;
	height:400px;
	float:left;
	display:block;
	margin:0 21px 0 0;
}
.total_content .course_sec_02 ul#curriCnts01 li:nth-child(2n) {
	margin:0;
}
.total_content .course_sec_02 ul#curriCnts01 li h3 {
	width:100%;
	height:28px;
	padding:12px 0 0;
	font-size:18px;
	line-height:18px;
	font-weight:bold;
	color:#FFF;
	text-align:center;
	background:#ff79ae;
	margin:0 0 15px;
}
.total_content .course_sec_02 ul#curriCnts02{
	margin:0 0 50px;
}
.total_content .course_sec_02 ul#curriCnts02 li {
	background:url(/common/images/course/total/list_curri.gif) no-repeat left top;
	padding:0 0 0 18px;
	float:left;
	display:block;
	margin:0 20px 10px 0;
	line-height:1;
}
.total_content .course_sec_02 ul#curriCnts01 li>p {
	margin:15px 0 0;
}

.total_content .course_sec_02 ul#curriCnts02 li.clear {
	clear:left;
}

.total_content .course_sec_02 #shikaku01 {
	background:url(/common/images/course/total/bg_curriculum.gif) repeat left top;
	padding:20px 20px 10px;	
	margin:0 0 50px;
}
.total_content .course_sec_02 #shikaku01 ul#shikakuCnts h4 {
	font-size:15px;
	line-height:26px;
	font-weight:bold;
	color:#ff79ae;
}
.total_content .course_sec_02 #shikaku01 ul#shikakuCnts p {
	margin:0 0 20px;
}
.total_content .course_sec_02 #shikaku01 ul#shikakuCnts{
	margin:15px 0;	
}
.total_content .course_sec_02 #shikaku01 ul#shikakuCnts li {
	margin:0 0 10px;
}
.total_content .course_sec_02 #shikaku02 {
	background:url(/common/images/course/total/bg_shikaku02.gif) repeat left top;
	padding:20px 20px 20px 45px;
	overflow:hidden;
	position:relative;
}
p.shikaku_img01 {
	position:absolute;
	right:10px;
	top:80px;
}
.total_content .course_sec_02 #shikaku02 dl {
	width:510px;
	height:260px;
	display:block;
	overflow:hidden;
	margin:10px 0 0;
	background:url(/common/images/course/total/bg_shikaku02_2.gif) no-repeat right top;
}
.total_content .course_sec_02 #shikaku02 dt,
.total_content .course_sec_02 #shikaku02 dd
{
	float:left;
	display:block;
	height:110px;
	margin:0 0 20px;
}
.total_content .course_sec_02 #shikaku02 dt {
	width:76px;
	height:107px;
	margin:0 14px 0 0;
}
.total_content .course_sec_02 #shikaku02 dd {
	width:410px;
}
.total_content .course_sec_02 #shikaku02 dd h4 {
	font-size:14px;
	line-height:14px;
	font-weight:bold;
	color:#f75a98;
	padding:13px 0 5px;
}
.total_content .course_sec_02 #shikaku02 dd p {
	line-height:21px;
}
.total_content .course_sec_02 ul#senka01 {
	display:block;
	float:left;
	width:195px;
}
.total_content .course_sec_02 ul#senka01 li {
	background:url(/common/images/course/total/list_senka.gif) no-repeat left top #FFF;
	border-bottom:1px solid #fbe5ff;
	padding:0 0 0 21px;
}
.total_content .course_sec_02 ul#senka01 li:last-child {
	border:none;
}


.course_sec_03 #comment03_1 {
	overflow:hidden;
	position:relative;
	margin:0 0 20px;
}
.course_sec_03 #comment03_1 h3 {
	display:block;
	margin:0 0 10px;
}
 #comment03_1 p.img03_1 {
	position:absolute;
	right:0;
	top:0;
}
 #comment03_1 p.img03_2 {
	position:absolute;
	right:250px;
	top:100px;
}

ul#comment03_2 {
	background:url(/common/images/course/total/bg_curriculum.gif) repeat left top;
	width:645px;
	margin:0 0 15px;
	padding:20px 20px;
	overflow:hidden;
}
ul#comment03_2 li {
	float:left;
	display:block;
	width:276px;
	height:176px;
	margin:0 17px 20px 0;
	padding:19px;
	position:relative;
}
ul#comment03_2 li h3 {
	padding:0 0 0 15px;
	background:url(/common/images/course/total/list_comment03_2.gif) no-repeat left top;
	font-size:15px;
	line-height:18px;
	font-weight:bold;
	color:#e95098;
	margin:0 0 10px;
}
ul#comment03_2 li p {
	font-size:12px;
	line-height:18px;
}
ul#comment03_2 li p.point {
	position:absolute;
	top:160px;
	background:url(/common/images/course/total/bg_comment03_point.gif) no-repeat center top;
	width:276px;
	height:23px;
	line-height:12px;
	color:#e95098;
	text-align:center;
	padding:17px 0 0;
}
ul#comment03_2 li:nth-child(2n) {
	margin:0;
}
ul#comment03_2 li#c01 {
	background:url(/common/images/course/total/bg_comment03_2_1.gif) #fff no-repeat right top;
}
ul#comment03_2 li#c02 {
	background:url(/common/images/course/total/bg_comment03_2_2.gif) #fff no-repeat right top;
}
ul#comment03_2 li#c03 {
	background:url(/common/images/course/total/bg_comment03_2_3.gif) #fff no-repeat right top;
}
ul#comment03_2 li#c04 {
	background:url(/common/images/course/total/bg_comment03_2_4.gif) #fff no-repeat right top;
}

#comment03_3 {
	background:url(/common/images/course/total/bg_curriculum.gif) repeat left top;
	padding:20px;
	position:relative;
}
#comment03_3 h3 {
	margin:0 0 10px;
}
#comment03_3 p#txt03_3 {
	width:470px;
	padding:15px;
	background:url(/common/images/course/total/bg_comment03_3_txt.gif) #fff no-repeat right top;
	margin:0 0 15px;
}
#comment03_3 p.img03_3 {
	position:absolute;
	right:10px;
	top:40px;
}
