@charset "utf-8";
/*------------------------
　キャンパスライフ　
------------------------*/
#main #content .campuslife_content>h2 {
	margin:10px 0;
}

#main #content .campuslife_content>p {
	font-size:13px;
	margin-bottom:15px;
}

#main #content .campuslife_content table {
	font-size:13px;
	margin:0 0 40px;
}

#main #content .campuslife_content colgroup.sec_01 {
	width:331px;
}

#main #content .campuslife_content colgroup.sec_02 {
	width:20px;
}

#main #content .campuslife_content tr:first-child td {
	padding:0 240px 25px 0;
	background:url(../images/campuslife/img_01.png) 96% bottom no-repeat;
}

#main #content .campuslife_content .campuslife_list {
	width:680px;
	position:relative;
	margin:0 0 50px;
}

#main #content .campuslife_content .campuslife_list .list_img {
	width:256px;
	height:1020px;
	position:absolute;
	right:0px;
	top:-45px;
}

#main #content .campuslife_content .campuslife_list ul {
	width:410px;
}

#main #content .campuslife_content .campuslife_list li {
	border-top:1px dashed #a8a8a8;
}

#main #content .campuslife_content .campuslife_list li:first-child {
	border-top:none;
}

#main #content .campuslife_content .campuslife_list dt ,
#main #content .campuslife_content .campuslife_list dd {
	vertical-align:middle;
	position:relative;
	display:inline-block;
	*zoom: 1;
	*display: inline;
	padding-top:9px;
	padding-bottom:9px;
}

#main #content .campuslife_content .campuslife_list dt {
	width:56px;
}

#main #content .campuslife_content .campuslife_list dt img {
	display:block;
}

#main #content .campuslife_content .campuslife_list dd {
	width:344px;
	padding-left:6px;
}

#main #content .campuslife_content .campuslife_list {
}

/*------------------------
　海外研修　
------------------------*/
#main #content .campuslife_study_content h2 {
	margin-bottom:15px;
}

#main #content .campuslife_study_content .study_area01 {
	width:684px;
	height:784px;
	background:url(../images/campuslife/study/bg_study.jpg) left top no-repeat;
	position:relative;
	margin:0 0 30px;
}

#main #content .campuslife_study_content .study_area01 h3 {
	width:498px;
	position:absolute;
	top:23px;
	left:20px;
}

#main #content .campuslife_study_content .study_area01 p {
	width:400px;
	font-size:13px;
	color:#fff;
	line-height:21px;
	position:absolute;
	top:110px;
	left:20px;
}

#main #content .campuslife_study_content .study_area01 ul {
	width:230px;
	position:absolute;
	right:20px;
	top:110px;
}

#main #content .campuslife_study_content .study_area01 li {
	margin-bottom:3px;
}

#main #content .campuslife_study_content .study_area01 li img {
	display:block;
}

#main #content .campuslife_study_content .study_area02 {
	font-size:13px;
	width:460px;
	float:left;
	margin-bottom:50px;
}

#main #content .campuslife_study_content .study_area02 h3 {
	margin-bottom:10px;
}

#main #content .campuslife_study_content .study_area03 {
	float:right;
	width:185px;
	border:1px solid #f15196;
	background:#ffe9f2;
	padding:20px 15px;
}

#main #content .campuslife_study_content .study_area03 h3 {
	color:#f15196;
	font-size:14px;
	font-weight:bold;
	margin-bottom:5px;
}

#main #content .campuslife_study_content .study_area03 p {
	font-size:12px;
	letter-spacing:-0.5px;
	line-height:18px;
}

#main #content .campuslife_study_content>p {
	margin-bottom:15px;
}

#main #content .campuslife_study_content .interview_area01 {
	margin:15px 0 25px;
}

#main #content .campuslife_study_content .interview_area01 dt ,
#main #content .campuslife_study_content .interview_area01 dd {
	display:inline-block;
	*zoom: 1;
	*display: inline;
	vertical-align:middle;
}

#main #content .campuslife_study_content .interview_area01 dt {
	width:125px;
}

#main #content .campuslife_study_content .interview_area01 dd {
	width:540px;
	margin-left:15px;
}

#main #content .campuslife_study_content .interview_area01 h3 {
	font-size:13px;
	font-weight:bold;
	margin-bottom:3px;
}

#main #content .campuslife_study_content .interview_area01 p {
	font-size:10px;
	letter-spacing:-0.5px;
	line-height:14px;
}

#main #content .campuslife_study_content .interview_area02 {
	min-height:74px;
	width:692px;
	position:relative;
	margin-bottom:100px;
}

#main #content .campuslife_study_content .interview_area02 .btn_area {
	position:relative;
	top:0px;
	left:0px;
	cursor:pointer;
	z-index:1;
}

#main #content .campuslife_study_content .interview_area02 .btn_area img {
	display:block;
}

#main #content .campuslife_study_content .interview_area02 .slide_area {
	width:644px;
	background:url(../images/campuslife/study/bg_interview.jpg) repeat left top;
	position:relative;
	top:-13px;
	left:3px;
	padding:25px 20px 20px;
	z-index:0;
	color:#fff;
	display:none;
}

#main #content .campuslife_study_content .interview_area02 .slide_area dt:first-child {
	margin-top:0px;
}

#main #content .campuslife_study_content .interview_area02 .slide_area dt {
	background:url(../images/campuslife/study/ico_q.png) no-repeat left -2px;
	font-size:14px;
	font-weight:bold;
	width:610px;
	padding-left:27px;
	margin-top:30px;
}

#main #content .campuslife_study_content .interview_area02 .slide_area dd {
	background:url(../images/campuslife/study/ico_a.png) no-repeat left -1px;
	width:610px;
	padding-left:27px;
	margin-top:10px;
}

#main #content .campuslife_study_content .interview_area02 .slide_area dd p {
	line-height:16px;
}

#main #content .campuslife_study_content .interview_area02 .slide_area dd p span {
	font-size:10px;
	line-height:14px;
	display:inline-table;
	*zoom: 1;
	*display: inline;
}



