@charset "utf-8";
/*------------------------
　Common
------------------------*/
.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

.clear{
	clear:both;}

.left{
	float:left;
}

.right{
	float:right;
}

.center{
	text-align:center;
}

html ,
body {
  color: #4c4c4c;
  line-height: 1.7em;
  font-family:'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3';
  font-size: 12px;
	margin:0px;
	height: 100%;
}

body {
	background: #ffefad url(../images/common/bg_mainarea.jpg) top left;
}

a {
  color: #4c4c4c;
}

a:hover {
	text-decoration:none;
}

/*------------------------
　header
------------------------*/
header {
	background:#ffffff;
	border-top:3px solid #f27ab2;
	padding-bottom:20px;
}

header section {
	width:980px;
	margin:0 auto;
	position:relative;
	min-height:92px;
}

header section .btn_belong {
	width:982px;
	position:relative;
	text-align:right;
}

header section h1 {
	margin-top:3px;
}
header section .btn_datail {
	position:absolute;
	text-align:right;
	right:0px;
	top:33px;
}

header section .btn_datail li {
	float:left;
	margin-left:13px;
	line-height:10px;
}

header section .btn_datail li:first-child {
	margin-top:3px;
}

/*------------------------
　mainarea
------------------------*/
.bg_fff{
	background-image:none ;
	background-color:#fff ;
}
.bg_fff #main #content #sidenavi .bannerlist_area section{
	padding:90px 30px 10px 0;
}
#main #content {
	width:980px;
	margin:0 auto;
}

#main #content #sidenavi {
	width:230px;
	float:left;
}

#main #content #sidenavi img{
	display:block;
}

#main #content #sidenavi .movie_area ,
#main #content #sidenavi .bannerlist_area ,
#main #content #sidenavi .linklist_area {
	background: url(../images/common/sidenav/bg_sidenav_top.png) top left no-repeat;
	padding-top:5px;
	margin-bottom:10px;
}

#main #content #sidenavi section {
	background:#fff;
}

#main #content #sidenavi .side_navigation {
	width:228px;
	text-align:center;
	border:1px solid #e05596;
	border-radius:6px;
	margin:0 0 10px 0;
}

#main #content #sidenavi .side_navigation dt ,
#main #content #sidenavi .side_navigation dd {
	width:228px;
	text-align:center !important;
}

#main #content #sidenavi .side_navigation img {
	display:inline-block;
	*zoom: 1;
	*display: inline;
}

#main #content #sidenavi .side_navigation dt {
	background:#f27ab2;
	border-radius:4px 4px 0 0;
	border-bottom:2px solid #e05596;
}

#main #content #sidenavi .side_navigation dt a {
	line-height:30px;
	padding-top:10px;
	display:block;
}

#main #content #sidenavi .side_navigation dt.navigationhover {
	background:#ee5299;
}

#main #content #sidenavi .side_navigation dd.navigationhover {
	background:#ffddec !important;
}

#main #content #sidenavi .side_navigation dd {
	background:#fff;
	border-radius:0 0 5px 5px;
}

#main #content #sidenavi .side_navigation dt:first-child + dd a {
	background:none;
}

#main #content #sidenavi .side_navigation dd a {
	background: url(../images/common/sidenav/bg_sidenav.png) top center no-repeat;
	line-height:30px;
	padding-top:9px;
	display:block;
}

#main #content #sidenavi .movie_area section {
	width:226px;
	padding:0 2px 2px 2px;
	position:relative;
}

#main #content #sidenavi .movie_area section h2{
	width:120px;
	padding:7px 0 10px 10px;
}

#main #content #sidenavi .movie_area section .movie_btn{
	width:34px;
	position:absolute;
	right:15px;
	top:4px;
}

#main #content #sidenavi .bannerlist_area section {
	width:200px;
	padding:10px 15px;
}

#main #content #sidenavi .bannerlist_area section li:first-child {
	margin:0;
}

#main #content #sidenavi .bannerlist_area section li {
	margin-top:10px;
}

#main #content #sidenavi .linklist_area section {
	width:200px;
	padding:10px 15px;
}

#main #content #sidenavi .linklist_area section li:first-child {
	margin:0;
	padding:0;
	background:none;
}

#main #content #sidenavi .linklist_area section li {
	margin-top:10px;
	padding-top:10px;
	background:url(../images/common/bg_line.png) left top repeat-x;
}

#main #content #pankuzu_area {
	width:725px;
	text-align:right;
	background:#fff;
	font-size:10px;
	float:right;
}

#main #content #pankuzu_area ul {
	background:url(../images/common/bg_line.png) repeat-x left bottom;
	width:703px;
	padding:7px 11px 3px;
}

#main #content #pankuzu_area .pankuzu_home img {
	margin:0 0 -3px;
}

#main #content #pankuzu_area .pankuzu_next{
	background:url(../images/common/img_pnkz.png) 0px 1px no-repeat;
	padding-left:17px;
}

#main #content #pankuzu_area li {
	display:inline-block;
	*zoom: 1;
	*display: inline;
	line-height:16px;
	margin-left:8px;
}

#main #content #mainarea {
	width:685px !important;
	padding:20px;
	background:#fff;
	float:right;
}

#main #titlebanner {
	width:980px;
	margin:20px auto 15px;
}

/*------------------------
　footer
------------------------*/
footer {
	margin:70px 0;
}

footer section {
	background: #ffffff;
}

footer section .footer_wrap {
	width:980px;
	margin:0 auto;
	padding:25px 0 0px;
	position:relative;
	background:url(../images/common/img_bottom.png) right no-repeat;
}

footer section .footer_wrap address {
	width:240px;
	position:absolute;
	top:-25px;
	left:0;
}

footer section .footer_wrap .footer_totop {
	width:64px;
	position:absolute;
	top:-55px;
	right:0px;
}

footer section dl {
	width:530px;
	margin-left:280px;
}

footer section dl dd {
	width:180px;
	margin-bottom:20px;
	float:left;
}

footer section dl dd:first-child {
	width:150px;
}

footer section dl dd.sitemap_any {
	width:260px;
	margin-left:20px;
}

footer section dl a {
	font-size:11px;
	color:#717171;
	text-decoration:none;
	padding-left:11px;
}

footer section dl a:hover {
	text-decoration:underline;
}

footer section dl li {
	line-height:15px;
}

footer section dl .sitemap_cap{
	line-height:22px;
}

footer section dl .sitemap_cap a {
	font-size:12px;
	font-weight:bold;
	background:url(../images/common/img_btmlist.png) top left no-repeat;
}

footer section dl .sitemap_any li {
	line-height:22px;
	width:125px;
	float:left;
}

footer section dl .sitemap_any a {
	font-size:12px;
	font-weight:bold;
	padding-left:0px;
}

footer .footer_txt {
	width:980px;
	margin:6px auto;
	text-align:right;
	font-size:10px;
	color:#717171;
}



