@charset "utf-8";
/*------------------------
　学科紹介トップ　
------------------------*/
#main #content .course_content {
	font-size:13px;
}

#main #content .course_content h2 {
	margin-bottom:10px;
}

#main #content .course_content>p {
	margin-bottom:25px;
}

#main #content .course_content table {
	margin-bottom:200px;
}

#main #content .course_content colgroup.sec_01 {
	width:334px;
}

#main #content .course_content colgroup.sec_02 {
	width:16px;
}

#main #content .course_content td p {
	margin:5px 0 25px;
	letter-spacing:-0.5px;
}



