@charset "utf-8";
/*------------------------
　スライダー　
------------------------*/
#main #slide {
	position:relative;
	height:371px;
	overflow:hidden;
}

#main #slide .bx-viewport {
	width:auto !important;
}

#main #slide .bxslider li p {
	width:990px !important;
	overflow:visible;
	margin:0 auto;
	position:relative;
	top:0px;
	left:-13px;
}

#main #slide .bxslider li.slide01 {
	background:#cfeefa;
}

#main #slide .bxslider li.slide02 {
	background:#ffd0d0;
}

#main #slide .bxslider li.slide03 {
	background:#def5e9;
}

#main #slide .bx-wrapper img {
	max-width:inherit !important;
}

#main #slide .bx-wrapper .bx-viewport{
	background:none !important;
	border:none !important;
	box-shadow:none !important;
	left:0 !important;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
	bottom:5px !important;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background:url(../images/top/btn_slider_off.png) center center no-repeat !important;
	width:15px !important;
	height:15px !important;
	margin:0 12px !important;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover ,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background:url(../images/top/btn_slider_on.png) center center no-repeat !important;
}

#main #slide .pager-slider {
	width:980px;
	top:0px;
	position:relative;
	margin:0 auto;
}

#main #slide .pager-slider .prev-slider ,
#main #slide .pager-slider .next-slider {
	height:16px;
	width:16px;
	top:-260px;
	position:absolute;
}

#main #slide .prev-slider {
	left:-50px;
}

#main #slide .next-slider {
	right:-40px;
}

/*------------------------
　バナーエリア　
------------------------*/
#main #banner {
	background: #ffe983 url(../images/common/bg_bnrarea.jpg) top left;
	padding:8px 0 10px;
}

#main #banner section {
	width:982px;
	margin:0 auto;
}

#main #banner li:first-child {
	margin:0 1px 0 0px;
}

#main #banner li {
	margin-left:7px;
	float:left;
}

/*------------------------
　メインエリア　
------------------------*/
#main #content .top_content img {
	display:block;
}

#main #content .top_content .banner_area {
	width:684px;
}

#main #content .top_content .banner_area li {
	margin-bottom:10px;
}

#main #content .top_content .news_area {
	margin:30px 0 60px;
}

#main #content .top_content .news_area h2 {
	height:30px;
	width:686px;
	background: url(../images/top/ttl_news.png) bottom left no-repeat;
}

#main #content .top_content .news_area h2 a {
	margin-right:1px;
	float:right;
}

#main #content .top_content .news_area  li {
	margin-top:10px;
	padding-bottom:10px;
	background:url(../images/common/bg_line.png) left bottom repeat-x;
}

#main #content .top_content .news_area  li a {
	text-decoration:none;
}

#main #content .top_content .news_area  li a:hover {
	color:#ef97e1;
}

#main #content .top_content .news_area  li a:hover {
	text-decoration:underline;
}

#main #content .top_content .news_area li dd {
	line-height:16px;
	width:90px;
	float:left;
}

#main #content .top_content .news_area li dd.newstitle {
	width:580px;
	padding-left:10px;
}

