@charset "utf-8";
/*------------------------
　お問い合わせ・資料請求　
------------------------*/
#main #content .inquiry_content {
	font-size:13px;
}

#main #content .inquiry_content p:first-child {
	margin-bottom:15px;
}

#main #content .inquiry_content>p {
	margin-bottom:5px;
}

#main #content .inquiry_content td>p {
	margin:15px 0 0;
}

#main #content .inquiry_content table {
	width:100%;
}

#main #content .inquiry_content table th ,
#main #content .inquiry_content table td {
	vertical-align:middle;
	padding:10px 0 10px 20px;
	text-align:left;
}

#main #content .inquiry_content table th {
	width:190px;
	background:#ffd7e8;
	color:#f05e9d;
	font-size:15px;
	font-weight:bold;
	border-bottom:1px dashed #ff6dad;
}

#main #content .inquiry_content table tr:first-child th {
	border-top:1px solid #ffd7e8;
}

#main #content .inquiry_content table tr:last-child th {
	border-bottom:1px solid #ffd7e8;
}

#main #content .inquiry_content>p span ,
#main #content .inquiry_content table th span {
	color:#363636;
	font-size:15px;
	font-weight:bold;
}

#main #content .inquiry_content table th span {
	padding:0 0 0 8px;
}

#main #content .inquiry_content table td {
	width:455px;
	line-height:24px;
	border-top:1px dashed #a8a8a8;
	border-bottom:1px dashed #a8a8a8;
}

#main #content .inquiry_content table input[type="text"] ,
#main #content .inquiry_content table input[type="email"] {
	height:18px;
}

#main #content .inquiry_content table td .size_ss {
	width:52px;
	margin-right:3px;
}

#main #content .inquiry_content table td .size_s {
	width:140px;
}

#main #content .inquiry_content table td .size_m {
	width:350px;
}

#main #content .inquiry_content table td .size_l {
	width:455px;
}

#main #content .inquiry_content table .inquiry_radio label {
	width:130px;
	display:inline-block;
	*zoom: 1;
	*display: inline;
	border:none;
	background:none;
}

#main #content .inquiry_content table .inquiry_checkbox label {
	width:160px;
	display:inline-block;
	*zoom: 1;
	*display: inline;
	border:none;
	background:none;
}

#main #content .inquiry_content table textarea {
	width:455px !important;
	height:100px !important;
	vertical-align:bottom;
}

#main #content .inquiry_content .btn_inquiry {
	margin:30px 0 40px;
	text-align:center;
}

#main #content .inquiry_content .btn_inquiry input[type="submit"] {
	text-indent:-9999px;
	border:none;
	width:154px;
	height:52px;
	cursor:pointer;
	background:url(../images/inquiry/btn_kakunin.png) left top no-repeat;
}


/*------------------------
　お問い合わせ・資料請求　完了画面
------------------------*/
#main #content .inquiry_thanks {
	text-align:center;
}

#main #content .inquiry_thanks h3 {
	color:#f05e9d;
	font-size:18px;
	font-weight:bold;
	margin:30px 0 20px;
}

#main #content .inquiry_thanks p {
	font-size:15px;
}

#main #content .inquiry_thanks .btn_inquiry {
	margin:30px 0 240px;
	text-align:center;
}

/*------------------------
　メールマガジン
------------------------*/
#main #content .mailmagazine_content {
	text-align:center;
}

#main #content .mailmagazine_content p:first-child {
	font-size:15px;
	line-height:26px;
	margin:10px 0 35px;
}

#main #content .mailmagazine_content p {
	margin:25px 0 10px;
}

#main #content .mailmagazine_content {
	text-align:center;
}

#main #content .mailmagazine_content {
	text-align:center;
}

#main #content .mailmagazine_content input[type="text"] {
	width:390px;
	height:18px;
}

#main #content .mailmagazine_content .btn_inquiry {
	margin:20px 0 220px;
}


