header nav {
	background:#ed5ea0;
	border-top:1px solid #d4336c;
	border-bottom:1px solid #d4336c;
}

header nav .navigation {
	width:980px;
	height:52px;
	margin:-1px auto;
	border-top:1px solid #e05596;
	border-bottom:1px solid #e05596;
	border-left:1px solid #e05596;
	border-right:1px solid #ff77b6;
}

header nav .navigationhover {
	background:#ee66a5 !important;
}

header nav .navigation>li {
	float:left;
	text-align:center;
	background:#f28cbb;
	display:block;
	border-left:1px solid #ff9ecb;
	border-right:1px solid #e05596;
	position:relative;
}

header nav .navigation li>a {
	line-height:65px;
	color:#fff;
	text-decoration:none;
	height:52px;
	display:block;
}

header nav .navigation li.nav_home a {
	padding:0 39px 0 37px;
}

header nav .navigation li.nav_school a {
	padding:0 33px 0 37px;
}

header nav .navigation li.nav_course a {
	padding:0 34px 0 35px;
}

header nav .navigation li.nav_campuslife a {
	padding:0 21px 0 23px;
}

header nav .navigation li.nav_work a {
	padding:0 33px 0 35px;
}

header nav .navigation li.nav_admission a {
	padding:0 34px 0 35px;
}

header nav .navigation li.nav_access a {
	padding:0 34px 0 36px;
}

header nav .navigation .navidown {
	z-index:50;
	text-align:left;
	position:absolute;
	top:52px;
	left:-2px;
	border:1px solid #d63973;
	border-radius:0 0 4px 4px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;  
	-moz-border-radius-bottomleft: 3px;  
	background:#fff;
}

header nav .navigation .navidown li:first-child {
	border-top:none;
}

header nav .navigation .navidown li {
	text-align:left !important;
	padding:0px;
	margin:0px;
	float:none;
	border-top:1px dotted #d63973;
}

header nav .navigation .navidown a {
	color:#e73f8e;
	height:100% !important;
	font-weight:bold;
}

header nav .navigation .navidown a img {
	display: block;
}

header nav .navigation li.nav_school .navidown a {
	width:126px;
	padding:9px 0 8px 9px;
}

header nav .navigation li.nav_course .navidown a {
	width:125px;
	padding:9px 0 8px 9px;
}

header nav .navigation li.nav_campuslife .navidown a {
	width:160px;
	padding:9px 0 8px 9px;
}

header nav .navigation li.nav_admission .navidown a {
	width:125px;
	padding:9px 0 8px 9px;
}
