@charset "utf-8";
/*------------------------
　オープンキャンパス　
------------------------*/
#main #content .opencampus_content p {
	font-size:13px;
	line-height:24px;
}

#main #content .opencampus_content h2 {
	margin-bottom:10px;
}

#main #content .opencampus_content .opencampus_sec_01 {
	width:681px;
	height:317px;
	background: url(../images/opencampus/bg_ttl.png) bottom center no-repeat;
	position:relative;
	margin:0 0 30px;
}

#main #content .opencampus_content .opencampus_sec_01 h2 {
	width:581px;
	position:absolute;
	top:0;
	left:50px;
}

#main #content .opencampus_content .opencampus_sec_01 p {
	width:300px;
	position:absolute;
	top:177px;
	left:185px;
}

#main #content .opencampus_content .opencampus_sec_02 div {
	position:relative;
}

#main #content .opencampus_content .opencampus_sec_02 table {
	margin:15px 0 40px;
}

#main #content .opencampus_content .opencampus_sec_02 table tr:last-child th {
	border-bottom:1px solid #ff87bb;
}

#main #content .opencampus_content .opencampus_sec_02 table th {
	border-bottom:1px dashed #ffffff;
	width:65px;
	background:#ff87bb;
	color:#fff;
	font-size:18px;
	padding:9px 0 8px;
	vertical-align:middle;
}

#main #content .opencampus_content .opencampus_sec_02 table td {
	border-top:1px dashed #ff87bb;
	border-bottom:1px dashed #ff87bb;
	width:620px;
	padding:9px 0 8px 10px;
	vertical-align:middle;
}

#main #content .opencampus_content .opencampus_sec_02 table td dt {
	width:70px;
	color:#f15196;
	font-weight:bold;
	font-size:16px;
	float:left;
}

#main #content .opencampus_content .opencampus_sec_02 table td dt.shinro {
	color:#29aeeb;
}

#main #content .opencampus_content .opencampus_sec_02 table td dd {
	width:60px;
	float:left;
}

#main #content .opencampus_content .opencampus_sec_02 table td dd img {
	vertical-align:text-bottom;
}

#main #content .opencampus_content .opencampus_sec_02 .img_01 {
	position:absolute;
	top:10px;
	right:0px;
	width:220px;
}

#main #content .opencampus_content .opencampus_sec_02 .img_02 {
	position:absolute;
	bottom:20px;
	right:10px;
	width:285px;
}

#main #content .opencampus_content .opencampus_sec_02 .btn_entry {
	width:302px;
	display:block;
	margin:0 auto 45px;
}

#main #content .opencampus_content .opencampus_sec_03 {
	margin-bottom:40px;
}

#main #content .opencampus_content .opencampus_sec_03 h2 {
	margin:0 0 -50px;
}

#main #content .opencampus_content .opencampus_sec_01 .top_comment {
	font-size: 17px;
}

#main #content .opencampus_content .opencampus_sec_04 .youtube {
	margin: 20px 0 30px 32px;
}


/* 詳細のとこ */
#main #content .opencampus_content .display_none {
	display: none;
}

.shosai {
	background: #d9d9d9;
	width: 438px;
	padding-top: 8px;
	padding-bottom:10px;
}

.shosai .detail {
	background: #fff;
	width: 422px;
	margin: 0 auto;
	position: relative;
	padding-bottom:5px;
}

.shosai .content {
	width: 360px;
	margin: 0 auto;
	padding-top: 21px;
}

.shosai .dotted_line {
	width: 358px;
	border-top: 2px dotted #ff87bb;
	margin: 15px auto;
}

.shosai dl {
	overflow: hidden;
	width: 290px;
}

.shosai dt {
	float: left;
	color: #f15196;
	font-weight: bold;
}

.shosai dd {
	padding-left: 63px;
}

.shosai h2 {
	background: #f15196;
	color: #fff;
	width: 100%;
	height: 30px;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-top: 11px;
	margin-bottom: 15px;
}

.shosai p {
	line-height: 20px;
}

.shosai p.naiyo {
	color: #f15196;
	background: #ffd0e4;
	padding: 7px 0 6px 15px;
	font-weight: bold;
	font-size: 16px;
	margin-top: 20px;
}

.shosai h3 {
	font-size: 20px;
	font-weight: 500;
	color: #ff539e;
	margin: 15px 0 5px 0;
}

.shosai ul {
	margin-top: 15px;
}

.shosai .btn_entry {
	width:302px;
	display: block;
	position :relative;
	margin:10px auto 5px;
}


.shosai_shingaku .dotted_line {
	width: 358px;
	border-top: 2px dotted #3daef5;
	margin: 15px auto;
}

.shosai_shingaku dt {
	float: left;
	color: #3daef5;
	font-weight: bold;
}

.shosai_shingaku h2 {
	background: #3daef5;
	color: #fff;
	width: 100%;
	height: 30px;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-top: 11px;
	margin-bottom: 15px;
}

.shosai_shingaku p.naiyo {
	color: #16a8ed;
	background: #cfeefa;
	padding: 7px 0 6px 15px;
	font-weight: bold;
	font-size: 16px;
	margin-top: 20px;
}

.shosai_shingaku h3 {
	font-size: 20px;
	font-weight: 500;
	color: #3daef5;
	margin: 15px 0 5px 0;
}

