@charset "UTF-8";

#form_area .input-full {
	width: 100%;
}
#form_area .input-medium {
	width: 140px;
}
#form_area .input-mini {
	width: 55px;
	margin-right: 3px;
}
.submit_btn button {
	border: 0;
	padding: 0;
	margin: 0;
	background: none;
	cursor: pointer;
}
footer .copy {
	font-size: 11px;
	color:#717171;
	text-align: center;
}
footer {
	border-top: 3px solid #f27ab2;
	padding: 10px 0;
}

/*PC ( 画面のサイズが769px以上 ) */
@media screen and (min-width: 769px){
	.smart { display:none; }
	body {
		border-top: 3px solid #f27ab2;
	}
	.wraper {
		width: 980px;
		margin:0 auto;
	}
	header {
		margin: 28px 0;
		overflow: hidden;
	}
	h1#logo { float: left; }
	nav {
		width: 630px;
		float: right;
		margin-top: 10px;
	}
	nav ul {
		width: 630px;
		overflow: hidden;
	}
	nav ul li {
		width: 76px;
		float: left;
		border-left: 1px dashed #a8a8a8;
		padding: 0 10px;
		text-align: center;
	}
	nav ul li img {
		width: 67px;
		height:18px;
	}
	nav ul li:first-child {
		width: 68px;
	}
	nav ul li:first-child img {
		width: 54px;
		height: 17px;
		padding-top: 1px;
	}
	nav ul li.last {
		width: 224px;
		border-right: 1px dashed #a8a8a8;
	}
	nav ul li.last img {
		width: 222px;
		height:18px;
	}
	#form_area {
		width: 800px;
		margin:40px auto 0;
		font-size: 13px;
	}
	#form_area > p {
		padding-bottom: 20px;
	}
	#form_area h3 {
		color:#e45693;
		font-size: 17px;
		background: #ffd7e8;
		padding: 20px;
		margin-bottom: 20px;
	}
	#form_area.briefing h3 {
		color:#00a1eb;
		background: #d2edfa;
	}

	#form_area ul li dl {
		overflow: hidden;
	}
	#form_area ul li dl dt {
		width: 190px;
		height:12px;
		padding:17px 20px 15px;
		color: #e45693;
		background: #ffd7e8;
		border-bottom: 1px dashed #ff6dad;
		float: left;
		font-weight: bold;
	}
	#form_area.briefing ul li dl dt {
		color:#00a1eb;
		background: #d2edfa;
		border-bottom: 1px dashed #00a1eb;
	}
	#form_area ul li dl dt.ao_01 {
		height: 43px;
	}
	#form_area ul li dl dt.last {
		height: 118px;
	}
	#form_area ul li dl dd {
		width: 536px;
		height:24px;
		line-height: 24px;
		padding: 10px 17px;
		float: left;
		background: #fff;
		border-bottom: 1px dashed #a8a8a8;
	}
	#form_area ul li dl dd.ao_01 {
		height: 55px;
		line-height: 2em;
	}
	#form_area ul li dl dd.ao_01 h4 {
		color:#00a1eb;
		font-weight: bold;
	}
	#form_area ul li dl dd.last {
		height: 130px;
		line-height: 2em;
	}
	#form_area ul li dl dd.bt-d {
		height:23px;
		border-top: 1px dashed #a8a8a8;
	}
	#form_area.briefing ul li dl dd.last ul {
		width: 350px;
		overflow: hidden;
	}
	#form_area.briefing ul li dl dd.last ul li {
		width: 50%;
		float: left;
	}
	#form_area p.privacy {
		margin-top: 20px;
		margin-bottom: 30px;
		line-height: 1.5em;
	}
	.submit_btn {
		width: 800px;
		text-align: center;
		margin-bottom: 46px;
	}
	.submit_btn button:hover {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
		opacity: 0.7;
	}
	#form_area .question {
		text-align: center;
		line-height: 3em;
		font-size: 16px;
	}
	#form_area .question strong {
		color:#e45693;
		font-weight: bold;
		font-size: 24px;
	}
}

/*スマホ・タブレット ( 画面のサイズが768px以下 ) */
@media screen and (max-width: 768px){
	.pc { display:none; }
	.wraper { width: 100%;}
	* {
		box-sizing: border-box;
		text-size-adjust: 100%;
	}
	a {
		-webkit-tap-highlight-color: rgba(200, 200, 200, 0.5);
		text-decoration: none;
		border: none;
	}
	input[type="radio"], input[type="chexkbox"] {
	/* フォーム関係 1.5倍に拡大表示 */
		transform: scale(1.5);
	}
	img:not([width]) {
		zoom: .5;
	  /* Retinaディスプレイ対応のためimg要素は半分の大きさに */
	}
	img{
		max-width: 100%;
		height: auto;
		width /***/:auto;　/*IE8のみ適用*/
	}
	body {
		border-top: 10px solid #f27ab2;
	}
	.wraper {
		padding: 20px;
	}
	h1#logo {
		width: 60%;
		margin-bottom: 20px;
	}
	nav {
		width: 100%;
		margin-bottom: 20px;
		overflow: hidden;
	}
	nav ul li {
		width: 16.6%;
		float: left;
		border-left: 1px dotted #a8a8a8;
		padding: 6px 2.18%;
		text-align: center;
	}

	nav ul li:first-child {
		width: 12.62%;
		border-left: none;
		padding-left: 0;
		margin-top: 1px;
	}
	nav ul li.last {
		width: 37.2%;
		padding-right: 0;
		padding-top: 5px;
		border-right: none;
	}
	.wraper h2 {
		margin-bottom: 25px;
		text-align: center;
	}
	#form_area > p {
		font-size: 12px;
		line-height: 1.5em;
		margin-bottom: 10px;
	}
	#form_area h3 {
		color:#e45693;
		font-size: 13px;
		background: #ffd7e8;
		padding: 15px 20px;
		margin-bottom: 20px;
		font-weight: bold;
		text-align: left;
		line-height: 1.5em;
	}
	#form_area.briefing h3 {
		color:#00a1eb;
		background: #d2edfa;
	}
	#form_area h3 span.br:after {
		content:"\A";
		white-space: pre;
	}
	#form_area ul li dl {
		overflow: hidden;
	}
	#form_area ul li dl dt {
		width: 100%;
		font-size: 12px;
		padding:10px 20px;
		color: #e45693;
		background: #ffd7e8;
		font-weight: bold;
	}
	#form_area.briefing ul li dl dt {
		color:#00a1eb;
		background: #d2edfa;
		border-bottom: 1px dashed #00a1eb;
	}
	#form_area ul li dl dd {
		width: 100%;
		font-size: 11px;
		padding: 10px 17px;
		float: left;
		background: #fff;
	}
	#form_area ul li dl dd.ao_01 h4 {
		color:#00a1eb;
		font-weight: bold;
		margin-bottom: 10px;
	}
	#form_area ul li dl dd.last {
		line-height: 2em;
		border-bottom: 1px dotted #f15196;
		margin-bottom: 20px;
		overflow: hidden;
	}
	#form_area ul li dl dd.last input {
		width: 6%;
		display: inline-block;
		padding-bottom: 5px;
	}
	#form_area ul li dl dd.last label {
		width: 90%;
		display: inline-block;
		vertical-align: top;
		text-align: left;
		padding-bottom: 5px;
	}
	#form_area .privacy {
		font-size: 12px;
		line-height: 1.5em;
		margin-bottom: 40px;
	}
	.submit_btn {
		width: 62.5%;
		margin:0 auto;
		text-align: center;
		margin-bottom: 46px;
	}
	#form_area .question {
		text-align: center;
		line-height: 2.5em;
		font-size: 16px;
		margin: 30px 0;
	}
	#form_area .question strong {
		color:#e45693;
		font-weight: bold;
		font-size: 18px;
	}
	#form_area.briefing .question strong {
		color:#00a1eb;
	}
}