@charset "utf-8";
/*------------------------
　アクセス　
------------------------*/
#main #content .access_content table {
	width:100%;
	margin:15px 0 20px;
}

#main #content .access_content th ,
#main #content .access_content td {
	padding:10px 0;
	vertical-align:middle;
	text-align:center;
}

#main #content .access_content tbody tr:first-child th {
	border-top:1px solid #e487b2;
}

#main #content .access_content tfoot th {
	width:210px;
	border-bottom:1px solid #e487b2;
}

#main #content .access_content th {
	color:#fff;
	font-size:15px;
	background:#e487b2;
	border-top:1px dashed #fff;
}

#main #content .access_content td {
	width:470px;
	font-size:13px;
	border-top:1px dashed #a8a8a8;
	border-bottom:1px dashed #a8a8a8;
}

#main #content .access_content .access_big {
	font-size:16px;
}

#main #content .access_content .access_ico {
	height:17px;
	padding:5px 0 5px 33px;
	margin:0 0 0 40px;
	background:url(../images/access/ico_phone.jpg) left 3px no-repeat;
}

#main #content .access_content .to_inquiry {
	font-weight:bold;
	color:#ff3c90;
}

/*------------------------
　教員募集　
------------------------*/
#main #content .recruit_content>p {
	font-size:16px;
	margin-bottom:13px;
}

#main #content .recruit_content table {
	width:100%;
	margin-bottom:30px;
}

#main #content .recruit_content th ,
#main #content .recruit_content td {
	padding-top:15px;
	padding-bottom:15px;
	vertical-align:middle;
}

#main #content .recruit_content tbody tr:first-child th {
	border-top:1px solid #e487b2;
}

#main #content .recruit_content tfoot th {
	border-bottom:1px solid #e487b2;
}

#main #content .recruit_content th {
	width:160px;
	color:#fff;
	font-size:15px;
	background:#e487b2;
	border-top:1px solid #fff;
}

#main #content .recruit_content td {
	padding-left:20px;
	line-height:24px;
	width:505px;
	font-size:13px;
	border-top:1px solid #a8a8a8;
	border-right:1px solid #a8a8a8;
	border-bottom:1px solid #a8a8a8;
}

/*------------------------
　採用担当の方へ　
------------------------*/
#main #content .placement_content h2 {
	margin:0 0 10px;
}

#main #content .placement_content .txt_pink {
	color:#f15196;
}

#main #content .placement_content .placement_list {
	margin:10px 0 40px;
}

.placement_box {
	background:url(../images/placement/bg.png) left top no-repeat;
	height:230px;
	width:684px;
	position:relative;
}

.placement_box h3 {
	width:220px;
	position:absolute;
	right:195px;
	top:92px;
}

.placement_box dl {
	width:540px;
	position:absolute;
	top:136px;
	right:10px;
}

.placement_box dt {
	width:260px;
	padding-top:5px;
	float:left;
}

.placement_box dd {
	width:280px;
	float:right;
}

.placement_box dd span {
	height:17px;
	padding-bottom:4px;
	display:inline-block;
	*zoom: 1;
	*display: inline;
}

.placement_box dd .btn_tel {
	margin:0 15px 0 0;
	padding-left:37px;
	background:url(../images/placement/ico_tel.jpg) left 3px no-repeat;
}

.placement_box dd .btn_call {
	padding-left:20px;
	background:url(../images/placement/ico_call.jpg) left 6px no-repeat;
}

.placement_box dd .btn_fax {
	margin:0 10px 5px 0;
	padding-left:37px;
	background:url(../images/placement/ico_fax.jpg) left 3px no-repeat;
}
/*------------------------
　保護者の方へ　
------------------------*/
#main #content .parents_content {
	font-size:13px;
}

#main #content .parents_content table {
	margin:30px 0 -30px 0;
	width:100%;
}

#main #content .parents_content colgroup.sec_01 {
	width:331px;
}

#main #content .parents_content colgroup.sec_02 {
	width:20px;
}

#main #content .parents_content table td {
	padding:0 0 40px 0;
}

#main #content .parents_content table td img {
	margin-bottom:5px;
}

/*------------------------
　在校生の方へ　
------------------------*/
#main #content .student_content p {
	margin:0 0 20px;
	font-size:13px;
}

#main #content .student_content h2 {
	height:30px;
	margin-bottom:15px;
	position:relative;
}

#main #content .student_content_page h3 {
	border-left: #a2d7d4 solid 10px;
	padding:5px 0 5px 15px;
	font-size:18px;
	margin:10px 0;
}

#main #content .student_content h2 a {
	position:absolute;
	width:63px;
	left:120px;
	top:5px;
}

#main #content .student_content .news_list {
	margin:0 0 50px;
}

#main #content .student_content .news_list li:first-child {
	border-top:1px dashed #a3a3a3;
}

#main #content .student_content .news_list li {
	width:100%;
	border-bottom:1px dashed #a3a3a3;
	padding:10px 0;
}

#main #content .student_content .news_list dt {
	width:95px;
	float:left;
	font-weight:bold;
	font-size:12px;
	color:#ed5ea0;
}

#main #content .student_content .news_list dd {
	width:585px;
	float:left;
	font-size:12px;
}

#main #content .student_content .news_list a {
	text-decoration:none;
}

#main #content .student_content_page a {
	padding:5px 0;
}

#main #content .student_content .news_list a:hover ,
#main #content .student_content_page a:hover {
	text-decoration:underline;
	color:#ef97e1;
}

#main #content .student_content .down_list {
	margin:0 0 200px;
}

#main #content .student_content .down_list li {
	margin-bottom:10px;
	font-size:16px;
}

#main #content .student_content .down_list li span {
	font-size:12px;
	margin:0 10px 0 0;
	color:#ed5ea0;
}

#main #content .student_content .down_list li .btn_down {
	display:inline-block;
	*zoom: 1;
	*display: inline;
	width:100px;
	height:18px;
	background:#999;
	text-decoration:none;
	text-indent:-99999px;
	background:url(../images/student/btn_download.png) left top no-repeat;
	margin:0 0 0 10px;
}

#main #content .student_content .down_list li  {
}

#main #content .student_content .down_list li  {
}

/*------------------------
　就職支援　
------------------------*/
#main #content .employment_content>p {
	font-size:13px;
	line-height:24px;
	margin:5px 0 15px;
}

#main #content .employment_content .txt_btn {
	font-size:16px;
	font-weight:bold;
	color:#00c0e9;
	line-height:26px;
}

#main #content .employment_content .box01 {
	width:683px;
	position:relative;
}

#main #content .employment_content table th {
	text-align:left;
	font-weight:bold;
	font-size:16px;
	color:#fff;
	padding:5px 10px 4px;
	border:1px 	solid;
}

#main #content .employment_content table td {
	font-size:11px;
	line-height:20px;
	border-left:1px dashed;
	border-right:1px dashed;
	border-bottom:1px dashed;
	padding:15px 5px 15px 15px;
	vertical-align:top;
}

#main #content .employment_content table td ul {
	display:inline-block;
	*zoom: 1;
	*display: inline;
}

#main #content .employment_content table th span {
	background:url(../images/employment/ico_circle.png) left 50% no-repeat;
	padding:0 0 0 18px;
}

#main #content .employment_content .box01 .box_blue {
	width:420px;
	position:relative;
	top:30px;
}

#main #content .employment_content .box01 .box_blue th {
	background:#00a0e9;
	border-color:#00a0e9;
}

#main #content .employment_content .box01 .box_blue td {
	border-color:#00a0e9;
}

#main #content .employment_content .box01 .box_blue td ul {
	width:160px;
	padding-right:30px;
}

#main #content .employment_content .right {
	width:242px;
	position:relative;
	top:-25px;
	margin-bottom:-15px;
}

#main #content .employment_content .box_orange {
	width:683px;
	margin-bottom:20px;
}

#main #content .employment_content .box_orange th {
	background:#ff8b00;
	border-color:#ff8b00;
}

#main #content .employment_content .box_orange td {
	border-color:#ff8b00;
}

#main #content .employment_content .box_orange td h3 {
	font-weight:bold;
	color:#ff8b00;
	font-size:12px;
}

#main #content .employment_content .box_orange td ul {
	width:180px;
	padding-right:50px;
}

#main #content .employment_content td ul.ul_last {
	padding-right:0px;
}

/*------------------------
　サイトマップ　
------------------------*/
#main #content .sitemap_content .sitemap_left ,
#main #content .sitemap_content .sitemap_right {
	vertical-align:top;
	width:280px;
	padding-right:15px;
	display:inline-block;
	*zoom: 1;
	*display: inline;
	margin:20px 0 80px;
}

#main #content .sitemap_content .sitemap_left {
	margin-left:20px;
}

#main #content .sitemap_content li {
	margin:5px 0;
}

#main #content .sitemap_content  li:first-child {
	margin-top:0px;
}

#main #content .sitemap_content a {
	text-decoration:none;
	padding-left:18px;
	font-size:13px;
	background:url(../images/sitemap/ico_dott.png) 2px 4px no-repeat;
}

#main #content .sitemap_content a:hover {
	text-decoration:underline;
}

#main #content .sitemap_content .sitemap_cap {
	margin:20px 0 5px;
}

#main #content .sitemap_content .sitemap_cap a {
	font-size:15px;
	font-weight:bold;
	background:url(../images/sitemap/ico_arrow.png) top left no-repeat;
}

#main #content .sitemap_content hr {
	width:170px;
	margin:25px auto 30px 0px;
	border:0px;
	height:1px;
	background:url(../images/common/bg_line.png) repeat-x left bottom;
}

/*------------------------
　モニター募集　
------------------------*/
#main #content .monitor_content {
}

#main #content .monitor_content .btn_area {
	text-align:center;
	margin:15px 0;
}

#main #content .monitor_content h2 {
	margin-bottom:10px;
}

#main #content .monitor_content p {
	font-size:13px;
	line-height:23px;
}

#main #content .monitor_content .monitor_pbox {
	line-height:20px;
	margin:10px 0 50px;
	padding:15px;
	border:1px dashed #40c1b1;
}

#main #content .monitor_content .monitor_list {
	margin:20px 0 50px;
}

#main #content .monitor_content .monitor_list li {
	background:url(../images/monitor/ico_list.jpg) no-repeat 1px 6.5px;
	font-size:13px;
	line-height:24px;
	padding-left:22px;
}

#main #content .monitor_content .monitor_box {
	width:684px;
	height:252px;
	font-size:14px;
	line-height:23px;
	letter-spacing:1px;
	padding-right:14px;
	background:url(../images/monitor/bg_moshikomi.png) no-repeat left top;
	text-align:center;
}

#main #content .monitor_content .monitor_box h3 {
	padding:17px 0 0;
}

#main #content .monitor_content .monitor_box strong {
	font-weight:bold;
}

#main #content .monitor_content .monitor_box p {
	margin:6px 0 6px;
}

#main #content .monitor_content .monitor_box a {
	font-size:26px;
	font-weight:bold;
	color:#ee6a9c;
	padding-bottom:3px;
	text-decoration:none;
}



/*------------------------
　和装コレクション　
------------------------*/
#content .wasocollection_content>div {
	height:825px;
	background:url(../images/wasocollection/bg_img.jpg) no-repeat right bottom;
	margin-bottom:100px;
}

#content .wasocollection_content p {
	font-size:15px;
	margin-left:5px;
}

#content .wasocollection_content span.btm_line {
	padding-bottom:5px;
	background:url(../images/wasocollection/bg_txt.jpg) no-repeat 10px bottom;
}

#content .wasocollection_content table {
	margin-top:10px;
	margin-bottom:20px;
	margin-left:3px;
}

#content .wasocollection_content th {
	vertical-align:middle;
	line-height:15px;
	padding-right:5px;
}

#content .wasocollection_content td {
	vertical-align:middle;
	line-height:15px;
	font-size:15px;
	padding-right:15px;
}



/*------------------------
　NEWS　
------------------------*/
#main #content .news_content {
}

#main #content .news_content>p {
	font-size:14px;
	font-weight:bold;
	margin-bottom:25px;
}

#main #content .news_content  li:first-child {
	background:none;
}

#main #content .news_content  li {
	padding:12px 0;
	background:url(../images/common/bg_line.png) left top repeat-x;
}

#main #content .news_content  li a {
	text-decoration:none;
}

#main #content .news_content  li a:hover {
	color:#ef97e1;
	text-decoration:underline;
}

#main #content .news_content li dd {
	line-height:16px;
	width:90px;
	float:left;
}

#main #content .news_content li dd.newstitle {
	width:580px;
	padding-left:10px;
}

#main #content .news_content .content-nav {
	font-size:13px;
}

/*------------------------
　NEWS 末端　
------------------------*/
#main #content .news_content_page {
}

#main #content .news_content_page>time {
	color:#ff749b;
	font-size:13px;
	font-weight:bold;
}

#main #content .news_content_page>h2 {
	font-size:17px;
	font-weight:bold;
	border-bottom:2px solid #ff749b;
	padding:10px 0;
	margin:0 0 20px 0;
}

#main #content .news_content_page .news_area {
	font-size:13px;
	line-height:24px;
}


/*------------------------
　トータルシェービング　
------------------------*/
#main #content .shaving_content {
	margin-bottom:50px;
	padding-right:0px !important;
	padding-left:40px !important;
}

#main #content .shaving_content .center {
	text-align:center;
}

#main #content .shaving_content img {
	vertical-align:middle;
}

#main #content .shaving_content section {
	margin:45px 0;
}

#main #content .shaving_content section h2 {
	margin-bottom:15px;
}

#main #content .shaving_content section p {
	font-size:15px;
}

#main #content .shaving_content section.sec_01 p {
	color:#b68bb4;
	line-height:28px;
	margin:10px 0 15px;
}

#main #content .shaving_content section.sec_02 p {
	color:#8f8fbe;
	line-height:26px;
	margin:10px 0 0;
}

#main #content .shaving_content section.sec_03 p {
	color:#d16b90;
	line-height:26px;
	margin:20px 0 ;
}

#main #content .shaving_content section.sec_04 {
	width:680px;
	height:1004px;
	background:url(../images/shaving/bg_04.jpg) right 100px no-repeat;
	margin-bottom:70px;
}

#main #content .shaving_content section.sec_04 p {
	margin:170px 0 15px ;
	color:#e98587;
}

#main #content .shaving_content section.sec_04 li {
	margin-bottom:12px;
}

#main #content .shaving_content section.sec_04 h3 {
	margin:25px 0 0 ;
}

#main #content .shaving_content section.sec_05 {
	width:680px;
	min-height:1000px;
	background:url(../images/shaving/bg_05.jpg) right 100px no-repeat;
	margin-bottom:70px;
}

#main #content .shaving_content section.sec_05 p {
	margin:140px 0 15px ;
	color:#76a6d4;
}

#main #content .shaving_content section.sec_05 li {
	margin-bottom:12px;
}

#main #content .shaving_content section.sec_05 h3 {
	margin:25px 0 0 ;
}

#main #content .shaving_content section.sec_05 p.center {
	margin-top:250px;
}

#main #content .shaving_content section.sec_06 p {
	color:#e16d4a;
	line-height:26px;
	margin:15px 0 0;
}

#main #content .shaving_content section.sec_06 p.center {
	font-size:17px;
}

#main #content .shaving_content section.sec_06 table td {
	padding:10px 0 0;
	width:340px;
}

#main #content .shaving_content section.sec_06 table td p {
	color:#000;
	font-size:14px;
	line-height:22px;
	margin:5px 0;
}

