@charset "utf-8";
/*------------------------
　学校紹介トップ　
------------------------*/
#main #content .school_content h2 {
	width:659px;
	height:109px;
	font-size:13px;
	line-height:24px;
	background:url(../images/school/img_01.jpg) left top no-repeat;
	padding:125px 0 0 25px;
	margin:0 0 30px;
}

#main #content .school_content table {
	width:100%;
	margin:25px 0 0;
}

#main #content .school_content colgroup.sec_01 {
	width:331px;
}

#main #content .school_content colgroup.sec_02 {
	width:20px;
}

#main #content .school_content table td {
	font-size:13px;
	line-height:21px;
	padding:0 0 40px;
}

/*------------------------
　施設・設備　
------------------------*/
#main #content .school_facility_content {
	font-size:13px;
}

#main #content .school_facility_content>p {
	margin:10px 0 20px;
}

#main #content .school_facility_content table {
	width:100%;
}

#main #content .school_facility_content colgroup.sec_01 {
	width:214px;
}

#main #content .school_facility_content colgroup.sec_02 {
	width:20px;
}

#main #content .school_facility_content td {
	letter-spacing:-0.5px;
	padding:0 0 25px;
}

#main #content .school_facility_content td h3 {
	color:#ed5ea0;
	font-size:15px;
	font-weight:bold;
	border-bottom:1px dashed #a8a8a8;
	margin:3px 0 5px;
	padding:0 0 5px 0;
}

#main #content .school_facility_content {
}

/*------------------------
　施設・設備　
------------------------*/
#main #content .school_history_content {
	font-size:13px;
	line-height:24px;
}

#main #content .school_history_content h2 {
	margin-bottom:15px;
}

#main #content .school_history_content .history_list {
	width:545px;
	float:left;
}

#main #content .school_history_content .history_list {
	margin:0 0 50px ;
}

#main #content .school_history_content .history_list li:first-child {
	border-top:1px dashed #a8a8a8;
}

#main #content .school_history_content .history_list li {
	padding:10px 0;
	border-bottom:1px dashed #a8a8a8;
}

#main #content .school_history_content .history_list dt ,
#main #content .school_history_content .history_list dd {
	display:inline-block;
	vertical-align:middle;
	*zoom: 1;
	*display: inline;
}

#main #content .school_history_content .history_list dt {
	width:105px;
}

#main #content .school_history_content .history_list dd {
	width:435px;
}

#main #content .school_history_content .history_photo {
	width:121px;
	float:right;
}

#main #content .school_history_content .history_photo li {
	margin-bottom:10px;
}

#main #content .school_history_content .history_photo img {
	display:block;
}










