@charset "utf-8";
/*------------------------
　学費サポート
------------------------*/


.support_content h2 {
	margin:0 0 35px;
}
.support_content .tbb_red, .support_content .tbb_red a {
	color:#e45693;
	font-weight:bold;
}
.support_sec_01 {
	position:relative;
}
.support_sec_01 h3 {
	margin:0 0 40px;
}
.support_sec_01 p.img01 {
	position:absolute;
	right:135px;
	top:32px;
}
.support_sec_01 p.img02 {
	position:absolute;
	right:30px;
	top:-20px;
}
.support_sec_02 h3 {
	margin:0 0 10px;
}
.support_sec_02 ol li {
	list-style-type: decimal;
	margin:0 0 0 20px;
}
.support_sec_02 p.point {
	font-size:14px;
	font-weight:bold;
	margin:20px 0 40px;
}
.support_sec_02 ul {
	overflow:hidden;
}
.support_sec_02 ul li {
	display:block;
	float:left;
	width:331px;
	height:;
	margin:0 20px 30px 0;
}
.support_sec_02 ul li:nth-child(2n) {
	margin:0 0 30px;
}
.support_sec_02 ul li a:hover {
	opacity:0.7;
}

.support_sec_03 {
	margin:0 0 20px;
}
.support_sec_03 h2, .support_sec_03 h3 {
	margin:0 0 7px;
}
.support_sec_03 ul#system_flow {
	overflow:hidden;
	margin:0 -10px 0 0;
}
.support_sec_03 ul#system_flow li {
	display:block;
	float:left;
	width:193px;
	height:180px;
}
.support_sec_03 ul#system_flow li.f01 {
	padding:0 38px 0 0;
	background:url(/common/images/support/bg_flow_s_system.gif) no-repeat right top;
}
.support_sec_03 ul#system_flow li.f02 {
	padding:0 38px 0 0;
	background:url(/common/images/support/bg_flow_s_system.gif) no-repeat right top;
}
.support_sec_03 ul#system_flow li.f03 {
	background:none;
}

.support_sec_03 ul#exemption_01 {
	overflow:hidden;
	margin:10px 0 0;
}
.support_sec_03 ul#exemption_01 li {
	display:block;
	float:left;
}
.support_sec_03 ul#exemption_01 li p.point {
	font-size:14px;
	font-weight:bold;
}
.support_sec_03 ul#exemption_01 li.exem01 {
	width:330px;
}
.support_sec_03 ul#exemption_01 li.exem02 {
	width:350px;
}
.support_sec_03 table {
	width:100%;
	margin:20px 0 30px;
}
.support_sec_03 table th, .support_sec_03 table td {
	border-collapse: collapse;
	padding:15px;
	vertical-align: middle;
}
.support_sec_03 table th.h01 {
	border:1px solid #FFF;
	background:#e487b2;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	text-align:center;
}
.support_sec_03 table th.h03 {
	border:1px solid #FFF;
	background:#e487b2;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	text-align:left;
}
.support_sec_03 table th.h02 {
	border:1px solid #9f9f9f;
	color:#e45693;
	font-size:14px;
	font-weight:bold;
}
.support_sec_03 table td {
	border:1px solid #9f9f9f;
	vertical-align:top;
}
.support_sec_03 table td.d01 {
	text-align:center;
	vertical-align:middle;
}
.support_sec_03 table ul li {
    list-style-position: inside;
    list-style-type: disc;
	padding-left: 12px;
	text-indent: -12px;
}
.support_sec_03 table .tit_head {
	font-size:13px;
	line-height:21px;
	font-weight:bold;
	color:#676767;
}
.support_sec_03 table .point {
	font-size:15px;
	font-weight:bold;
	color:#e45693;
}


/*------------------------
　学費サポート 特待生受賞者　
------------------------*/
#main #content .support_winner_content h2 {
	margin:0 0 15px;
}

#main #content .support_winner_content .txt_right {
	text-align:right;
	margin:0 3px 15px 0;
	font-size:13px;
}

#main #content .support_winner_content .txt_right a {
	color:#e05596;
}

#main #content .support_winner_content .title_img {
	margin:30px 0 25px;
}

#main #content .support_winner_content table td {
	vertical-align:top;
	padding-bottom:45px;
}

#main #content .support_winner_content table colgroup.sec_01 {
	width:130px;
}

#main #content .support_winner_content table colgroup.sec_02 {
	width:20px;
}

#main #content .support_winner_content table colgroup.sec_03 {
	width:530px;
}

#main #content .support_winner_content table td h3 {
	font-size:20px;
	font-weight:bold;
	color:#e45693;
	padding:0 0 11px 0;
	margin:0 0 7px 0;
	background:url(../images/support/winner/bg_line.png) left bottom no-repeat;
}

#main #content .support_winner_content table td h3 span {
	font-size:15px;
}

#main #content .support_winner_content table td h3 span.ttl_b {
	color:#363636;
	margin:0 0 0 20px;
}

#main #content .support_winner_content table td p {
	font-size:13px;
	line-height:24px;
}

#main #content .support_winner_content table {
}

/*------------------------
　学費サポート 家賃補助制度　
------------------------*/
#main #content .support_hojo_content div {
	margin-bottom:300px;
}

