<font color="#2DB9FF">●</font><a href="http://www.toyama-bb.ac.jp/mb/news/mt4i.cgi?mode=individual&eid=395">１０月１１日　　ｵｰﾌﾟﾝｷｬﾝﾊﾟｽ開催しました☆</a><br />

<font color="#2DB9FF">●</font><a href="http://www.toyama-bb.ac.jp/mb/news/mt4i.cgi?mode=individual&eid=390">指定校推薦入試　推薦入試　自己推薦入試　出願ｽﾀｰﾄ</a><br />

<font color="#2DB9FF">●</font><a href="http://www.toyama-bb.ac.jp/mb/news/mt4i.cgi?mode=individual&eid=388">9/20  ｵｰﾌﾟﾝｷｬﾝﾊﾟｽ開催しました☆</a><br />

