<?xml version="1.0" encoding="Shift_JIS"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><title>富山県理容美容専門学校</title>
<style type="text/css"><![CDATA[ a.view { font-size: 13px; color: #000000; background-color: #FFFFFF }]]></style>
<style type="text/css"><![CDATA[ a:link{color:#0000FF}a:visited{color:#800080}]]></style>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=Shift_JIS">
<meta name="viewport" content="width=300">
<meta name="keywords" content="">
<meta name="description" content="">
</head>
<body style="background-color:#FFFFFF;">
<a id="pagetop" name="pagetop"></a>
<table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#000000"><tr><td align="center"><span style="color:#FFFFFF"><span style="font-size:xx-small">富山県理容美容専門学校</span></span></td></tr></table><table border="0" cellpadding="0" cellspacing="0" width="240" align="center"><tr><td width="240" colspan="2" align="center" valign="top"><img src="img/0107q.jpg" alt="" width="240" height="50" border="0" style="vertical-align:top;" />
<span style="font-size:xx-small"><a href="index.html" accesskey="1">[1]HOME</a>|<a href="annai.html" accesskey="2">[2]学校案内</a><a href="boshu.html" accesskey="3"><br />
[3]募集案内</a>|<a href="shien.html" accesskey="4">[4]学費支援</a></span><hr /></td></tr>
<tr>
<td width="240" colspan="2" align="left"><img src="img/0107_5q.jpg" width="78" height="25" border="0" /><br />
<span style="font-size:x-small">※未入力項目があります。戻って修正する場合は「入力画面に戻る」を押してください。</span>
</td>
</tr>
<tr>
<td colspan="2" align="right">
<span style="font-size:xx-small"><a href="#pagetop">▲ﾍﾟｰｼﾞﾄｯﾌﾟへ</a></span><br />
<hr /></td>
</tr>
</table>
<!--formスタート-->

<table cellspacing="0" cellpadding="0" width="240" align="center">
<!--{{foreach from=$err item=e}}-->
<tr>
<td align="left" valign="top"><span style="font-size:x-small"><font color="#666">●<!--{{$e.name|escape:html|nl2br}}--></font><span style="color:#FF0000">*</span></span><br />
	<span style="font-size:x-small"><span style="color:#FF0000"><!--{{$e.ms|escape:html|nl2br}}--></span></span></td>
</tr>
<!--{{/foreach}}-->

</table>
<form action="<!--{{$myphp|escape}}-->?mode=form" method="post">
<div align="center">
<input name="F2M_ID" type="hidden" value="<!--{{$F2M_ID}}-->" />
<input type="submit" name="bak" id="bak" value="入力画面へ戻る" />
<br />
</div>
</form>

<table width="240" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
<td align="center"><br />
<hr />
<span style="font-size:xx-small"><a href="index.html" accesskey="1">[1]HOME</a>|<a href="annai.html" accesskey="2">[2]学校案内</a><br />
<a href="boshu.html" accesskey="3">[3]募集案内</a>|<a href="shien.html" accesskey="4">[4]学費支援</a>
</span>
<hr /></td>
</tr>
<tr>
<td align="right"><span style="font-size:xx-small"><a href="#pagetop"><br />
▲ﾍﾟｰｼﾞﾄｯﾌﾟへ</a></span><br />
<br /></td>
</tr>
<tr>
<td bgcolor="#000000" align="left"><font color="#FFFFFF"><span style="font-size:xx-small">学校法人 富山県理容美容学校</span></font></td></tr>
<tr><td align="left" bgcolor="#000000"><font color="#FFFFFF">富山県理容美容専門学校<br />
<span style="font-size:xx-small">  〒930-0804 富山県富山市下新町32-26</span><br />
<span style="font-size:xx-small">TEL <a href="tel:0764323037">076-432-3037</a> ﾌﾘｰﾀﾞｲﾔﾙ <a href="tel:0120190135">0120-190-135</a></span><br />
<span style="font-size:xx-small">FAX 076-432-3046</span><br />
<span style="font-size:xx-small">  Mail <a href="mailto:info@toyama-bb.ac.jp">info@toyama-bb.ac.jp</a></span></font><br /><br />
</td>
</tr>
<tr>
<td bgcolor="#333333" align="center">
<font color="#FFFFFF"><span style="font-size:xx-small">&copy;TOYAMA Barber & Beauty School.</span></font>
</td></tr></table>
</body>
</html>