/* CSS Document */

div.header {
	border-top-color: #4040BF;
}



div.l1 ,div.l2 ,div.l3 ,div.l4 ,div.l5 ,div.l6 ,div.l7 {
	clear: both;
	margin-bottom: 40px;
	overflow: hidden;
}


div.l1 p {
	margin-bottom: 20px;
}


div.l2 p {
	margin-bottom: 20px;
}


div.l2 h5 ,div.l3 h5 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DDDDDD;
	width: 95%;
	margin-bottom: 5px;
	font-size: 12px;
	color: #4040BF;
}

div.l2 table ,div.l3 table {
	width: 100%;
}
div.l2 td ,div.l3 td {
	vertical-align: top;
	width: 50%;
}

div.l2 table p ,div.l3 table p {
	width: 95%;
	font-size: 10px;
	margin-bottom: 20px;
}


div.l3 span {
	font-size: 11px;
}

div.l4 img {
	margin-right: 20px;
	float: left;
}


div.l5 p ,div.l6 p {
	margin-bottom: 20px;
}


div.l7 {
	color: #4040BF;
}

div.l7 table {
	width: 100%;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #999999;
}

div.l7 td {
	padding-top: 20px;
	padding-bottom: 20px;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
}

td#l7-1 {
	width: 170px;
}

div.l7 h4 {
	font-size: 16px;
	text-indent: 0px;
	background-position: left center;
}

div.l7 p {
	margin-top: 40px;
	color: #333333;
	background-color: #E9E9E9;
	padding: 10px;
	height: 117px;
	line-height: 170%;
}



div#l8 td {
	width: 50%;
}

div#l8 img {
	margin-right: 20px;
	float: left;
}
div#l8 div {
	margin-top: 170px;
}
div#l8 p {
	width: 300px;
	margin-top: 20px;
	height: 80px;
}

