/* CSS Document */

div.header {
	border-top-color: #FF2B2B;
}



div.l1 ,div.l2 ,div.l3 ,div.l4 ,div.l5 ,div.l7 {
	margin-bottom: 40px;
	clear: both;
	overflow: hidden;
}


div#l2-left {
	width: 200px;
	float: left;
}
div#l2-left img {
	margin-bottom: 20px;
}

div#l2-right {
	width: 460px;
	float: right;
}
div#l2-right img {
	margin-top: 10px;
}


div.l2 h4 {
	height: 13px;
	margin-bottom: 10px;
	background-repeat: no-repeat;
}

div.l2 p {
	margin-bottom: 20px;
}


div.l2-4 {
	clear: both;
}

div.l2 h5 ,div.l3 h5 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DDDDDD;
	width: 95%;
	margin-bottom: 5px;
	font-size: 12px;
	color: #FF2B2B;
}

div.l2 table ,div.l3 table {
	width: 100%;
}
div.l2 td ,div.l3 td {
	vertical-align: top;
	width: 33%;
}

div.l2 table p ,div.l3 table p {
	width: 95%;
	font-size: 10px;
	margin-bottom: 20px;
}


div.l3 span {
	font-size: 11px;
}


div.l4 img {
	margin-right: 20px;
	float: left;
}


div.l4 div {
	width: 460px;
	float: right;
}

div.l5 {
	color: #FF2B2B;
}


div.l5 table {
	width: 100%;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #999999;
}

div.l5 td {
	padding-top: 20px;
	padding-bottom: 20px;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
}

td#l5-1 {
	width: 170px;
}

div.l5 h4 {
	font-size: 16px;
	text-indent: 0px;
	background-position: left center;
}

div.l5 p {
	margin-top: 40px;
	color: #333333;
	background-color: #E9E9E9;
	padding: 10px;
	height: 117px;
	line-height: 170%;
}


div#l6 td {
	width: 50%;
}

div#l6 img {
	margin-right: 20px;
	float: left;
}
div#l6 div {
	margin-top: 170px;
}
div#l6 p {
	width: 300px;
	margin-top: 20px;
	height: 80px;
}


div.l7 p {
	margin-bottom: 20px;
}