/* CSS Document */

div.header {
	border-top-color: #5BBA47;
}


div.l1 ,div.l2 ,div.l3 ,div.l4 ,div.l5 {
	margin-bottom: 40px;
	clear: both;
	overflow: hidden;
}

div.l1 img {
	margin-bottom: 10px;
}


div.l2 p {
	margin-bottom: 10px;
}


div.l2 dt {
	color: #5BBA47;
	font-size: 14px;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DDDDDD;
	margin-bottom: 10px;
	clear: both;
}

div.l2 dl {
	margin-bottom: 20px;
	overflow: hidden;
}

div.l2 dd {
	width: 30%;
	float: left;
}

div.l4 p {
	margin-bottom: 10px;
}

div.l4 table {
	width: 100%;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #999999;
	margin-bottom: 10px;
}

div.l4 td {
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
}

div.l5 {
	color: #5BBA47;
}



div.l5 table {
	width: 100%;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #999999;
}

div.l5 td {
	padding-top: 20px;
	padding-bottom: 20px;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
}

td#l5-1 {
	width: 170px;
}

div.l5 h4 {
	font-size: 16px;
	text-indent: 0px;
	background-position: left center;
}


div.l5 p {
	margin-top: 40px;
	color: #333333;
	background-color: #E9E9E9;
	padding: 10px;
	height: 117px;
	line-height: 170%;
}


div#l6 td {
	width: 50%;
}

div#l6 img {
	margin-right: 20px;
	float: left;
}
div#l6 div {
	margin-top: 170px;
}
div#l6 p {
	width: 300px;
	margin-top: 20px;
	height: 80px;
}

