/* CSS Document */


div.l1 {
	margin-bottom: 40px;
}



div.l2 table {
	width: 100%;
	border-top-width: 1px;
	border-right-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
}
div.l2 td {
	padding: 10px;
	width: 50%;
	vertical-align: top;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}

div.l2 img {
	margin-bottom: 10px;
}
div.l2 h4 {
	font-weight: normal;
	text-indent: 0px;
}
div.l2 h4 a {
	font-size: 16px;
	text-decoration: none;
	font-weight: bold;
}
div.l2 h4 a:hover {
	text-decoration: underline;
}

h4#l2-1 a {
	color: #4040BF;
}
h4#l2-2 a {
	color: #FF2B2B;
}
h4#l2-3 a {
	color: #5BBA47;
}
h4#l2-4 a {
	color: #FF7300;
}