/* CSS Document */

div.header {
	border-top-color: #B940BF;
}

div.l1 {
	margin-bottom: 40px;
}

div.l1 p {
	margin-bottom: 20px;
}


div.l2 h4 {
	text-indent: 0px;
	height: 25px;
	line-height: 25px;
	color: #B940BF;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
	margin-bottom: 10px;
}

div.l2 p {
	margin-bottom: 20px;
}