#mainContent article section {
	margin: 0 0 4em;
}
#mainContent article section h2 {
	width: 430px;
	height: 63px;
	padding-left: 24px;
	margin-bottom: 40px;
	line-height: 47px;
	background: url(../../images/common/bg_title.png) 0 0 no-repeat;
}

/*-- Main IMG --*/
#mainContent article section#mainImg {
	margin: 1em 0 2em;
	background: #fff;
	background: rgba(255,255,255,0.4);
}
#mainContent article section#mainImg h2 {
	float: left;
	overflow: hidden;
	width: auto;
	height: auto;
	padding: 0;
	margin: 0;
	line-height: 1;
	background: none;
	border-radius: 3px;
	border: solid 1px #fff;
	box-shadow: 0 0 10px 2px #e9cfd0;
}
#mainContent article section#mainImg h2 img {
	margin: -1px;
	border-radius: 3px;
}
#mainContent article section#mainImg h3 {
	float: left;
	width: 100%;
	text-align: center;
}
#mainContent article section#mainImg p {
	font-size: 12px;
	line-height: 2;
	padding: 0 1.5em;
	color: #666;
}

/*-- Article --*/
#mainContent article section .carriImg {
	margin-bottom: 3em;
}
#mainContent article section .carriImg dt {
	float: right;
	width: 350px;
	margin: 0;
}
#mainContent article section .carriImg dd {
	float: left;
	width: 350px;
	margin: 0;
	font-size: 15px;
	font-weight: bold;
	line-height: 2;
}
#mainContent article section .photoR {
	width: 100%;
	margin-bottom: 2em;
}
#mainContent article section .photoR dt {
	float: left;
	width: 420px;
	margin: 0 0 0.5em;
	font-size: 20px;
	font-weight: bold;
	line-height: 2.5;
}
#mainContent article section .photoR dd {
	float: left;
	width: 420px;
	margin: 0;
	font-size: 13px;
	line-height: 2;
	color: #666;
}
#mainContent article section .photoR dd.rightImg {
	float: right;
	width: 250px;
}
#mainContent article section .oneClmn {
	width: 100%;
}
#mainContent article section .oneClmn dt {
	font-weight: bold;
}
#mainContent article section .oneClmn dd {
	font-size: 12px;
	line-height: 2;
	color: #666;
	margin: 0;
}
#mainContent article section .twoClmn {
	float: left;
	width: 330px;
}
#mainContent article section .twoClmn dt {
	font-size: 16px;
	font-weight: bold;
}
#mainContent article section .twoClmn dd {
	font-size: 12px;
	color: #666;
	margin: 0;
	line-height: 2;
}
#mainContent article section .twoClmn:nth-child(odd) {
	margin-right: 50px;
}
#mainContent article section p {
	color: #666;
	font-size: 12px;
	line-height: 2;
}
#mainContent article section .seniorOb ,
#mainContent article section .seniorCur {
	margin-bottom: 3em;
}
#mainContent article section .seniorOb dt ,
#mainContent article section .seniorCur dt {
	float: left;
	width: 420px;
	padding: 0 0 0.5em;
	margin: 0 0 0.5em;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.5;
}
#mainContent article section .seniorOb dd ,
#mainContent article section .seniorCur dd {
	float: left;
	width: 420px;
	margin: 0;
	font-size: 13px;
	line-height: 2;
	color: #666;
}
#mainContent article section .seniorOb .photo ,
#mainContent article section .seniorCur .photo {
	float: right;
	width: 250px;
	line-height: 2;
}
#mainContent article section .seniorOb .photo:before ,
#mainContent article section .seniorCur .photo:before {
	position: absolute;
	margin: -10px 0 0 -10px;
}
#mainContent article section .seniorOb .photo span ,
#mainContent article section .seniorCur .photo span {
	display: block;
	font-size: 10px;
	margin-top: 1.5em;
}

/*-- Aside --*/
body #mainContent aside #subNavi {
	margin-bottom: 30px;
	background: #fff;
	background: rgba(255,255,255,0.7);
	border-radius: 5px;
	box-shadow: 0 1px 2px #eed2d2, inset 0 1px 0 #fff;
}
body #mainContent aside #subNavi dt {
	text-align: center;
}
body #mainContent aside #subNavi dt a {
	display: block;
	padding: 25px 0;
	line-height: 1;
	opacity: 1;
	transition: opacity .2s linear;
	-webkit-transition: opacity .2s linear;
}
body #mainContent aside #subNavi dt a:hover {
	opacity: 0.5;
	transition: opacity .2s linear;
	-webkit-transition: opacity .2s linear;
}
body #mainContent aside #subNavi dd {
	margin: 0;
	text-align: center;
	border-top: solid 1px #eed2d2;
}
body #mainContent aside #subNavi dd a {
	display: block;
	padding: 14px 0;
	line-height: 1;
	box-shadow: inset 0 1px 0 #fff, inset -1px 0 0 #fff;
	opacity: 1;
	transition: opacity .2s linear;
	-webkit-transition: opacity .2s linear;
}
body #mainContent aside #subNavi dd a:hover {
	opacity: 0.5;
	transition: opacity .2s linear;
	-webkit-transition: opacity .2s linear;
}
body #mainContent aside #subNavi dd ul {
	margin: 0;
}
body #mainContent aside #subNavi dd ul li {
	float: none;
	margin: 0;
	background: none;
	border-top: solid 1px #eed2d2;
}
body #mainContent aside #subNavi dd ul li a {
	float: none;
	font-size: 12px;
	text-decoration: none;
	color: #ec6d6c;
	border: none;
	padding: 9px 0;
}
body #mainContent aside #subNavi dd.currentDir a {
	width: 235px;
	border-left: solid 5px #ec6d6c;
	background: #fee5e5;
}

/*-- Footer --*/
body footer nav ul {
	float: left;
	width: 90%;
	list-style: none;
	padding: 0;
}
body footer nav ul li {
	float: left;
	color: #666;
	font-size: 12px;
}
body footer nav ul li:before {
	margin: 0 0.5em;
	color: #ddce8a;
	content: '＞';
}
body footer nav ul li:first-child {
	margin-top: -2px;
}
body footer nav ul li:first-child:before {
	margin: 0;
	color: inherit;
	content: none;
}
body footer nav ul li:first-child a {
	opacity: 1;
	transition: opacity .2s linear;
	-webkit-transition: opacity .2s linear;
}
body footer nav ul li:first-child a:hover {
	opacity: 0.7;
	transition: opacity .2s linear;
	-webkit-transition: opacity .2s linear;
}
body footer nav ul li a {
	text-decoration: none;
	color: #b99700;
}
body footer nav ul li a:hover {
	text-decoration: underline;
}