/*--学費ページ--*/
article section #tuition h2 {
	width: 430px;
	height: 63px;
	padding-left: 24px;
	line-height: 47px;
	background: url("../../images/admission/index/bg_title_02.png") 0 0 no-repeat;}

article section #tuition p {
	margin-top:-3px;
	color: #666666;
    font-size: 13px;
    line-height: 2;}

article section #tuition .tuition_list{
	margin:40px 0 0px;}


article section #tuition .tuition_list table{
	margin:15px 0 10px 0; 
	border-collapse: separate;
   border-spacing:1px; }

article section #tuition .tuition_list th,td{
	font-size: 12px;
	padding:4px 4px 4px 4px;}

article section #tuition .tuition_list th.sent,td.sent{
	font-weight:bold;
	text-align:center;}	

article section #tuition .tuition_list th{
	background-color:#e7abab;
	color: #ffffff;}

article section #tuition .tuition_list th.big{
	font-size:15px;}
	
article section #tuition .tuition_list td{
	background-color:#ffffff;
	color: #666666;}

article section #tuition .tuition_list td.reft{
	text-align:right;}

article section #tuition .tuition_list td.cent{
	text-align:center;}

article section #tuition h3{
	font-size:26px;
	font-weight:bold;
	color:#ec6d6c;
	margin:0;
	pading:0
}

article section #tuition h4{
	font-size:14px;
	font-weight:bold;
	color:#ec6d6c;
	margin:10px 0;
	pading:0;
}

/*-美容--*/
#mainContent h2.bt_{
	background:url("../../images/course/beauty/bg_title.png") no-repeat scroll 0 0 transparent;	
}

#mainContent article section .carriImg dd {
    color: #EF8200;	
}

#mainContent article section .photoR dt {
    background: url("../../images/course/beauty/dotline.png")repeat-x scroll left bottom transparent;
    color: #EF8200;}

#mainContent article section .oneClmn dt {
    color: #EF8200;}
	
#mainContent article section .twoClmn dt {
    color: #EF8200;}
	
#mainContent article section .seniorOb dt, #mainContent article section .seniorCur dt {
    background: url("../../images/course/beauty/dotline.png") repeat-x scroll left bottom transparent;
    color: #EF8200;}

#mainContent article section .seniorCur .photo:before {
    content: url("../../images/course/beauty/label_cur.png");}
	
#mainContent article section .seniorOb .photo:before {
    content: url("../../images/course/beauty/label_ob.png");}

/*--トータルビューティー--*/
#mainContent h2.bt_{
	background:url("../../images/common/bg_title.png") no-repeat scroll 0 0 transparent;	
}

#mainContent article section .carriImg dd {
    color: #EA6D99;	
}

#mainContent article section .photoR dt {
    background: url("../../images/course/total/dotline.png")repeat-x scroll left bottom transparent;
    color: #EA6D99;}

#mainContent article section .oneClmn dt {
    color: #EA6D99;}
	
#mainContent article section .twoClmn dt {
    color: #EA6D99;}
	
#mainContent article section .seniorOb dt, #mainContent article section .seniorCur dt {
    background: url("../../images/course/total/dotline.png") repeat-x scroll left bottom transparent;
    color: #EA6D99;}

#mainContent article section .seniorCur .photo:before {
    content: url("../../images/course/total/label_cur.png");}
	
#mainContent article section .seniorOb .photo:before {
    content: url("../../images/course/total/label_ob.png");}

/*--アクセス--*/
article section #access h2 {
	width: 430px;
	height: 63px;
	padding-left: 24px;
	line-height: 47px;
	background: url("../../images/admission/index/bg_title_02.png") 0 0 no-repeat;}

article section #access .access_list{
	margin-top:-30px;}

article section #access img.icon{
	margin-bottom:2px;}

article section #access .mapp {
	margin-top:-8px;
	font-size:11px;}

article section #access .access_list table{
	margin:0px 0 0px -1px; 
	border-collapse: separate;
   border-spacing:1px; }

article section #access .access_list th,td{
	font-size: 12px;
	padding:4px 4px 4px 4px;}

article section #access .access_list th{
	background-color:#e7abab;
	text-align:left;
	color: #ffffff;
	text-align:center;
	font-weight:normal;}
		
article section #access .access_list td{
	background-color:#ffffff;
	color: #666666;
	padding-left:15px;}

article section #access a:link,article section #access a:visited {
	color: #666666;
	text-decoration:none;}

article section #access a:hover,article section #access a:active {
	color:#999999;
	text-decoration:underline;}

/*--サイトマップ--*/
article section #sitemap h2 {
	width: 430px;
	height: 63px;
	padding-left: 24px;
	line-height: 47px;
	background: url("../../images/admission/index/bg_title_02.png") 0 0 no-repeat;}


article section #sitemap .sitemap_box{
	background-color:#fff9f9;
	width:710px;
	margin-top:-10px;}

article section #sitemap .sitemap_list{
	margin-left:20px;
	padding:10px 0 30px;
	font-size: 12px;
	color: #666666;}

article section #sitemap div.sitemap_left{
	width:340px;
	margin-left:-20px;}

article section #sitemap div.sitemap_right{
	width:340px;
	margin-right:35px;
	float:right;}

article section #sitemap dl{
	margin:25px 0 35px;}

article section #sitemap dt, #sitemap li{
	border-bottom: 1px solid #CCCCCC;
    padding-bottom: 9px;
    margin-bottom: 9px;}


article section #sitemap dt{
	background: url("../../images/sitemap/icn-circle-01.png") no-repeat scroll 0 1px transparent;
    font-weight: bold;
	padding-left:30px;
	margin-left:40px;}

article section #sitemap li a{
	background: url("../../images/sitemap/icn-circle-02.png") no-repeat scroll 0 1px transparent;
	padding-left:30px;}

article section #sitemap a:link,article section #sitemap a:visited {
	color: #666666;
	text-decoration:none;}

article section #sitemap a:hover,article section #sitemap a:active {
	color:#999999;
	text-decoration:underline;}

article section #sitemap a.sage{
	padding-left:40px;
	margin-left:30px;}

.clear{
	clear:both;}

/*--教員募集--*/
article section #recruit h2 {
	width: 430px;
	height: 63px;
	padding-left: 24px;
	line-height: 47px;
	background: url("../../images/admission/index/bg_title_02.png") 0 0 no-repeat;}

article section #recruit h3 {
	color:#EC6D6C;
	margin:60px 0 25px 5px;}

article section #recruit .recruit_list{
	margin-top:-30px;}

article section #recruit .recruit_list table{
	margin:0px 0 0px -1px; 
	border-collapse: separate;
   border-spacing:1px; }

article section #recruit .recruit_list th,td{
	font-size: 12px;
	padding:4px 4px 4px 4px;}

article section #recruit .recruit_list th{
	background-color:#e7abab;
	text-align:left;
	color: #ffffff;
	text-align:center;
	font-weight:normal;}
		
article section #recruit .recruit_list td{
	background-color:#ffffff;
	color: #666666;
	line-height:20px;
	padding-left:15px;}

/*--メルマガ--*/
article section #magazine h2 {
	width: 430px;
	height: 63px;
	padding-left: 24px;
	line-height: 47px;
	background: url("../../images/admission/index/bg_title_02.png") 0 0 no-repeat;}


article section #magazine .magazine_box{
	background-color:#fff9f9;
	width:710px;
	margin-top:-20px;}

article section #magazine .magazine_list{
	margin-left:20px;
	padding:25px 0 50px;
	font-size: 12px;
	color: #666666;}
	
article section #magazine p.magazine_a {
	margin-bottom:30px;}

article section #magazine input[type="text"]{
	border: 1px solid #bbbbbb;
	height:15px;}

article section #magazine input[type="submit"]{
	padding:1px 3px 1px 3px;
	color:#555555;
	font-size:11px;}
	
	
/*--学費サポート--*/
#mainContent article #employment h2 {
	width: 430px;
	height: 63px;
	padding-left: 24px;
	line-height: 47px;
	background: url("../../images/admission/index/bg_title_02.png") 0 0 no-repeat;}

.employment_index_topbg{
	background:url(../../images/support/index/img_01.png) no-repeat ;
	width:710px;
	height:430px;
	position:relative;
	margin-top:-30px;}

#employment_index .subtitle_01{
	position:relative;
	top:-200px;}

#employment_index .subtitle_02{
	position:relative;
	top:-150px;}

#employment_index .subtitle_03{
	margin-top:10px;}

.employment_index_top img{
	margin:20px;}

.employment_top_txt{
	position:relative;
	top:250px;}

#employment_index h4{
	font-size:14px;
	margin-left:2px;
	padding-top:5px;
	color:#ec6d6c;}

#employment_index h3{
	color:#ec6d6c;}

#employment_index .float_l{
	float:left;}

.clear{
	clear:both;}

#employment_index h3{
	margin:0;
	margin-bottom:-5px;
	padding:0;
	font-weight:bold;
	font-size:20px;}

#employment_index p.datail{
	margin:-5px 0 0 10px;
	padding:0;
	font-size:13px;}

#employment_index p{
	margin:0;
	padding:0;
	font-size:13px;}

#employment_index a:link{
	text-decoration:none;
	color:#ec6d6c}

#employment_index a:link{
	color:#ec6d6c}

#employment_index a:visited{
	color:#ec6d6c}

.employment_image{
	margin:35px 0;}

.employment_box{
	margin-top:50px;}

.employment_box div{
	width:333px;
	height:255px;}

.employment_box div img{
	margin:0 0 10px 0;}

.employment_box01{
	clear:both;
	float:left;
	margin:0 35px 0 0;}

.employment_box02{
	float:left;}
/*-学費-支援制度-*/
#mainContent article #employment h2 {
	width: 430px;
	height: 63px;
	padding-left: 24px;
	line-height: 47px;
	background: url("../../images/admission/index/bg_title_02.png") 0 0 no-repeat;}

.clear{
	clear:both;}


#employment_system h4,#employment_system h3{
	margin:0;
	padding:0;
	font-weight:bold;
	color:#ec6d6c;}

#employment_system h4{
	line-height:28px;
	margin:0 0 15px 2px;
	font-size:14px;}

#employment_system h3{
	margin:50px 0 20px;
	font-size:20px;}

#employment_system p {
	margin:0 0 15px;
	padding:0;
	font-size:13px;}

#employment_system ul{
	margin-left:13px;}

#employment_system li{
	width:185px;
	color:#666666;
	list-style-type:none;
	float:left;
	padding:0;
	font-size:13px;
	margin:-10px 46px 40px 0;}
/*-学費-授業料免除-*/
#mainContent article #employment h2 {
	width: 430px;
	height: 63px;
	padding-left: 24px;
	line-height: 47px;
	background: url("../../images/admission/index/bg_title_02.png") 0 0 no-repeat;}

#employment_exemption .employment_exemption_top{
	margin-left:3px;}

#employment_exemption .subtitle_01{
	float:left;
	margin-left:10px;}

#employment_exemption .subtitle_02{
	margin-left:350px;}

#employment_exemption h4,#employment_exemption h3{
	margin:0;
	padding:0;
	font-weight:bold;
	color:#ec6d6c;}

#employment_exemption h4{
	line-height:28px;
	margin:0 0 -5px 2px;
	font-size:14px;}

#employment_exemption h3{
	margin:0 0 -15px ;
	font-size:20px;}

#employment_exemption p {
	margin:5px 0 30px 5px;
	padding:0;
	font-size:13px;}
/*table*/
#employment .employment_list table{
	margin:15px 0 50px 0; 
	border-collapse: separate;
   border-spacing:1px; }

#employment .employment_list th,td{
	font-size: 12px;
	padding:4px 4px 4px 4px;
	text-align:center;}

#employment .employment_list th{
	font-weight:normal;
	background-color:#e7abab;
	color: #ffffff;}
	
#employment .employment_list td{
	background-color:#ffffff;
	color: #666666;}
#employment .employment_list .tdtitle{
	color:#ec6d6c;}
#employment .employment_list .datail{
	text-align:left;
	padding-left:20px;}
/*-学費-ローン-*/
#mainContent article #employment h2 {
	width: 430px;
	height: 63px;
	padding-left: 24px;
	line-height: 47px;
	background: url("../../images/admission/index/bg_title_02.png") 0 0 no-repeat;}
#employment .employment_loan_top{
	margin-left:3px;}
#employment_loan h4,#employment_loan h5{
	margin:0;
	padding:0;
	font-weight:bold;
	color:#ec6d6c;}

#employment_loan h4{
	line-height:28px;
	margin:0 0 5px 2px;
	font-size:16px;}

#employment_loan h5{
	font-size:14px;
	margin:4px 0 6px;}

#employment_loan p, #employment_loan td, #employment_loan li {
	margin:0 0 5px;
	padding:0;
	font-size:13px;
	color:#666666;}

#employment_loan .blue{
	margin-top:-3px;
	color: #54C3F1;
	font-size:13px;
	font-weight:bold;
	line-height:10px;}
#employment_loan .loan_line{
	background: url("../../images/support/loan/line_img.png") repeat-y;
	width:3px;
	padding:0 2px;}
#employment_loan .under_box{
	background: url("../../images/support/loan/bg_img.png") 0 0 no-repeat;
	width:703px;
	height:132px;}	
#employment_loan .under_box p{
	margin-left:30px;
	padding-top:10px;}


#employment_loan table{
	margin:20px 0 50px;}
#employment_loan td{
	margin:5px;
	padding:0 10px;
	text-align:left;
	vertical-align:top;}
#employment_loan b{
	margin:-2px 0 -4px 2px;
	font-size:12px;}
#employment_loan .lines{
	margin:-6px 0 5px -2px;
	vertical-align:middle;}	

#employment_loan ul{
	margin-top:0px;
	width:215px;}
#employment_loan li{
	margin-left:23px;
	list-style-image:url("../../images/support/loan/list_img.png");}
#employment_loan img{
	margin:4px 15px 3px -1px;}
/*-学費-特待生-*/
#mainContent article #employment h2 {
	width: 430px;
	height: 63px;
	padding-left: 24px;
	line-height: 47px;
	background: url("../../images/admission/index/bg_title_02.png") 0 0 no-repeat;}
#mainContent article #employment_winner .title_img{
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 10px 2px #E9CFD0;
    float: left;
    height: auto;
    line-height: 1;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: auto;
    border-radius: 3px 3px 3px 3px;
    margin: -1px;}

#employment_winner_top{
	margin:-20px 0 0;}

#employment_winner .float_r{
	margin:10px 20px;
	padding-right:3px;
	float:right;}

#employment_winner .float_l{
	float:left;}

#employment_winner .float_r a{
	font-size:12px;
	text-decoration:underline;}
#employment_winner .float_r a:hover{
	text-decoration:none;}

#employment_winner h4,#employment_winner h3{
	margin:0;
	padding:0;
	font-weight:bold;
	color:#ec6d6c;}

#employment_winner h4{
	margin: 20px 13px 0 0;
	font-size:14px;
	float:right;}

#employment_winner h3{
	margin:15px 0 0;
	font-size:20px;
	float:left;}

#employment_winner p {
	margin:0 10px 0 0;
	padding:0;
	font-size:13px;
	font-weight:normal;
	text-align:left;}

#employment_winner .lines{
	margin:-5px 0 5px;
	vertical-align:middle;}

#employment_winner_top table{
	margin:20px 0 40px;}
#employment_winner_top td{
	padding:10px 15px 10px 10px;
	margin-bottom:20px;
	vertical-align:top;}
#employment_winner_top .pfoto {
	vertical-align:top;
	margin-top:20px;}

