@charset "UTF-8";

/*  ↓admission  */

#mainContent article section h2 {
	width: 430px;
	height: 63px;
	padding-left: 24px;
	line-height: 47px;
	background: url(../../images/admission/index/bg_title_02.png) 0 0 no-repeat;
	
}

.admission_table01{
	width:710px;
	border:#ffe9e9 solid 1px;
	background:#fff;
	margin-bottom:40px
}

.admission_table01 a:link{
	font-size:14px;
	color:#ffffff;
}

.admission_table01 a:visited{
	font-size:14px;
	color:#ffffff;
}

.admission_table01 a:hover{
	font-size:14px;
	color:#ffffff;
	text-decoration:none
}

.admission_table01 tr td{
	border:#ffe9e9 solid 1px;
	background:#fff;
	color:#707070;
	padding:10px 0 10px 15px;
	padding:10px 0;
}

.admission_table01 th{
	border:#ffe9e9 solid 1px;
	background:#e7abab;
	color:#ffffff;
	font-size:16px;
	font-weight:100;
	padding:10px 0;
}

.admission_table_center{
	text-align:center;
}
.admission_table_left{
	text-indent:0.8em;
}

#admission_schedule{
	width:707px;
	height:338px;
	background: url(../../images/admission/index/bg_schedule.png) 0 0 no-repeat;
	text-align:center
}

#admission_schedule ul {
	position: relative;
	margin:70px 0 0 0;
}

#admission_schedule_1{
	position: absolute;
	left: 105px;
}

#admission_schedule_2{
	position: absolute;
	left: 157px;
	top:45px
}

#admission_schedule_3{
	position: absolute;
	left: 261px;
	top:90px
}

#admission_schedule_4{
	position: absolute;
	left: 261px;
	top:135px
}

#admission_schedule_5{
	position: absolute;
	left: 261px;
	top:180px
}

#admission_schedule_6{
	display:inline;
	position: absolute;
	left: 445px;
	top:225px
}

#admission_schedule_7{
	display:inline;
	position: absolute;
	left: 499px;
	top:225px
}

#admission_schedule_8{
	display:inline;
	position: absolute;
	left: 604px;
	top:225px
}

.admission_btn{
	margin-bottom:30px;
}

.admission_btn img{
	padding-right:15px;
}

.admission_table02 p,.admission_table03 p{
	margin:0 0 5px 0;
	padding:0;
}

.admission_table02{
	width:710px;
	border:#ffe9e9 solid 1px;
	background:#fff;
}

.admission_table02 tr td{
	border:#ffe9e9 solid 1px;
	background:#fff;
	color:#707070;
	padding:10px 10px 10px 15px;
	line-height:1.8em;
}

.admission_table02 th{
	border:#ffe9e9 solid 1px;
	background:#e7abab;
	color:#ffffff;
	font-size:16px;
	font-weight:100;
	padding:10px 0;
}

.admission_table02 tr td ul {
	margin:0;
	padding:0;
}

.admission_table02 tr td ul li{
	font-size:12px;
	margin:0;
	padding:0;
	line-height:1.8em;
}

.text_bold{
	font-weight:bold;
}

.text_small{
	font-size:12px;
}

.text_right{
	text-align:right
}

.text_center{
	text-align:center
}

.right{
	float:right;
}

.left{
	float:left;
}

.clear{
	clear:both;
}

#admission_guidelines01 h3{
	font-size:26px;
	font-weight:bold;
	color:#ec6d6c;
	margin:0 0 10px 0;
	pading:0
}

.admission_table03{
	width:710px;
	border:#ffe9e9 solid 1px;
	background:#fff;
}

.admission_table03 tr td{
	border:#ffe9e9 solid 1px;
	background:#fff;
	color:#707070;
	font-size:12px;
	padding:10px 0 10px 15px;
	line-height:1.8em;
}

.admission_table03 th{
	border:#ffe9e9 solid 1px;
	background:#e7abab;
	color:#ffffff;
	font-size:16px;
	font-weight:100;
	padding:10px 0;
}

#admission_table02_list{
	font-size:11px;
	padding:0 13px;
}

#admission_guidelines02 h3{
	font-size:26px;
	font-weight:bold;
	color:#ec6d6c;
	margin:0;
	pading:0
}

#admission_guidelines02 h4{
	font-size:14px;
	font-weight:bold;
	color:#ec6d6c;
	margin:10px 0;
	pading:0;
}

.admission_table04{
	width:710px;
	border:#ffe9e9 solid 1px;
	background:#fff;
	line-height:1em;
	margin:0 0 25px 0;
}

.admission_table04 tr td{
	border:#ffe9e9 solid 1px;
	background:#fff;
	color:#707070;
	font-size:12px;
	padding:10px 10px 10px 15px;
	line-height:1.8em;
}

.admission_table04 th{
	border:#ffe9e9 solid 1px;
	background:#e7abab;
	color:#ffffff;
	font-size:16px;
	font-weight:100;
	padding:10px 0;
}

/*  ↑admission  */

/*  ↓course_index  */

#course_index h3{
	margin:0;
	padding:0;
	font-weight:bold;
	font-size:20px;
}

#course_index p{
	margin:0;
	padding:0;
	font-size:13px;
}

#course_index div{
	width:335px;
	height:370px;
}

#course_index div img{
	margin:0 0 10px 0;
}

#course_index a:link{
	text-decoration:none
}

.course_box01{
	float:left;
	margin:0 35px 0 0;
}

.course_box02{
	float:left;
}

.course_box03{
	clear:both;
	float:left;
	margin:0 35px 0 0;
}

.course_barber{
	color:#54c3f1;
}

.course_beauty{
	color:#ef8200;
}

.course_esthetic{
	color:#b981c5;
}

.course_total{
	color:#ea6d99;
}

.course_correspondence{
	color:#77bd38;
}

/*  ↑course_index  */

/*  ↓course_correspondence  */
#course_correspondence h2{
	width: 430px;
	height: 63px;
	padding-left: 24px;
	line-height: 47px;
	background: url(../../images/admission/index/bg_title_02.png) 0 0 no-repeat;
}

.course_correspondence_img{
	margin:0 0 55px 0;
}

/*  ↑course_correspondence  */

/*  ↓school  */

.school_index_top{
	background:url(../../images/school/index/bg_top_image.png) no-repeat ;
	width:710px;
	height:360px;
	position:relative
}

.school_index_top img{
	margin:20px;
}

.school_top_txt{
	position:absolute;
	top:250px;
}

#school_index h3{
	margin:0;
	padding:0;
	font-weight:bold;
	font-size:20px;
}

#school_index p{
	margin:0;
	padding:0;
	font-size:13px;
}

#school_index a:link{
	text-decoration:none;
	color:#ec6d6c
}

#school_index a:link{
	color:#ec6d6c
}

#school_index a:visited{
	color:#ec6d6c
}

.school_image{
	margin:35px 0;
}

.school_box div{
	width:335px;
	height:325px;
}

.school_box div img{
	margin:0 0 10px 0;
}

.school_box01{
	clear:both;
	float:left;
	margin:0 35px 0 0;
}

.school_box02{
	float:left;
}


.school_history_main{
	background:#fff8f8;
	padding:0 0 3px 0;
}

.school_history_main ul li{
	margin:0 15px 15px 0
}

.school_history_table{
	font-size:13px;
	color:#666;
	margin:15px ;
	width:540px;
}

.school_history_table th{
	text-align:left;
	font-weight:100;
}

.school_history_table tr{
	border-bottom:#cdcdcd solid 1px
}

.school_history_table th,.school_history_table td{
	padding:10px 0;
}

#school_facilities{
	line-height:1.8em
}

.school_facilities_box01{
	height:200px;
	margin:0 0 35px 0px;
	background:url(../../images/school/facilities/photo_top.jpg) no-repeat right top;
}

#school_facilities h3{
	color:#ec6d6c;
    font-size: 15px;
    font-weight: bold;
    line-height: 2;
    margin: 0;
}

#school_facilities h4{
	font-size:15px;
	color:#ec6d6c;
	margin:10px 0 0 0;
	}
	
#school_facilities p{
	font-size:13px;
	margin:0;
}

#school_facilities  table{
	clear:both;
	margin:20px 0 0 0;
	border-collapse: separate;
	border-spacing: 15px;
}

#school_facilities  table tr td{
	vertical-align:top;
}

/*  ↑school  */

/*  ↓campuslife  */

#campuslife_index{
	line-height:1.8em
}

.campuslife_box01{
	height:250px;
	margin:0;
	padding:0;
	background:url(../../images/campuslife/photo01.png) no-repeat right 70px;
}

.campuslife_box01 h3{
	color:#ec6d6c;
    font-size: 15px;
    font-weight: bold;
    line-height: 2;
    margin: 0;
    width: 450px;
}

.campuslife_ivent{
	background:#fff8f8;
	padding:15px;
	
}

.campuslife_ivent a:link{
	font-size:15px;
	text-decoration:none;
	margin:0;
}

.campuslife_ivent a:hover{
	text-decoration:underline;
}

.campuslife_ivent ul li{
	font-size:13px;
}

.campuslife_ivent_title{
	font-size:13px;
	color:#ed7675;
	border-bottom: 1px solid #CCCCCC;
	margin:0 0 10px 0;
}

.campuslife_ivent_title a:link{
	font-weight:bold;
	color:#666666;
}

.campuslife_ivent_title a:visited{
	color:#666666;
}

.campuslife_ivent_content{
	font-size:14px;
	color:#666666	;
}

.campuslife_ivent_content a:link{
	font-size:13px;
	color:#ed7675;
}

.campuslife_ivent_content a:visited{
	color:#ed7675;
}

.campuslife_table{
	width:700px;
	background:#ebf6f5;
	color:#666;
	font-size:13px;
}

.campuslife_table tr{
	height:70px;
}

table tr.even{
	background:#fff8f8;
}

.campuslife_table_photo {
	text-align:center;
}

/*  ↑campuslife  */

/*  ↓inquiry  */

#inquiry_index table{
	color:#666;
	line-height:2em
}

#inquiry_index table th{
	background:url(../../images/inquiry/index/bg_table.jpg) top repeat-x #ffd4d3;
	text-align:left;
	padding:20px 0 20px 20px;
	font-size:15px
}

#inquiry_index table tr td{
	background:url(../../images/inquiry/index/bg_table.jpg) top repeat-x ;
	padding:20px 0 20px 20px;
	font-size:14px
}

.inquiry_index_txt{
	text-align:center;
	margin:0;
}

#inquiry_index .check{
	padding:8px 12px;
	margin:8px;
}

#inquiry_index .check:hover{
　filter: alpha(opacity=70);
  -moz-opacity:0.7;
  opacity:0.7;
}

/*  ↑inquiry  */

/*  ↓support_index  */

.support_index_top{
	width:714px;
	height:346px;
	margin:0 0 20px 0;
	background:url(../../images/employment/index/bg_top.png) 0 0 no-repeat;
}

#support_index h2{
	width: 430px;
	height: 63px;
	padding:0 0 0 24px;
	line-height: 47px;
	background: url(/images/common/index/bg_title.png) 0 0 no-repeat;
	position: absolute; 
	top: 440px;  
}

#support_index hr {
	height:0;
	border:0;
	border-top:1px solid #ffd1da;
	border-bottom:1px solid #fff;
	margin:25px 0;
}

.support_index_box{
	width:710px;
	margin:45px 0 0 0;
	background: url(/images/employment/index/bg_deco.png) top right no-repeat;
}

.support_index_step{
	margin:0 0 30px 0;
}

.support_index_list_box{
	width:710px;
	float:left;
	background:url(../../images/employment/index/bg_list.jpg) 0 0 repeat-y;
}

.support_index_list_box ul{
	margin:0 0 0 22px;
	padding:0;
	float:left
}

.support_index_list_box ul li{
	font-size:10px;
	color:#f1a9b7;
	margin:5px 0 0 0;
}

.support_index_list_box h4{
	float:15px;
	color:#54c3f1;
	margin:0;
	padding:0
}

/*  ↑support_index  */

/*  ↓support_qualification  */

#support_qualification {
	margin:25px 0 0 0;
}

#support_qualification a:hover{
	filter: alpha(opacity=70);
  -moz-opacity:0.7;
  opacity:0.7;
}
	

#support_qualification h2{
	width:100%;
	height:100%;
	margin:0;
	padding:0
}

.qualification_list01{
	margin:25px 0 15px 0;
}

.qualification_list01 li{
	float:left;
	width:233px;
	margin:0 3px 0 0;
	font-size:13px;
	color:#666;
	line-height:1.8em;
	}
	
.qualification_list01 img{
	margin:0 0 5px 0;
}

#support_qualification hr{
	clear:both;
	height:0;
	border:0;
	border-top:1px solid #ffd1da;
	border-bottom:1px solid #fff;
	margin:15px 0;
}

#support_qualification h3{
	margin:0 0 15px 0;
	padding:0;
}

.qualification_list02 li{
	float:left;
	width:175px;
	height:50px;
}

.support_qualification_course div{
	margin:50px 0;
}

.support_qualification_course h4{
	width: 430px;
	height: 63px;
	padding:0 0 0 24px;
	line-height: 47px;
}
	
.support_qualification_barber{
	clear:both;
	height:590px;
	background:url(../images/employment/qualification/bg_barber.png) bottom no-repeat
}

.support_qualification_barber h4{
	background:url(../images/course/barber/bg_title.png);
}

.support_qualification_barber p{
	margin:35px 0 0 253px;
}

.support_qualification_course dl{
	margin:50px 0 0 25px;
	color:#666;
}

.support_qualification_course dl dt{
	color:#ffffff;
	display:inline;
	font-size:13px;
	padding:10px 30px 10px 10px;
}

.support_qualification_course dl dd{
	font-size:12px;
	margin:15px 0 15px 10px;
	line-height:1.8em;
}

.support_qualification_course span{
	padding:5px;
	margin:0 0 0 5px;
	background:#fff462;
	color:#7ecfce;
	font-size:13px
}

.support_qualification_barber dl dt{
	background:#54c3f1;
}

.support_qualification_beauty{
	height:508px;
	background:url(../images/employment/qualification/bg_beauty.png) bottom no-repeat
}

.support_qualification_beauty h4{
	background:url(../images/course/beauty/bg_title.png);
}

.support_qualification_beauty p{
	margin:25px 0 0 225px;
}

.support_qualification_beauty dl{
	margin:15px 0 0 25px;
}

.support_qualification_beauty dl dt{
	background:#f08300;
}

.support_qualification_esthetic{
	height:667px;
	background:url(../images/employment/qualification/bg_esthetic.png) bottom no-repeat
}

.support_qualification_esthetic h4{
	background:url(../images/course/esthetic/bg_title.png);
}

.support_qualification_esthetic p{
	margin:40px 0 0 270px;
}

.support_qualification_esthetic dl{
	margin:30px 0 0 20px;
}

.support_qualification_esthetic dl dt{
	background:#ba8cbd;
}

.support_qualification_esthetic dl dd{
	margin:15px 0 25px 10px;
}

.support_qualification_esthetic img{
	margin:5px 5px 0 0;
}

.support_qualification_total{
	height:755px;
	background:url(../images/employment/qualification/bg_total.png) bottom no-repeat
}

.support_qualification_total dl{
	margin:25px 0 0 20px;
}

.support_qualification_total h4{
	background:url(../images/course/total/bg_title.png);
}

.support_qualification_total p{
	margin:30px 0 0 250px;
}

.support_qualification_total dl dt{
	background:#eb6d9a;
}

.support_qualification_total dl dd{
	margin:15px 0 30px 10px;
}


/*  ↑support_qualification  */



	








	
	
	

