@charset "UTF-8";
/* open campus */

#mainContent article section h2 {
	width: 430px;
	height: 63px;
	padding-left: 24px;
	margin-bottom: 40px;
	line-height: 47px;
	background: url(../../images/opencampus/bg_title.png) 0 0 no-repeat;}


#mainContent article section#schedule p{
	color:#56b3b8;
	font-size:15px;
	font-weight:bold;}
	
#mainContent article section#schedule .schedule{
	overflow:hidden;
	position:relative;}
	
#mainContent article section#schedule .floatL{
	float:left;
	width:350px;}
	
#mainContent article section#schedule .floatR{
	float:right;
	width:350px;}
	
#mainContent article section#schedule table{
	width:350px;
	border-spacing: 3px;
	border-collapse:separate;}
	
#mainContent article section#schedule th{
	padding:2px 0;
	text-align:center;
	width:55px;}
	
#mainContent article section#schedule td{
	height:55px;
	line-height:22px;
	padding-top:3px;
	text-align:center;
	color:#FFF;
	width:75px;
	font-size:18px;}
	
#mainContent article section#schedule td img{
	margin-top:1px;}
	
#mainContent article section#schedule td.oc{
	background:#e7bbba;}
	
#mainContent article section#schedule td.ex{
	background:#56b3b8;}
	
#mainContent article section#schedule .schedule img.item{
	position: absolute;
	z-index: 50;
	left: 507px;
	top: 165px;
}
	

#mainContent article section#flow p{
	color:#56b3b8;
	font-size:15px;
	font-weight:bold;}
	
#mainContent article section#movie p{
	color:#56b3b8;
	font-size:15px;
	font-weight:bold;}
	
#mainContent article section#movie .movie{
	width:612px;
	height:408px;
	background:url(../../images/opencampus/movie_base.png) no-repeat;
	margin:0 auto;}

#mainContent article section#movie .movie .youtube{
	width:560px;
	margin:25px 0 0 26px;}
