/* CSS Document */

#tokutaisei div.header {
	margin-top: 10px;
	margin-bottom: 10px;
}

#tokutaisei div.tel {
	float: right;
}

#tokutaisei h1 {
	display: none;
}

#tokutaisei div#logo {
	margin-top: 10px;
}

#tokutaisei h2 {
	background-image: url(../../img/tokutaisei/main.jpg);
}

#tokutaisei div.navi {
	margin: 0 auto;
	_margin-left: 5px;
	width: 890px;
	height: 40px;
	background-image: url(../../img/tokutaisei/navi_bg.jpg);
	overflow: hidden;
	clear: both;
	margin-bottom: 30px;
}

#tokutaisei div.navi li {
	float: left;
}

#tokutaisei div.navi li a {
	text-indent: -9999px;
	height: 40px;
	display: block;
}

#tokutaisei li#navi1 a {
	width: 203px;
	background-image: url(../../img/tokutaisei/navi1.jpg);
}
#tokutaisei li#navi1 a:hover ,#tokutaisei li#navi1 {
	background-image: url(../../img/tokutaisei/navi1_2.jpg);
}
#tokutaisei li#navi2 a {
	width: 217px;
	background-image: url(../../img/tokutaisei/navi2.jpg);
}
#tokutaisei li#navi2 a:hover ,#tokutaisei li#navi2 {
	background-image: url(../../img/tokutaisei/navi2_2.jpg);
}
#tokutaisei li#navi3 a {
	width: 153px;
	background-image: url(../../img/tokutaisei/navi3.jpg);
}
#tokutaisei li#navi3 a:hover ,#tokutaisei li#navi3 {
	background-image: url(../../img/tokutaisei/navi3_2.jpg);
}

#tokutaisei div.navi p {
	height: 40px;
	line-height: 40px;
	color: #FFFFFF;
}
