/* CSS Document */

#tokutaisei li#navi2 a {
	background-image: url(../../img/tokutaisei/navi2_2.jpg);
}

#tokutaisei h2 {
	background-image: url(../../img/tokutaisei/comment.jpg);
}

div.contents h3 {
	text-indent: -9999px;
	margin-bottom: 20px;
	overflow: hidden;
	background-repeat: no-repeat;
	height: 16px;
}

h3#m1 {
	background-image: url(../../img/tokutaisei/comment_title1.gif);
}
h3#m2 {
	background-image: url(../../img/tokutaisei/comment_title2.gif);
}

div.contents dl {
	margin-bottom: 20px;
	overflow: hidden;
	clear: both;
}

div.contents dt {
	width: 160px;
	float: left;
	font-size: 10px;
}

div.contents dt h4 {
	font-size: 14px;
}
div.contents dd h4 {
	padding-bottom: 5px;
	margin-bottom: 5px;
	overflow: hidden;
	border-bottom: 1px #007A7A dotted;
}

div.contents dd {
	width: 710px;
	float: right;
}

div.contents dd p {
	margin-bottom: 15px;
	overflow: hidden;
}