/* CSS Document */

#tokutaisei li#navi1 a {
	background-image: url(../../img/tokutaisei/navi1_2.jpg);
}

table.l1-t1 {
	width: 800px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	margin-bottom: 20px;
}

table.l1-t1 td {
	text-align: center;
	vertical-align: middle;
	border-top-width: 1px;
	border-right-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	padding: 5px;
}

td#td-l {
	text-align: left;
}

td#td-w1 {
	width: 150px;
}

div.m1 {
	width: 100%;
	margin-bottom: 10px;
	overflow: hidden;
}

div.contents h3 {
	width: 100%;
	height: 16px;
	background-repeat: no-repeat;
	text-indent: -9999px;
	margin-bottom: 10px;
	overflow: hidden;
}

div.m1 h3 {
	background-image: url(../../img/tokutaisei/index_title1.gif);
}

div.m2 h3 {
	background-image: url(../../img/tokutaisei/index_title2.gif);
}

div.contents dl {
	width: 500px;
	background-color: #f0f0f0;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 5px;
}

div.contents dd {
	text-indent: 10px;
	margin-bottom: 5px;
	overflow: hidden;
}

div.m3 {
	margin-bottom: 20px;
}

div.m3 span {
	font-size: 16px;
}