@charset "UTF-8";
/* CSS Document */


   
section{
	width:100%;
	padding:0;
	margin: 0 auto 5px;
	text-align:center;}

section h2 {
	margin:-10px auto 10px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.40);	
	border:1px solid #FFFFFF;}

section .contents{
	width:88%;
	line-height:17px;
	margin:0 auto;
	padding:3%;
	text-align:center;}
	

#admission_index h2 {
	margin:-10px auto 10px;
	letter-spacing:1px;
	border:1px solid #F28080;-webkit-box-shadow: #CCB1B1 2px 2px 2px  ;-moz-box-shadow: #CCB1B1 2px 2px 2px ; box-shadow: #CCB1B1 2px 2px 2px  ; -webkit-border-radius: 3px; -moz
	border-radius: 3px;border-radius: 5px;width:91%;font-size:16px; padding: 3.5% 0 3.5% 3%; text-shadow: 2px 2px 0 rgba(212,0,35,0.3); text-align: left; color: #FFFFFF; background-color:
	#F5B5B5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F5B5B5), to(#F28080));
	background-image: -webkit-linear-gradient(top, #F5B5B5, #F28080);
	background-image: -moz-linear-gradient(top, #F5B5B5, #F28080);
	background-image: -ms-linear-gradient(top, #F5B5B5, #F28080);
	background-image: -o-linear-gradient(top, #F5B5B5, #F28080);
	background-image: linear-gradient(to bottom, #F5B5B5, #F28080);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F5B5B5, endColorstr=#F28080);
	box-shadow:inset 0px 1px 0px 0px #fce5e5;
}

section h3 a{
	color:#ffffff;
	font-size:12px;
	margin:5px 0 4px;}
	
section p{
	color:#222222;
	font-size:12px;
	font-weight:bold;
	margin:0;
	padding:0;
	text-align:left;}

#admission_index h4{
	line-height:1.4em;
	margin:5px 0 10px 0;
	padding:0 0 3px 0;
	color:#f18b8b;
	border-bottom:1px dotted #f18b8b;
	width:100%}
	
#admission_index h5{
	margin:10px 0 5px 0;
	padding:0;
}
	
#admission_index section h5 img{
	margin:0;
	padding:0;
	width:35%;
	text-align:left;}
	
#fragment-1 #add_img{
	width:100%;
	height:100%
}

#fragment-1,#fragment-2,#fragment-3{
	background:#fffbfa;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.40);
	text-align:left;}
	
#fragment-1 #icon01{
	margin:0 0 3px 13%;}
	
#fragment-2 #icon01{
	margin:0 0 3px 48%;}
	
#fragment-3 #icon01{
	margin:0 0 3px 82%;}
	
#admission_index  table{
	width:100%;
	font-size:6pt;
	margin-bottom:15px;
	line-height:1.4;
	border-collapse:collapse;
	}
	
#admission_index th{
	padding:5px 0;
	color:#FFF;
	border-left:solid 1px #fff;
	border-bottom:solid 1px #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9cdcd), to(#f6b9b9));
    background-image: -webkit-linear-gradient(top, #f9cdcd, #f6b9b9);
    background-image: -moz-linear-gradient(top, #f9cdcd, #f6b9b9);
    background-image: -ms-linear-gradient(top, #f9cdcd, #f6b9b9);
    background-image: -o-linear-gradient(top, #f9cdcd, #f6b9b9);
    background-image: linear-gradient(to bottom, #f9cdcd, #f6b9b9);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f9cdcd, endColorstr=#f6b9b9);
	text-align:center;
;}

.adm_table01 tr:nth-child(even){
	background:#f4f2f4;
	}

#admission_index .adm_table01  td{
	padding:5px 0;
	border-bottom:1px solid #d6d6d6;
	text-align:center
}

#admission_index .adm_table02  td{
	padding:5px 0 5px 10px;
	text-align:left;
}

#admission_index p.pink{
	color:#f18b8b;
	font-size:6pt;
	margin:2px 0 0 0;
	font-weight:bold;}
	
#admission_index p.text01{
	color:#f18b8b;
	margin-bottom:5px;
	font-weight:bold;
}

#admission_index p.bold{
	font-weight:bold;
	font-size:9px
}

#admission_index p.bold02{
	font-weight:bold;
	font-size:6pt
}

.adm_table03 tr:nth-child(even){
	background:#f4f2f4;
	}

#admission_index .adm_table03  td{
	padding:5px 0;
	border-right:1px solid #d6d6d6;
	text-align:center
}

	



