@charset "UTF-8";
body{
	background-color: #ffeaea;
	margin: 0;
	padding:0;
}
.clear{
	clear:both;}
li{
	list-style-type:none;}
/*--header--*/
header{
	width:100%;
	padding:0;
	border-top:15px #f28b8c solid;
	margin: 0 auto 5px;
	text-align:center;}

header h1{
	margin:4% 0 3%;}
header h1 img{
	width:60%;
	}
/*-header-end-*/
/*-footer-*/
footer{
	width:100%;
	padding:0;
	margin-top:4%;
	border-bottom:5px #f28b8c solid;}
footer .copyright img{
	width:90%;}
footer .copyright{
	width:100%;
	display:inline-table;
	color:#ffffff;
	font-size:8px;
	background:#f28b8c;
	padding:2px 1% 0 0%;
	margin:0 0 -10px;}

footer address{
	font-style:normal;
	color:#666666;
	font-size:10px;
	line-height:17px;
	margin:5px 0 0 3%;
	float:left;}
footer address .add{
	color:#FFF;
	font-size:8px;
	background-color:#c1b400;
	margin:-8px 2px 1px;
	padding:2px 2px 2px 1px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;}

footer #pcsite{
	text-align:right;}
footer #pcsite .topc_button img{
	width:70%;}
footer #pcsite .topc_button {
    width: 26%;
    padding: 3% 0 1% 1%;
    background: #ffffff;
    border: none;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
	-webkit-box-shadow: #CCB1B1 2px 2px 2px  ;-moz-box-shadow: #CCB1B1 2px 2px 2px ; box-shadow: #CCB1B1 2px 2px 2px  ;
	margin:0px 3% -1px;}
footer #pcsite .topc_button.hover {
    width: 26%;
    padding: 3% 0 1% 1%;
    background: #CCC;
    border: none;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
	-webkit-box-shadow: #CCB1B1 2px 2px 2px  ;-moz-box-shadow: #CCB1B1 2px 2px 2px ; box-shadow: #CCB1B1 2px 2px 2px  ;
	box-shadow:2px 1px 1px 1px #999 inset;}

footer .ma{
	margin:0 auto;
	text-align:center;}

footer #totop{
	margin:0 auto 5%;}
footer #totop .totop_button img{
	width:20%;}
footer #totop .totop_button{
	border:1px solid #ffffff;-webkit-box-shadow: #CCB1B1 1px 1px 2px  ;-moz-box-shadow: #CCB1B1 1px 1px 2px ; box-shadow: #CCB1B1 1px 1px 2px  ;width:94%;padding: 2% 0 1.5%; text-align: center; color: #FFFFFF; background-color: #ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), top(#ffebeb));
	background-image: -webkit-linear-gradient(top, #ffffff, #ffebeb);
	background-image: -moz-linear-gradient(top, #ffffff, #ffebeb);
	background-image: -ms-linear-gradient(top, #ffffff, #ffebeb);
	background-image: -o-linear-gradient(top, #ffffff, #ffebeb);
	background-image: linear-gradient(to bottom, #ffffff, #ffebeb);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#ffebeb);
}
footer #totop .totop_button.hover{
 border:1px solid #ebd4d5; background-color: #f7dfdf;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#f7dfdf), top(#ebd4d5));
 background-image: -webkit-linear-gradient(top, #f7dfdf, #ebd4d5);
 background-image: -moz-linear-gradient(top, #f7dfdf, #ebd4d5);
 background-image: -ms-linear-gradient(top, #f7dfdf, #ebd4d5);
 background-image: -o-linear-gradient(top, #f7dfdf, #ebd4d5);
 background-image: linear-gradient(to bottom, #f7dfdf, #ebd4d5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f7dfdf, endColorstr=#ebd4d5);
 box-shadow:inset 0px 1px 0px 0px #ebcdce;
}

footer table{
	width:94%;
	-webkit-box-shadow: #CCB1B1 1px 1px 2px  ;-moz-box-shadow: #CCB1B1 1px 1px 2px ; box-shadow: #CCB1B1 1px 1px 2px  ;}
footer td{
	font-size:13px;
	color:#FFF;
	text-shadow: 1px 1px 0 #f27c7a;
	font-weight:bold;
	padding:7px 0;
	margin:0 auto;
	text-align:center;
	border:1px solid #ffffff;
	}
footer td{
	background:#fac0bf;}
footer .menu_bottom td{
	background:#f7b1b1;}
footer td.hover{
	background:#e99292;}
footer .menu_bottom td.hover{
	background:#ea6d6a;}


footer ul{
	margin:10px 0 20px;
	padding: 0;}
footer li{
	font-size:11px;
	padding:0 8px 0 4px;
	margin:0;
	display:inline;
	border-right:1px solid #f27c7a;}
footer li:last-child{
	border-right:0px;}
footer li a{
	color:#ea6d6a;
	font-weight:bold;
	text-decoration:none;}

/*-footer-end-*/

