@charset "UTF-8";
/* CSS Document */

body{
	text-justify: inter-ideograph;;
}

.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }
   
section{
	width:100%;
	padding:0;
	margin: 0 auto 5px;
	text-align:center;}

section h2 {
	margin:-10px auto 10px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.40);	
	border:1px solid #FFFFFF;}

section .contents{
	width:88%;
	line-height:17px;
	margin:0 auto;
	padding:3%;
	text-align:center;}
	
section h2 img{
	width:100%;}

section h3 a{
	color:#ffffff;
	font-size:12px;
	margin:5px 0 4px;}
	
section p{
	color:#222222;
	font-size:12px;
	font-weight:bold;
	margin:0;
	padding:0;
	text-align:left;}

h4{
	line-height:1.4em;
	margin:5px 0 10px 0;}

#fragment-1,#fragment-2,#fragment-3{
	background:#fffbfa;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.40);
	text-align:left;}

dl{
	font-size:12px;
	color:#444444;
	line-height:1.5em;
	margin:0;
	padding:0}

dt{
	font-weight:bold;}

dd{
	margin:0;
	padding:0}


/**  ↓ #fragment-1   **/

#fragment-1 #icon01{
	margin:0 0 3px 13%;}
	
#fragment-1 .course_carri01 span{
	font-size:90%;
}

.course_carri01_top p{
	float:right;
	width:50%;
	margin:0 0 8px 0;}

.course_carri01_top img{
	width:45%;
	height:45%;
	margin:0;
	padding:0}

#fragment-1 .course_carri01,#fragment-1 .course_carri03{
	clear:both;
	width:45%;
	float:left;
	margin:0 0px 20px 0 ;}

#fragment-1 .course_carri01_02,#fragment-1 .course_carri03_02{
	width:45%;
	float:right;
	margin:0 0px 20px 0 ;}

#fragment-1 .course_carri01 img, .course_carri01_02 img{
	width:100%;
	height:100%;
	margin:0 0 5px 0;}

#fragment-1 .course_carri02{
	clear:both;
	margin:20px 0 20px 0;
	width:96.5%;}

#fragment-1 .course_carri02 dt{
	margin:0 0 5px 0;}

#fragment-1 .course_carri03 dt,#fragment-1 .course_carri03_02 dt{
	margin:0 0 5px 0;
	font-size:12px;}

#fragment-1 .course_carri03 dd,#fragment-1 .course_carri03_02 dd{
	font-size:11px;}
/**  ↑ #fragment-1   **/


/**  ↓ #fragment-2   **/

#fragment-2 #icon01{
	margin:0 0 3px 48%;}
	
#fragment-2 p{
	margin:5px 0 15px 0;}
	
#fragment-2 .course_capa dt{
	margin:5px 0}
	
#fragment-2 .course_capa dd{
	margin:0 0 15px 0}
	
	
	

/**  ↑ #fragment-2   **/


/**  ↓ #fragment-3   **/

#fragment-3 #icon01{
	margin:0 0 3px 82%;}
	
#fragment-3 .course_voice{
	clear:both;
	margin:0 0 15px 0
}
	

	
#fragment-3 .course_voice dt{
	font-size:12px;
	margin:-10px 0 10px 0;
	padding:20px 0 0 0;}


#fragment-3 .course_voice dt div{
	height:30px;
	width:20%;
	margin:0 5px 0 0 ;
	text-align:center;
	line-height:30px;
	color: #ffffff;text-decoration: none;
	border-radius: 5px;
	float:left;
	float-size:12px}
	
#fragment-3 .course_voice dd img{
	width:100%;
	height:100%;
}

#fragment-3 .course_voice dd{
	font-size:12px;
	width:48%
}

#fragment-3 .course_voice span{
	font-size:10px
}

#fragment-3 .course_voice .voice_left{
	float:left;
}

#fragment-3 .course_voice .voice_right{
	float:right;
}
	
/**  ↑ #fragment-3   **/

/**  ↓ #barber   **/

#course_barber #fragment-1 h4{
	color:#5fc7f2;}

#course_barber #fragment-1 dt,#course_barber #fragment-2 dt,#course_barber #fragment-3 dt{
	font-weight:bold;
	color:#5fc7f2;}

#course_barber #fragment-1 .course_carri01 dt,#course_barber #fragment-1 .course_carri01_02 dt{
	background:url(../images/course/barber/dotline.png) repeat-x bottom;
	height:2em;
	margin:10px 0 8px 0;}
	
#course_barber #fragment-3 .course_voice dt{
	background:url(../images/course/barber/dotline.png) repeat-x bottom;
	height:45px;
}

#course_barber #fragment-3 .course_voice dt div{
	background:#CF3;
	border:#50b7e2 solid 1px;
	border-radius: 5px;text-shadow: 1px 1px 1px #0878db;background-color: #75CEF5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#75CEF5), to(#0F8CDA));
 	background-image: -webkit-linear-gradient(top, #75CEF5, #0F8CDA);
 	background-image: -moz-linear-gradient(top, #75CEF5, #0F8CDA);
 	background-image: -ms-linear-gradient(top, #75CEF5, #0F8CDA);
	background-image: -o-linear-gradient(top, #75CEF5, #0F8CDA);
	background-image: linear-gradient(to bottom, #75CEF5, #0F8CDA);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#75CEF5, endColorstr=#0F8CDA);
}


/**  ↑ #barber   **/

/**  ↓ #beauty   **/

#course_beauty #fragment-1 h4{
	color:#ef8200;}

#course_beauty #fragment-1 dt,#course_beauty #fragment-2 dt,#course_beauty #fragment-3 dt{
	font-weight:bold;
	color:#ef8200;}

#course_beauty #fragment-1 .course_carri01 dt,#course_beauty #fragment-1 .course_carri01_02 dt{
	background:url(../images/course/beauty/dotline.png) repeat-x bottom;
	height:2em;
	margin:10px 0 8px 0;}
	
#course_beauty #fragment-3 .course_voice dt{
	background:url(../images/course/beauty/dotline.png) repeat-x bottom;
	height:45px;
}

#course_beauty #fragment-3 .course_voice dt div{
	background:#CF3;
	border:#ef8200 solid 1px;
	border-radius: 5px;text-shadow: 1px 1px 1px #fa5d15;background-color: #fdbb50;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fdbb50), to(#fb892b));
 	background-image: -webkit-linear-gradient(top, #fdbb50, #fb892b);
 	background-image: -moz-linear-gradient(top, #fdbb50, #fb892b);
 	background-image: -ms-linear-gradient(top, #fdbb50, #fb892b);
	background-image: -o-linear-gradient(top, #fdbb50, #fb892b);
	background-image: linear-gradient(to bottom, #fdbb50, #fb892b);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fdbb50, endColorstr=#fb892b);
}


/**  ↑ #beauty   **/

/**  ↓ #esthetic   **/

#course_esthetic #fragment-1 h4{
	color:#ba8cbd;}

#course_esthetic #fragment-1 dt,#course_esthetic #fragment-2 dt,#course_esthetic #fragment-3 dt{
	font-weight:bold;
	color:#ba8cbd;}

#course_esthetic #fragment-1 .course_carri01 dt,#course_esthetic #fragment-1 .course_carri01_02 dt{
	background:url(../images/course/esthetic/dotline.png) repeat-x bottom;
	height:2em;
	margin:10px 0 8px 0;}
	
#course_esthetic #fragment-3 .course_voice dt{
	background:url(../images/course/esthetic/dotline.png) repeat-x bottom;
	height:45px;
}

#course_esthetic #fragment-3 .course_voice dt div{
	background:#CF3;
	border:#c28acf solid 1px;
	border-radius: 5px;text-shadow: 1px 1px 1px #ab66bb;background-color: #dcbce4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dcbce4), to(#c48cd0));
 	background-image: -webkit-linear-gradient(top, #dcbce4, #c48cd0);
 	background-image: -moz-linear-gradient(top, #dcbce4, #c48cd0);
 	background-image: -ms-linear-gradient(top, #dcbce4, #c48cd0);
	background-image: -o-linear-gradient(top, #dcbce4, #c48cd0);
	background-image: linear-gradient(to bottom, #dcbce4, #c48cd0);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#dcbce4, endColorstr=#c48cd0);
}


/**  ↑ #esthetic   **/

/**  ↓ #total   **/

#course_total #fragment-1 h4{
	color:#ea6d99;}

#course_total #fragment-1 dt,#course_total #fragment-2 dt,#course_total #fragment-3 dt{
	font-weight:bold;
	color:#ea6d99;}

#course_total #fragment-1 .course_carri01 dt,#course_total #fragment-1 .course_carri01_02 dt{
	background:url(../images/course/total/dotline.png) repeat-x bottom;
	height:2em;
	margin:10px 0 8px 0;}
	
#course_total #fragment-3 .course_voice dt{
	background:url(../images/course/total/dotline.png) repeat-x bottom;
	height:45px;
}

#course_total #fragment-3 .course_voice dt div{
	background:#CF3;
	border:#f58bb1 solid 1px;
	border-radius: 5px;text-shadow: 1px 1px 1px #ec4c88;background-color: #f7b8d0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f7b8d0), to(#f283ad));
 	background-image: -webkit-linear-gradient(top, #f7b8d0, #f283ad);
 	background-image: -moz-linear-gradient(top, #f7b8d0, #f283ad);
 	background-image: -ms-linear-gradient(top, #f7b8d0, #f283ad);
	background-image: -o-linear-gradient(top, #f7b8d0, #f283ad);
	background-image: linear-gradient(to bottom, #f7b8d0, #f283ad);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f7b8d0, endColorstr=#f283ad);
}


/**  ↑ #total   **/


	
