@charset "UTF-8";

section{
	width:100%;
	padding:0;
	margin: 0 auto 5px;
	text-align:center;}

section h2 {
	margin:-10px auto 10px;
	letter-spacing:1px;
border:1px solid #F28080;-webkit-box-shadow: #CCB1B1 2px 2px 2px  ;-moz-box-shadow: #CCB1B1 2px 2px 2px ; box-shadow: #CCB1B1 2px 2px 2px  ; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 5px;width:91%;font-size:16px; padding: 3.5% 0 3.5% 3%; text-shadow: 2px 2px 0 rgba(212,0,35,0.3); text-align: left; color: #FFFFFF; background-color: #F5B5B5;
background-image: -webkit-gradient(linear, left top, left bottom, from(#F5B5B5), to(#F28080));
background-image: -webkit-linear-gradient(top, #F5B5B5, #F28080);
background-image: -moz-linear-gradient(top, #F5B5B5, #F28080);
background-image: -ms-linear-gradient(top, #F5B5B5, #F28080);
background-image: -o-linear-gradient(top, #F5B5B5, #F28080);
background-image: linear-gradient(to bottom, #F5B5B5, #F28080);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F5B5B5, endColorstr=#F28080);
box-shadow:inset 0px 1px 0px 0px #fce5e5;
}

section .contents{
	width:88%;
	line-height:17px;
	margin:0 auto;
	padding:3%;
	text-align:center;}

section p{
	color:#222222;
	font-size:12px;
	margin:0 0 8px 8px;
	padding:0;
	text-align:left;
}
section a{
	color:#222222;
	font-size:14px;
	text-align:left;}

section .img_bg{
	padding:3px;
	background:#FFF;
	margin:2% 0.5%;
	box-shadow: 0px 0px 6px -3px rgba(0, 0, 0, 0.8);}


/*-access-*/

#opencampus section img{
	width:100%;}


#opencampus section h3{
	color:#f18b8b;
	font-size:16px;
	border-bottom:#f18b8b dotted 1px;
	text-align:left;
	margin:5px 0 4px;
	padding:3px 0 3px;}
	
#opencampus section h4{
	color:#fff;
	font-size:11pt;
	float:left;
	text-align:center;
	width:52%;}
	
#opencampus section h4 date{
	color:#fff;
	font-size:15pt;
	display:block;
	margin-top:5px;
	text-align:center;
	}
	
#opencampus section .detail{
	background:#fff;
	font-size:8pt;
	float:right;
	width:48%;
	padding:3% 0;}
	
#opencampus section .detail{
	background:#fff;
	font-size:8pt;
	float:right;
	width:48%;}

#opencampus section button{
	width:80%;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background:#f7f4f6;}	


#opencampus section button a{
	background:#f7f4f6;
	font-size:96%;
	text-decoration:none;
	width:100%;}
	
#opencampus section .opencampus{
	width:100%;
	background:#e7bbba;
	padding: 1.5% 1.5% 1%;
	margin-top:15px;
	overflow:hidden;}
	
#opencampus section .opencampus button{
	border-color:#e7bbba;}
	
#opencampus section .session{
	width:100%;
	background:#56b4b8;
	padding: 1.5% 1.5% 1% ;
	margin-top:15px;
	overflow:hidden;}
	
#opencampus section .session button{
	border-color:#56b4b8;}
	
p.pink{
	color:#f18b8b;
	text-align:left;
	font-weight:bold;}


