@charset "UTF-8";

section{
	width:100%;
	padding:0;
	margin: 0 auto 5px;
	text-align:center;}

section h2 {
	margin:-10px auto 10px;
	letter-spacing:1px;
border:1px solid #F28080;-webkit-box-shadow: #CCB1B1 2px 2px 2px  ;-moz-box-shadow: #CCB1B1 2px 2px 2px ; box-shadow: #CCB1B1 2px 2px 2px  ; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 5px;width:91%;font-size:16px; padding: 3.5% 0 3.5% 3%; text-shadow: 2px 2px 0 rgba(212,0,35,0.3); text-align: left; color: #FFFFFF; background-color: #F5B5B5;
background-image: -webkit-gradient(linear, left top, left bottom, from(#F5B5B5), to(#F28080));
background-image: -webkit-linear-gradient(top, #F5B5B5, #F28080);
background-image: -moz-linear-gradient(top, #F5B5B5, #F28080);
background-image: -ms-linear-gradient(top, #F5B5B5, #F28080);
background-image: -o-linear-gradient(top, #F5B5B5, #F28080);
background-image: linear-gradient(to bottom, #F5B5B5, #F28080);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F5B5B5, endColorstr=#F28080);
box-shadow:inset 0px 1px 0px 0px #fce5e5;
}

section .contents{
	width:88%;
	line-height:17px;
	background:#fffbfa;
	margin:0 auto;
	padding:3%;
	text-align:center;}

section p{
	color:#222222;
	font-size:12px;
	margin:0 0 8px 8px;
	padding:0;
	text-align:left;
}
section a{
	color:#222222;
	font-size:14px;
	text-align:left;}

section .img_bg{
	padding:3px;
	background:#FFF;
	margin:2% 0.5%;
	box-shadow: 0px 0px 6px -3px rgba(0, 0, 0, 0.8);}


/*-access-*/

#access section img{
	width:100%;}
#access section .call{
	width:7%;
	margin:0 3px 0 0;
	padding-top:3px;}

#access section h3{
	color:#ffffff;
	font-size:13px;
	background:#f7afb0;
	text-align:left;
	margin:5px 0 4px;
	padding:3px 0 3px 5px;}

/*-access-end-*/
/*-course_top-*/
#course_top section table{
	width:98%;}

#course_top section td{
	height:250px;
	 vertical-align:top;
	 margin-bottom:4%;}
#course_top section tr{ 
	 padding-bottom:20px;}


#course_top section .img_bg{
	height:34%;}

#course_top section h3{
	font-size:13px;
	text-align:left;
	letter-spacing:1px;
	margin:3px 0;
	padding:2px 0 2px 2px;}
#course_top section .course_brbr h3{
		color:#4fc7f9;}
#course_top section .course_beauty h3{
		color:#f49f42;}
#course_top section .course_est h3{
		color:#bb8dbe;}
#course_top section .course_total h3{
		color:#ef92b1;
	font-size:12px;
	letter-spacing:-1px;}

#course_top section hr{
	width:100%;
	height:5px;
	background-color:transparent;
	border:none;
	padding:0;
	margin:0;}
#course_top section .course_brbr hr{
	background-image:url(../images/course/index/line_01.png);}
#course_top section .course_beauty hr{
	background-image:url(../images/course/index/line_02.png);}
#course_top section .course_est hr{
	background-image:url(../images/course/index/line_03.png);}
#course_top section .course_total hr{
	background-image:url(../images/course/index/line_04.png);}

#course_top section p{
	font-size:11px;
	margin:2px 0 4px 1px;
	padding:0;
	letter-spacing:0px;}


/*-course_top-end-*/
/*-mailmagazine-*/
#mailmagazine form{
	margin:30px 0 20px;}
#mailmagazine input{
	height:20px;
	margin:0;
	padding:0;
	border:#aaa solid 1px;
	font-size:12px;}
#mailmagazine input[type="text"]{
	width:80%;
	height:22px;
	border-radius:0;
	margin:0px;
	padding:0px;
	box-shadow:0;}
#mailmagazine input[type="submit"]{
	color:#222;
	width:16%;
	height:26px;
	border-radius:6px;
	margin:0px;
	padding:0 0 -4px;
	background: -moz-linear-gradient(top, #fff, #ccc);
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));}
/*-mailmagazine-end-*/
/*-inquiry-*/
#inquiry section h3{
	color:#555;
	font-size:12px;
	background:#Fdd;
	text-align:left;
	margin:5px 0 4px;
	padding:4px 0 4px 10px;}

#inquiry form{
	margin:0px 0 20px;}

#inquiry input, #inquiry textarea{
	border-radius:0;
	border:#aaa solid 1px;
	padding:0;
	margin:3px 0;}
#inquiry input{
	height:22px;}

#inquiry input, #inquiry select, #inquiry option, #inquiry button{
	border:#aaa solid 1px;}

#inquiry .form_01{
	width:70%;}
#inquiry .form_02{
	width:40%;}
#inquiry .form_03{
	width:45%;}
#inquiry .form_04{
	width:80;}
#inquiry .form_05{
	width:94%;}
#inquiry .form_btn{
	width:45%;
	height:40px;
	color:#222;
	border-radius:6px;
	margin:0px;
	padding:0 0 -4px;
	background: -moz-linear-gradient(top, #fff, #ccc);
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));}

#inquiry input[type="checkbox"]{

	border-radius:5px;
	margin:-2px 3px 0;
	padding: 0px;
	vertical-align: middle;
	}
#inquiry input[type="radio"]{
	border-radius:10px;
	margin:-2px 3px 0;
	padding: 0px;
	vertical-align: middle;
	}
	
#inquiry form p{
	margin:1px 0 12px 15px;
	padding:0;
}
#inquiry form p .front{
	margin:0 auto;
	padding:0;
	text-align:center;
}
#inquiry form .form_text{
	margin:0 0 15px;
	padding:0;}


#inquiry_f .contents{
	padding:15% 3% 15%;
	}
#inquiry_f p{
	text-align:center;
	margin:0 0 15px 8px;
	}
/*-inquiry-end-*/