@charset "UTF-8";
/*--*/

section{
	width:100%;
	padding:0;
	margin: 0 auto 5px;
	text-align:center;}

section #mainSlider{
	margin:-5% auto 0;}
section #slide img{
	padding:3px;
	background:#FFF;
	margin:-3px 0 0 3px;
	box-shadow: 0px 0px 15px -4px rgba(0, 0, 0, 0.8);}
.bx-viewport{
	height:100% !important;}

nav{
	display:block;
	margin:0 auto ;}

nav #nav01, nav .nav02{
	margin:0 auto;
	text-align:center;}
nav #nav01 img{
	width:25%;
	margin-bottom:-5px;}
nav .nav_button01 {
	margin:0 auto;
	letter-spacing:3px;
border:1px solid #F28080;-webkit-box-shadow: #CCB1B1 2px 2px 2px  ;-moz-box-shadow: #CCB1B1 2px 2px 2px ; box-shadow: #CCB1B1 2px 2px 2px  ; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 5px;width:94%;font-size:18px; padding: 3.5% 0; text-shadow: 2px 2px 0 rgba(212,0,35,0.3); text-align: center; color: #FFFFFF; background-color: #F5B5B5;
background-image: -webkit-gradient(linear, left top, left bottom, from(#F5B5B5), to(#F28080));
background-image: -webkit-linear-gradient(top, #F5B5B5, #F28080);
background-image: -moz-linear-gradient(top, #F5B5B5, #F28080);
background-image: -ms-linear-gradient(top, #F5B5B5, #F28080);
background-image: -o-linear-gradient(top, #F5B5B5, #F28080);
background-image: linear-gradient(to bottom, #F5B5B5, #F28080);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F5B5B5, endColorstr=#F28080);
box-shadow:inset 0px 1px 0px 0px #fce5e5;
}
nav .nav_button01.hover{
 border:1px solid #F28B8C; background-color: #EB7878;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#EB7878), top(#F28080));
 background-image: -webkit-linear-gradient(top, #EB7878, #F28080);
 background-image: -moz-linear-gradient(top, #EB7878, #F28080);
 background-image: -ms-linear-gradient(top, #EB7878, #F28080);
 background-image: -o-linear-gradient(top, #EB7878, #F28080);
 background-image: linear-gradient(to bottom, #EB7878, #F28080);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#EB7878, endColorstr=#F28080);
 box-shadow:inset 0px 1px 0px 0px #EB7878;
}
nav #nav02 img{
	width:90%;}
nav #nav02 .nav_button02 {
    color: #F28080;
	font-size:12px;
	font-weight:bold;
    width: 30%;
    padding: 3.5% 1% 2.5%;
    background: #ffffff;
    border: none;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
	-webkit-box-shadow: #CCB1B1 2px 2px 2px  ;-moz-box-shadow: #CCB1B1 2px 2px 2px ; box-shadow: #CCB1B1 2px 2px 2px  ;
	margin:12px 1px 2px;}
nav #nav02 .nav_button02.hover {
    color: #F28080;
	font-size:12px;
	font-weight:bold;
    width: 30%;
    padding: 3.5% 1% 2.5%;
    background: #CCC;
    border: none;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
	-webkit-box-shadow: #CCB1B1 2px 2px 2px  ;-moz-box-shadow: #CCB1B1 2px 2px 2px ; box-shadow: #CCB1B1 2px 2px 2px  ;
	box-shadow:2px 1px 1px 1px #999 inset;}

#sptop .top_bnr{
	margin:0 auto;
	width:98%;
	padding-left:2%;
	text-align:center;}
#sptop .top_bnr img{
	width:44.5%;
	padding:3px;
	background:#FFF;
	margin:2% 0.5%;
	box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.8);}


/*-accordion-*/
#accordion{}
#accordion .accordion_button{
	margin:0 0 -2%;}
#accordion .info_l,#accordion .info_r{
	border:1px solid #ffffff;-webkit-box-shadow: #CCB1B1 1px 1px 2px  ;-moz-box-shadow: #CCB1B1 1px 1px 2px ; box-shadow: #CCB1B1 1px 1px 2px  ;padding: 2% 0 1.5%; background-color: #ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), top(#ffebeb));
	background-image: -webkit-linear-gradient(top, #ffffff, #ffebeb);
	background-image: -moz-linear-gradient(top, #ffffff, #ffebeb);
	background-image: -ms-linear-gradient(top, #ffffff, #ffebeb);
	background-image: -o-linear-gradient(top, #ffffff, #ffebeb);
	background-image: linear-gradient(to bottom, #ffffff, #ffebeb);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#ffebeb);
}
#accordion .info_l{
	width:80%;
	text-align:left;
	padding:0;
	margin:0%;}
#accordion .info_l img{
	width:60%;}

#accordion .info_r{
	width:13%;
	text-align:center;
	padding:0;
	margin:0%;
	background:transparent;}
#accordion .info_r img{
	width:100%;
	background:transparent;
	}

#accordion .info_index{
	border:0;
	border-radius:0;
	margin:0;
	padding:0;}

#accordion .info_index img{
	width:94%;
	-webkit-box-shadow: #CCB1B1 1px 0px 1px  ;-moz-box-shadow: #CCB1B1 1px 0px 1px ; box-shadow: #CCB1B1 1px 0px 1px;}


#accordion ul{
	background:#ffdedd;
	width:94%;
	margin:0 auto 3%;
	padding:1% 0 0;}
#accordion a{
	text-decoration: none;
}
#accordion li{
	overflow: hidden;
	width: 92%;
	margin:1% 3%;
	padding:1%;
	text-align: left;
}
#accordion li time{
	float: left;
	width: 25%;
	color:#be4e6a;
	font-size:9px;
	font-weight:600;
}
#accordion li span{
	float: left;
	width: 75%;
	display: block;
	color:#444;
	font-size:12px;
}

/*-accordion-end-*/




/*--*/
