@charset "UTF-8";
/* CSS Document */
section{
	width:100%;
	padding:0;
	margin: 0 auto 5px;
	text-align:center;}

section h2 {
	margin:-10px auto 10px;
	letter-spacing:1px;
border:1px solid #F28080;-webkit-box-shadow: #CCB1B1 2px 2px 2px  ;-moz-box-shadow: #CCB1B1 2px 2px 2px ; box-shadow: #CCB1B1 2px 2px 2px  ; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 5px;width:91%;font-size:16px; padding: 3.5% 0 3.5% 3%; text-shadow: 2px 2px 0 rgba(212,0,35,0.3); text-align: left; color: #FFFFFF; background-color: #F5B5B5;
background-image: -webkit-gradient(linear, left top, left bottom, from(#F5B5B5), to(#F28080));
background-image: -webkit-linear-gradient(top, #F5B5B5, #F28080);
background-image: -moz-linear-gradient(top, #F5B5B5, #F28080);
background-image: -ms-linear-gradient(top, #F5B5B5, #F28080);
background-image: -o-linear-gradient(top, #F5B5B5, #F28080);
background-image: linear-gradient(to bottom, #F5B5B5, #F28080);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F5B5B5, endColorstr=#F28080);
box-shadow:inset 0px 1px 0px 0px #fce5e5;
}

section .contents{
	width:88%;
	line-height:17px;
	background:#fffbfa;
	margin:0 auto;
	padding:3%;
	text-align:center;}

section p{
	color:#222222;
	font-size:12px;
	margin:0 0 8px 8px;
	padding:0;
	text-align:center;
}
section a{
	color:#222222;
	font-size:14px;}

section .img_bg{
	padding:3px;
	background:#FFF;
	margin:2% 0.5%;
	box-shadow: 0px 0px 6px -3px rgba(0, 0, 0, 0.8);}


/*-tuition-*/


#tuition section h3{
	color:#f18b8b;
	font-size:16px;
	border-bottom:#f18b8b dotted 1px;
	text-align:left;
	margin:5px 0 4px;
	padding:3px 0 3px;}
	
#tuition section h4 {
	text-align:left;}

#tuition section h4 img{
	width:35%;
	text-align:left;}
	
#tuition .subject{
	width:100%;}

#tuition .subject2{
	width:100%;}
	
#tuition .subject table{
	width:100%;
	font-size:5pt;
	margin-bottom:20px;
	line-height:1.4;
	border-collapse:collapse;}
	
#tuition th{
	padding:3px 0;
	color:#FFF;
	width:20%;
	border-left:solid 1px #fff;
	border-bottom:solid 1px #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9cdcd), to(#f6b9b9));
    background-image: -webkit-linear-gradient(top, #f9cdcd, #f6b9b9);
    background-image: -moz-linear-gradient(top, #f9cdcd, #f6b9b9);
    background-image: -ms-linear-gradient(top, #f9cdcd, #f6b9b9);
    background-image: -o-linear-gradient(top, #f9cdcd, #f6b9b9);
    background-image: linear-gradient(to bottom, #f9cdcd, #f6b9b9);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f9cdcd, endColorstr=#f6b9b9);}
	
#tuition thead td{
	padding:3px 0;
	color:#FFF;
	border-left:solid 1px #fff;
	border-bottom:solid 1px #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9cdcd), to(#f6b9b9));
    background-image: -webkit-linear-gradient(top, #f9cdcd, #f6b9b9);
    background-image: -moz-linear-gradient(top, #f9cdcd, #f6b9b9);
    background-image: -ms-linear-gradient(top, #f9cdcd, #f6b9b9);
    background-image: -o-linear-gradient(top, #f9cdcd, #f6b9b9);
    background-image: linear-gradient(to bottom, #f9cdcd, #f6b9b9);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f9cdcd, endColorstr=#f6b9b9);}
	
#tuition tbody tr.odd td{
	background:#f6f4f6;
	border-left:solid 1px #fff;
	border-bottom:solid 1px #fff;
	color:#666;}
	
#tuition tbody tr.even td{
	background:#fffbfb;
	padding:3px 0;
	border-left:solid 1px #fff;
	border-bottom:solid 1px #fff;
	color:#666;}
	

.subject p{
	font-size:8pt;
	text-align:left;}
	
#tuition p.pink{
	color:#f18b8b;
	font-size:6pt;
	margin-bottom:5px;
	font-weight:bold;
	text-align:left;}
	
.btn_support{
	text-align:center;
	
	margin:0 auto;}
	
.btn_support a{
	text-align:center;
	text-decoration:none;}
		
.btn_support .a_link {
	width:60%;
	margin:0 auto;
	text-align:center;
	border:1px solid #ffffff;-webkit-box-shadow: #CCB1B1 1px 1px 2px  ;-moz-box-shadow: #CCB1B1 1px 1px 2px ; box-shadow: #CCB1B1 1px 1px 2px  ;padding: 2% 0 1.5%; text-align: center; color: #FFFFFF;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ec7695), top(#ef8ca6));
	background-image: -webkit-linear-gradient(top, #ec7695, #ef8ca6);
	background-image: -moz-linear-gradient(top, #ec7695, #ef8ca6);
	background-image: -ms-linear-gradient(top, #ec7695, #ef8ca6);
	background-image: -o-linear-gradient(top, #ec7695, #ef8ca6);
	background-image: linear-gradient(to bottom, #ec7695, #ef8ca6);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ec7695, endColorstr=#ef8ca6);}
	
.btn_support .a_link:hover {
	width:60%;
	margin:0 auto;
	text-align:center;
	border:1px solid #ffffff;-webkit-box-shadow: #CCB1B1 1px 1px 2px  ;-moz-box-shadow: #CCB1B1 1px 1px 2px ; box-shadow: #CCB1B1 1px 1px 2px  ;padding: 2% 0 1.5%; text-align: center; color: #FFFFFF; ;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ef8ca6), top(#ec7695));
	background-image: -webkit-linear-gradient(top, #ef8ca6, #ec7695);
	background-image: -moz-linear-gradient(top, #ef8ca6, #ec7695);
	background-image: -ms-linear-gradient(top, #ef8ca6, #ec7695);
	background-image: -o-linear-gradient(top, #ef8ca6, #ec7695);
	background-image: linear-gradient(to bottom, #ef8ca6, #ec7695);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ef8ca6, endColorstr=#ec7695);}
	
.btn_support .a_link a{
	color:#FFF;
	width:100%;}
	
#tuition .subject2 table{
	width:100%;
	padding: 2pt;
	font-size:8pt;
	margin-bottom:20px;
	line-height:1.4;
	border-collapse:collapse;}
	
#tuition .subject2 th{
	width:20%;}
	
	
/*-support-*/

#support section h3{
	color:#f18b8b;
	font-size:16px;
	border-bottom:#f18b8b dotted 1px;
	text-align:left;
	margin:5px 0 4px;
	padding:3px 0 3px;}
	
#support section h4 {
	text-align:left;}

#support section h4 img{
	width:35%;
	text-align:left;}
	
nav.tuition{
	text-align:center;
	display:block;
	width:88%;
	margin:0 ;
	padding:0;}
	
nav.tuition ul{
	overflow:hidden;
	display:block;
	width:100%;
	margin:0 auto 5px;}
	
nav.tuition li{
	float:left;
	width:28%;
	display:block;
	margin-right:5px;
	border:1px solid #ffffff;-webkit-box-shadow: #CCB1B1 1px 1px 2px  ;-moz-box-shadow: #CCB1B1 1px 1px 2px ; box-shadow: #CCB1B1 1px 1px 2px  ;
	padding: 2% 0; 
	text-align: center;
	
	background:#eeedee;
	color:#f18b8b;}
	
 nav.tuition li a{
	background:#eeedee;
	color:#f18b8b;
	font-size:8pt;
	display:block;
	text-decoration:none;}
	
#support p{
	text-align:left;}
	
.support{
	margin-bottom:20px;}
	
.support table.step{
	width:100%;}
	
.support table.step img{
	width:100%;}
	
.support table.step td{
	vertical-align:top;
	font-size:8px;
	text-align:left;
	padding-bottom:3%;
	line-height:1.5;}
	
.support .special{
	overflow:hidden;}
	
.support .special h5{
	color:#f18b8b;
	font-size:6pt;
	margin-bottom:5px;
	font-weight:bold;
	text-align:left;}
	
.special .special_left{
	float:left;
	width:48%;}
	
.special .special_right{
	float:right;
	width:48%;}
	
	
table.student{
	width:100%;
	font-size:6pt;
	margin-bottom:20px;
	line-height:1.4;
	border-collapse:collapse;}
	
table.student th{
	padding:3px 0;
	color:#FFF;
	border-bottom:solid 1px #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9cdcd), to(#f6b9b9));
    background-image: -webkit-linear-gradient(top, #f9cdcd, #f6b9b9);
    background-image: -moz-linear-gradient(top, #f9cdcd, #f6b9b9);
    background-image: -ms-linear-gradient(top, #f9cdcd, #f6b9b9);
    background-image: -o-linear-gradient(top, #f9cdcd, #f6b9b9);
    background-image: linear-gradient(to bottom, #f9cdcd, #f6b9b9);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f9cdcd, endColorstr=#f6b9b9);}
	
table.student thead td{
	padding:3px 0;
	color:#FFF;
	border-bottom:solid 1px #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9cdcd), to(#f6b9b9));
    background-image: -webkit-linear-gradient(top, #f9cdcd, #f6b9b9);
    background-image: -moz-linear-gradient(top, #f9cdcd, #f6b9b9);
    background-image: -ms-linear-gradient(top, #f9cdcd, #f6b9b9);
    background-image: -o-linear-gradient(top, #f9cdcd, #f6b9b9);
    background-image: linear-gradient(to bottom, #f9cdcd, #f6b9b9);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f9cdcd, endColorstr=#f6b9b9);}
	
table.student tbody tr.odd td{
	background:#f6f4f6;	
	padding:3px 0;
	border-bottom:solid 1px #d6d6d6;
	color:#666;}
	
table.student tbody tr.even td{
	background:#fffbfb;
	padding:3px 0;
	border-bottom:solid 1px #d6d6d6;
	color:#666;}
	
table.student tr.odd2 td{
	background:#f6f4f6;	
	padding:3px ;
	text-align:left;
	border-bottom:solid 1px #fff;
	color:#666;}
	
table.student tr.even2 td{
	background:#fffbfb;
	padding:3px ;
	border-bottom:solid 1px #fff;
	text-align:left;
	color:#666;}
	
span.pink{
	color:#f18b8b;
	font-weight:bold;}
	
table.roan{
	width:100%;
	font-size:6pt;
	margin-bottom:20px;
	line-height:1.4;
	border-collapse:collapse;}
	
table.roan th{
	padding:3px 0;
	color:#FFF;
	border-bottom:solid 1px #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9cdcd), to(#f6b9b9));
    background-image: -webkit-linear-gradient(top, #f9cdcd, #f6b9b9);
    background-image: -moz-linear-gradient(top, #f9cdcd, #f6b9b9);
    background-image: -ms-linear-gradient(top, #f9cdcd, #f6b9b9);
    background-image: -o-linear-gradient(top, #f9cdcd, #f6b9b9);
    background-image: linear-gradient(to bottom, #f9cdcd, #f6b9b9);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f9cdcd, endColorstr=#f6b9b9);}
	
table.roan thead td{
	padding:3px 0;
	color:#FFF;
	border-left:solid 1px #ddd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9cdcd), to(#f6b9b9));
    background-image: -webkit-linear-gradient(top, #f9cdcd, #f6b9b9);
    background-image: -moz-linear-gradient(top, #f9cdcd, #f6b9b9);
    background-image: -ms-linear-gradient(top, #f9cdcd, #f6b9b9);
    background-image: -o-linear-gradient(top, #f9cdcd, #f6b9b9);
    background-image: linear-gradient(to bottom, #f9cdcd, #f6b9b9);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f9cdcd, endColorstr=#f6b9b9);}
	
table.roan tbody tr.odd td{
	background:#f6f4f6;	
	padding:3px ;
	text-align:left;
	vertical-align:top;
	border-left:solid 1px #ddd;
	color:#666;}
	
table.roan tbody tr.even td{
	background:#fffbfb;
	padding:3px ;
	text-align:left;
	vertical-align:top;
	border-left:solid 1px #ddd;
	color:#666;}
