/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .ui-tabs-hide {
        display: none;
    }
}

/* Hide useless elements in print layouts... */
@media print {
    .ui-tabs-nav {
        display: none;
    }
}

/* Skin */

.ui-tabs-nav {
    list-style: none;
    padding: 0 0 0 4px;
	margin:0 auto;
}
.ui-tabs-nav:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}

.ui-tabs-nav li {
    float: left;
	width:33%;
	height:55px
}

.ui-tabs-nav a, .ui-tabs-nav a span {
    display: block;
}

.ui-tabs-nav a.barber {
   margin:0 5px; padding:10px 0 15px 0;color: #ffffff;font-weight: bold; text-align: center;text-decoration: none;
	border-top:1px solid #FFFFFF;border-right:1px solid #FFFFFF;border-left:1px solid #FFFFFF;
	border-top-left-radius: 5px; border-top-right-radius: 5px;text-shadow: 1px 1px 1px #525252;
	background-color: #838282;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#bcbcbc), to(#838282));
 	background-image: -webkit-linear-gradient(top, #bcbcbc, #838282);
 	background-image: -moz-linear-gradient(top, #bcbcbc, #838282);
 	background-image: -ms-linear-gradient(top, #bcbcbc, #838282);
	background-image: -o-linear-gradient(top, #bcbcbc, #838282);
	background-image: linear-gradient(to bottom, #bcbcbc, #838282);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#bcbcbc, endColorstr=#838282);
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.40);
}

.ui-tabs-nav .ui-tabs-selected a.barber {
    margin:0 5px;padding:10px 0 15px 0; color: #fff;border-top:1px solid #FFFFFF;border-right:1px solid #FFFFFF;border-left:1px solid #FFFFFF;
	text-shadow: 1px 1px 1px #0878db;background-color: #75CEF5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#75CEF5), to(#0F8CDA));
 	background-image: -webkit-linear-gradient(top, #75CEF5, #0F8CDA);
 	background-image: -moz-linear-gradient(top, #75CEF5, #0F8CDA);
 	background-image: -ms-linear-gradient(top, #75CEF5, #0F8CDA);
	background-image: -o-linear-gradient(top, #75CEF5, #0F8CDA);
	background-image: linear-gradient(to bottom, #75CEF5, #0F8CDA);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#75CEF5, endColorstr=#0F8CDA);
}

.ui-tabs-nav a.beauty {
   margin:0 5px; padding:10px 0 15px 0;color: #ffffff;font-weight: bold; text-align: center;text-decoration: none;
	border-top:1px solid #FFFFFF;border-right:1px solid #FFFFFF;border-left:1px solid #FFFFFF;
	border-top-left-radius: 5px; border-top-right-radius: 5px;text-shadow: 1px 1px 1px #525252;
	background-color: #838282;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#bcbcbc), to(#838282));
 	background-image: -webkit-linear-gradient(top, #bcbcbc, #838282);
 	background-image: -moz-linear-gradient(top, #bcbcbc, #838282);
 	background-image: -ms-linear-gradient(top, #bcbcbc, #838282);
	background-image: -o-linear-gradient(top, #bcbcbc, #838282);
	background-image: linear-gradient(to bottom, #bcbcbc, #838282);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#bcbcbc, endColorstr=#838282);
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.40);
}

.ui-tabs-nav .ui-tabs-selected a.beauty {
    margin:0 5px;padding:10px 0 15px 0; color: #fff;border-top:1px solid #FFFFFF;border-right:1px solid #FFFFFF;border-left:1px solid #FFFFFF;
	text-shadow: 1px 1px 1px #fa5d15;background-color: #fdbb50;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fdbb50), to(#fb892b));
 	background-image: -webkit-linear-gradient(top, #fdbb50, #fb892b);
 	background-image: -moz-linear-gradient(top, #fdbb50, #fb892b);
 	background-image: -ms-linear-gradient(top, #fdbb50, #fb892b);
	background-image: -o-linear-gradient(top, #fdbb50, #fb892b);
	background-image: linear-gradient(to bottom, #fdbb50, #fb892b);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fdbb50, endColorstr=#fb892b);
}

.ui-tabs-nav a.esthetic {
   margin:0 5px; padding:10px 0 15px 0;color: #ffffff;font-weight: bold; text-align: center;text-decoration: none;
	border-top:1px solid #FFFFFF;border-right:1px solid #FFFFFF;border-left:1px solid #FFFFFF;
	border-top-left-radius: 5px; border-top-right-radius: 5px;text-shadow: 1px 1px 1px #525252;
	background-color: #838282;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#bcbcbc), to(#838282));
 	background-image: -webkit-linear-gradient(top, #bcbcbc, #838282);
 	background-image: -moz-linear-gradient(top, #bcbcbc, #838282);
 	background-image: -ms-linear-gradient(top, #bcbcbc, #838282);
	background-image: -o-linear-gradient(top, #bcbcbc, #838282);
	background-image: linear-gradient(to bottom, #bcbcbc, #838282);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#bcbcbc, endColorstr=#838282);
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.40);
}

.ui-tabs-nav .ui-tabs-selected a.esthetic {
    margin:0 5px;padding:10px 0 15px 0; color: #fff;border-top:1px solid #FFFFFF;border-right:1px solid #FFFFFF;border-left:1px solid #FFFFFF;
	text-shadow: 1px 1px 1px #ab66bb;background-color: #dcbce4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dcbce4), to(#c48cd0));
 	background-image: -webkit-linear-gradient(top, #dcbce4, #c48cd0);
 	background-image: -moz-linear-gradient(top, #dcbce4, #c48cd0);
 	background-image: -ms-linear-gradient(top, #dcbce4, #c48cd0);
	background-image: -o-linear-gradient(top, #dcbce4, #c48cd0);
	background-image: linear-gradient(to bottom, #dcbce4, #c48cd0);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#dcbce4, endColorstr=#c48cd0);
}

.ui-tabs-nav a.total {
   margin:0 5px; padding:10px 0 15px 0;color: #ffffff;font-weight: bold; text-align: center;text-decoration: none;
	border-top:1px solid #FFFFFF;border-right:1px solid #FFFFFF;border-left:1px solid #FFFFFF;
	border-top-left-radius: 5px; border-top-right-radius: 5px;text-shadow: 1px 1px 1px #525252;
	background-color: #838282;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#bcbcbc), to(#838282));
 	background-image: -webkit-linear-gradient(top, #bcbcbc, #838282);
 	background-image: -moz-linear-gradient(top, #bcbcbc, #838282);
 	background-image: -ms-linear-gradient(top, #bcbcbc, #838282);
	background-image: -o-linear-gradient(top, #bcbcbc, #838282);
	background-image: linear-gradient(to bottom, #bcbcbc, #838282);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#bcbcbc, endColorstr=#838282);
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.40);
}

.ui-tabs-nav .ui-tabs-selected a.total {
    margin:0 5px;padding:10px 0 15px 0; color: #fff;border-top:1px solid #FFFFFF;border-right:1px solid #FFFFFF;border-left:1px solid #FFFFFF;
	text-shadow: 1px 1px 1px #ec4c88;background-color: #f7b8d0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f7b8d0), to(#f283ad));
 	background-image: -webkit-linear-gradient(top, #f7b8d0, #f283ad);
 	background-image: -moz-linear-gradient(top, #f7b8d0, #f283ad);
 	background-image: -ms-linear-gradient(top, #f7b8d0, #f283ad);
	background-image: -o-linear-gradient(top, #f7b8d0, #f283ad);
	background-image: linear-gradient(to bottom, #f7b8d0, #f283ad);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f7b8d0, endColorstr=#f283ad);
}

.ui-tabs-nav a.admission {
   margin:0 5px; padding:10px 0 15px 0;color: #ffffff;font-weight: bold; text-align: center;text-decoration: none;
	border-top:1px solid #FFFFFF;border-right:1px solid #FFFFFF;border-left:1px solid #FFFFFF;
	border-top-left-radius: 5px; border-top-right-radius: 5px;text-shadow: 1px 1px 1px #525252;
	background-color: #838282;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#bcbcbc), to(#838282));
 	background-image: -webkit-linear-gradient(top, #bcbcbc, #838282);
 	background-image: -moz-linear-gradient(top, #bcbcbc, #838282);
 	background-image: -ms-linear-gradient(top, #bcbcbc, #838282);
	background-image: -o-linear-gradient(top, #bcbcbc, #838282);
	background-image: linear-gradient(to bottom, #bcbcbc, #838282);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#bcbcbc, endColorstr=#838282);
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.40);
}

.ui-tabs-nav .ui-tabs-selected a.admission {
    margin:0 5px;padding:10px 0 15px 0; color: #fff;border-top:1px solid #FFFFFF;border-right:1px solid #FFFFFF;border-left:1px solid #FFFFFF;
	text-shadow: 1px 1px 1px #ed5c5d;background-color: #F5B5B5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F5B5B5), to(#F28080));
 	background-image: -webkit-linear-gradient(top, #F5B5B5, #F28080);
 	background-image: -moz-linear-gradient(top, #F5B5B5, #F28080);
 	background-image: -ms-linear-gradient(top, #F5B5B5, #F28080);
	background-image: -o-linear-gradient(top, #F5B5B5, #F28080);
	background-image: linear-gradient(to bottom, #F5B5B5, #F28080);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F5B5B5, endColorstr=#F28080);
}



.ui-tabs-nav a span {
    min-width: 64px;
    min-height: 18px;
    padding-top: 6px;
    padding-right: 0;
}
*>.ui-tabs-nav a span { /* hide from IE 6 */
    width: auto;
    height: auto;
}

.ui-tabs-nav a span, .ui-tabs-nav .ui-tabs-disabled a:hover span, .ui-tabs-nav .ui-tabs-disabled a:focus span, .ui-tabs-nav .ui-tabs-disabled a:active span {
    background-position: 0 0;
}
.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited, .ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: text;
}
.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active,
.ui-tabs-nav .ui-tabs-deselectable a:hover, .ui-tabs-nav .ui-tabs-deselectable a:focus, .ui-tabs-nav .ui-tabs-deselectable a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
}
.ui-tabs-disabled {
    opacity: .4;
    filter: alpha(opacity=40);
}
.ui-tabs-panel {
    margin:13px 0;
	padding:10px 10px;
}
.ui-tabs-loading em {
    padding: 0
}
