/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .ui-tabs-hide {
        display: none;
    }
}

/* Hide useless elements in print layouts... */
@media print {
    .ui-tabs-nav {
        display: none;
    }
}

/* Skin */
.ui-tabs-nav {
    list-style: none;
    margin: 0;
    padding: 0 0 0 4px;
}

.ui-tabs-nav:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}

.ui-tabs-nav li {
    float: left;
    margin: 0 3px;
	width:30%;
	height:45px;
	border-top:1px solid #FFFFFF;
	border-right:1px solid #FFFFFF;
	border-left:1px solid #FFFFFF;
	border-top-left-radius: 5px; 
	border-top-right-radius: 5px;
 	text-shadow: 1px 1px 1px #525252;
	font-weight:bold; text-align: center; color: #FFFFFF; 
	background-color: #bcbcbc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#bcbcbc), to(#838282));
 	background-image: -webkit-linear-gradient(top, #bcbcbc, #838282);
 	background-image: -moz-linear-gradient(top, #bcbcbc, #838282);
 	background-image: -ms-linear-gradient(top, #bcbcbc, #838282);
	background-image: -o-linear-gradient(top, #bcbcbc, #838282);
	background-image: linear-gradient(to bottom, #bcbcbc, #838282);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#bcbcbc, endColorstr=#838282);
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.40);
}

.ui-tabs-nav li:hover{
	border-top:1px solid #FFFFFF;
	border-right:1px solid #FFFFFF;
	border-left:1px solid #FFFFFF;
	text-shadow: 1px 1px 1px #0878db;
	background-color: #75CEF5;
 	background-image: -webkit-gradient(linear, left top, left bottom, from(#75CEF5), to(#0F8CDA));
 	background-image: -webkit-linear-gradient(top, #75CEF5, #0F8CDA);
 	background-image: -moz-linear-gradient(top, #75CEF5, #0F8CDA);
 	background-image: -ms-linear-gradient(top, #75CEF5, #0F8CDA);
	background-image: -o-linear-gradient(top, #75CEF5, #0F8CDA);
	background-image: linear-gradient(to bottom, #75CEF5, #0F8CDA);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#75CEF5, endColorstr=#0F8CDA);
	
}

.ui-tabs-nav a {
    padding-left: 0;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
}

.ui-tabs-disabled {
    opacity: .4;
    filter: alpha(opacity=40);
}

.ui-tabs-panel {
    border-top: 1px solid #ffffff;
}

