/* CSS Document */

li#btn3 a:hover ,li#btn3 a {
	background-image: url(../img/navi/navi3_over.jpg);
}

h2 {
	background-image: url(../../img/bosyu/bosyu_title.jpg);
}

div.mainimg {
	background-image: url(../../img/bosyu/bosyu_bg.jpg);
}


div.l1 ,div.l2 ,div.l3 {
	margin-bottom: 40px;
	overflow: hidden;
}
div.l4 {
	margin-bottom: 20px;
	overflow: hidden;
}

div.l1 h3 {
	background-image: url(../../img/bosyu/l1_title.gif);
}

div.l2 h3 {
	background-image: url(../../img/bosyu/l2_title.gif);
}

div.l3 h3 {
	background-image: url(../../img/bosyu/l3_title.gif);
}

div.l4 h3 {
	background-image: url(../../img/bosyu/l4_title.gif);
}

div.l1 table ,div.l2 table ,div.l4 table {
	width: 100%;
	border-top-width: 1px;
	border-right-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	margin-bottom: 10px;
}

div.l1 td ,div.l2 td ,div.l4 td {
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	text-align: center;
	padding: 10px;
}

td#td-title ,tr#tr-title {
	background-color: #F2F2F2;
}

td#td-left {
	text-align: left;
}

div.l4 h4 {
	height: 23px;
	margin-bottom: 10px;
	clear: both;
}
h4#l4-1 {
	background-image: url(../../img/bosyu/l4_1.gif);
}
h4#l4-2 {
	background-image: url(../../img/bosyu/l4_2.gif);
}


div.l4 p {
	margin-bottom: 10px;
}

div.l4 h5 {
	text-indent: 0px;
	font-size: 14px;
	height: 22px;
}

div.l4 h5 span {
	font-size: 12px;
	color:#FF0000;
	font-weight: normal;
}

div.l4 div {
	width: 330px;
}

div.l4-left {
	float: left;
}

div.l4-right {
	float: right;
}

div.l4 table {
	margin-bottom: 20px;
}

div.l5 dd {
	margin-bottom: 40px;
}