/* CSS Document */

li#btn6 a {
	background-image: url(../img/navi/navi6_over.jpg);
}


h2 {
	background-image: url(../../img/school/access_title.jpg);
}

div.mainimg {
	background-image: url(../../img/inquiry/title_bg.jpg);
}

div.l1 {
	margin-bottom: 40px;
}

div.l1 h3 {
	background-image: url(../../img/school/access_l1_title.gif);
}

div.l1 img {
	margin-bottom: 20px;
}

div.l1 table {
	width: 100%;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #999999;
}

div.l1 table img {
	margin: 0px;
}

div.l1 td {
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
}

div.l1 span {
	font-size: 10px;
}
div.l1 strong {
	font-weight: normal;
	font-size: 16px;
}

div.l2 h3 {
	background-image: url(../../img/school/access_l2_title.gif);
}