/* CSS Document */

li#btn2 a {
	background-image: url(../../img/navi/navi2_over.jpg);
}

h2 {
	background-image: url(../../img/school/index_title.jpg);
}

div.mainimg {
	background-image: url(../../img/inquiry/title_bg.jpg);
}

div.l1 ,div.l2 ,div.l3 ,div.l4 ,div.l5 ,div.l6 {
	margin-bottom: 40px;
}

div.l1 h3 {
	background-image: url(../../img/school/index_l1_title.gif);
}

div.l1 h4 ,div.l2 h4 {
	width: 100%;
	height: 23px;
	background-image: url(../../img/school/index_l1_1.gif);
	background-repeat: no-repeat;
	margin-bottom: 20px;
}
div.l2 h4 {
	background-image: url(../../img/school/index_l2_1.gif);
}

div.l1 p ,div.l2 p {
	margin-bottom: 15px;
}

div#l1-1 {
	margin-left: 20px;
	float: right;
	text-align: center;
}

div#l2-1 {
	margin-right: 20px;
	float: left;
	text-align: center;
}


div#l1-1 strong ,div#l2-1 strong {
	font-size: 14px;
	font-weight: normal;
}

div#l1-1 img ,div#l2-1 img {
	margin-bottom: 5px;
}

div.l2 h3 {
	background-image: url(../../img/school/index_l2_title.gif);
}

div.l3 h3 {
	background-image: url(../../img/school/index_l3_title.gif);
}

div.l3 table {
	width: 100%;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #999999;
}

div.l3 td {
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
}

div.l4 h3 {
	background-image: url(../../img/school/index_l4_title.gif);
}

div.l4 table {
	width: 100%;
}
div.l4 td {
	width: 230px;
	padding-bottom: 10px;
}
td#l4-r {
	width: 220px;
}


div.l5 h3 {
	background-image: url(../../img/school/index_l5_title.gif);
}

div.l5 table {
	width: 100%;
}
div.l5 td {
	width: 50%;
	vertical-align: top;
}

div.l5-w {
	width: 328px;
	height: 380px;
	border: 1px solid #DFDFDF;
	overflow: hidden;
	margin-bottom: 20px;
}
td#l5-2 div.l5-w ,td#l5-4 div.l5-w {
	float: right;
}
div.l5-w div {
	margin: 20px;
	overflow: hidden;
}

div.l5 h4 {
	text-indent: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	margin-bottom: 10px;
}
td#l5-1 h4 {
	color: #FF6699;
}
td#l5-2 h4 {
	color: #6083CA;
}
td#l5-3 h4 {
	color: #D5912B;
}
td#l5-4 h4 {
	color: #8CC0D9;
}

div.l5 td img {
	padding: 4px;
	border: 1px solid #E9E9E9;
	overflow: hidden;
}

div.l5 table p {
	margin-bottom: 10px;
	text-align: center;
	font-size: 10px;
}


div.l5 li {
	width: 144px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center left;
	text-indent: 15px;
	float: left;
}
td#l5-1 li {
	background-image: url(../../img/school/index_l5_1.gif);
}
td#l5-2 li {
	background-image: url(../../img/school/index_l5_2.gif);
}
td#l5-3 li {
	background-image: url(../../img/school/index_l5_3.gif);
}
td#l5-4 li {
	background-image: url(../../img/school/index_l5_4.gif);
}

div.l5 li span {
	font-size: 10px;
}

div.l6 h3 {
	background-image: url(../../img/school/index_l6_title.gif);
}