/* CSS Document */

li#navi2 a {
	background-image: url(../../img/hairshow/navi2_2.jpg);
}

p#intro {
	margin-bottom: 10px;
}

div.blog {
	width: 100%;
	border: 1px solid #DFDFDF;
	overflow: hidden;
	margin-bottom: 20px;
}

div.body {
	margin-left: 20px;
	margin-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 5px;
	width: 840px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DFDFDF;
	overflow: hidden;
}

div.body img {
	margin-bottom: 10px;
}

div.body p {
	margin-bottom: 10px;
}

div.date {
	width: 840px;
	margin-left: 20px;
	text-align: right;
	margin-bottom: 5px;
}

div.date span {
	font-family: Arial, Helvetica, sans-serif;
}