li#navi1 a {
	background-image: url(../../img/hairshow/navi1_2.jpg);
}


h3 {
	width: 190px;
	text-indent: -9999px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: 10px top;
	float: left;
}

div.end {
	text-align: center;
	border: 1px solid #CCCCCC;
	height: 100px;
}
div.end p {
	padding-top: 35px;
}

div.c1 ,div.c2 ,div.end {
	width: 100%;
	margin-bottom: 40px;
	overflow: hidden;
	clear: both;
}

div.c1 h3 {
	background-image: url(../../img/hairshow/index_c1_title.gif);
}

div.c1 h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 5px;
}

div.c1-2 ,div.c2-2 {
	width: 670px;
	float: right;
}

div.c1-2 p {
	margin-bottom: 10px;
}

div.c1-a {
	width: 310px;
	float: left;
}

div.c1-b {
	width: 350px;
	float: right;
}

div.c1-c {
	width: 100%;
	clear: both;
}

div.c2 h3 {
	background-image: url(../../img/hairshow/index_c2_title.gif);
}

div.c2 p {
	margin-top: 10px;
}

div.c2 span {
	font-family: Arial, Helvetica, sans-serif;
	 font-size: 16px;
}