.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

img {
  vertical-align: bottom; }

body {
  background-color: #ffeaea;
  background-image: url(../../images/top/light.png), url(../../images/top/bg.jpg);
  background-position: center top, left top;
  background-repeat: no-repeat, repeat; }
  body header,
  body footer,
  body #mainContent {
    width: 980px;
    margin: 0 auto; }
  body header {
    margin-top: 20px; }
    body header #siteTitle {
      float: left;
      width: 280px;
      margin-left: 20px;
      font-size: 10px;
      font-weight: normal;
      color: #999;
	  opacity: 1;
      transition: opacity .2s linear;
      -webkit-transition: opacity .2s linear; }
    body header #siteTitle:hover {
	    opacity: 0.5;
        transition: opacity .2s linear;
        -webkit-transition: opacity .2s linear;
    }
      body header #siteTitle span {
        display: block;
        color: #666; }
      body header #siteTitle strong {
        display: block;
        font-size: 22px;
        color: #937e28; }
    body header #headNavi {
      width: 480px;
      float: right;
      list-style: none;
      padding: 0; }
      body header #headNavi li {
        float: left;
        margin: 0 0 0 20px; }
      body header #headNavi #contact {
        opacity: 1;
        transition: opacity .2s linear;
        -webkit-transition: opacity .2s linear; }
      body header #headNavi #contact:hover {
        opacity: 0.7;
        transition: opacity .2s linear;
        -webkit-transition: opacity .2s linear; }
    body header nav {
	    position: relative;
    }
    body header nav ul {
      display: table;
      position: relative;
      border-collapse: collapse;
      width: 100%;
      border-radius: 5px;
      box-shadow: 0 1px 3px #cdbbbc;
      background-color: #ef8585; }
      body header nav ul li {
      	position: relative;
        display: table-cell;
        text-align: center; }
        body header nav ul li a {
          display: block;
          padding: 17px;
          background-color: #ef8585;
          background: -webkit-linear-gradient(top, #f4a9a9, #ef8686) no-repeat;
          background: linear-gradient(to bottom, #f4a9a9, #ef8686) no-repeat;
          border-top: solid 1px #ef8585;
          border-right: solid 1px #ec6d6c;
          border-bottom: solid 1px #ec6d6c;
          box-shadow: inset 0 1px 0 #fad4d4, inset 1px 0 0 #fad4d4;
          transition: background .2s linear;
          -webkit-transition: background .2s linear; }
          body header nav ul li a img {
            vertical-align: middle; }
        body header nav ul li a:hover {
          background-position: left 0 top -50px; }
      body header nav ul li:first-child a {
        border-left: solid 1px #ef8585;
        border-radius: 5px 0 0 5px / 5px 0 0 5px;
        box-shadow: inset 0 1px 0 #fad4d4; }
      body header nav ul li:last-child a {
        border-radius: 0 5px 5px 0 / 0 5px 5px 0; }
        body header nav ul li ul {
		  display: none;
		  position: absolute;
		  top: 55px;
		  left: 0;
		  width: 100%;
		  z-index: 100;
		  padding: 0;
		  box-shadow: none;
		}
        body header nav ul li ul li {
        	display: block;
        	border: none;
        }
        body header nav ul li ul li a {
	        padding: 0.5em;
	        color: #fff;
	        font-size: 12px;
	        text-decoration: none;
	        border-radius: 0 !important;
	        background: #ef8585;
	        border: none !important;
	        box-shadow: none !important;
	        text-shadow: 0 2px 0 #ec6d6c;
        }
        body header nav ul li ul li a:hover {
	        background: #ec6d6c;
        }
  body #mainSlider {
    width: 980px;
    margin: 0 auto; }
    body #mainSlider #slide {
      list-style: none;
      margin: 0; }
      body #mainSlider #slide li {
        padding: 3px; }
        body #mainSlider #slide li a img {
          opacity: 1;
          filter: alpha(opacity=100);
          -ms-filter: "alpha(opacity=100)";
          transition: opacity .2s linear;
          -webkit-transition: opacity .2s linear; }
        body #mainSlider #slide li a:hover img {
          opacity: 0.7;
          filter: alpha(opacity=70);
          -ms-filter: "alpha(opacity=70)";
          transition: opacity .2s linear;
          -webkit-transition: opacity .2s linear; }
    body #mainSlider #thumbnail {
      padding: 0 30px; }
      body #mainSlider #thumbnail ul {
        float: left;
        list-style: none;
        padding: 0;
        margin-left: 65px; }
        body #mainSlider #thumbnail ul li {
          float: left;
          margin: 0 0 0 10px; }
          body #mainSlider #thumbnail ul li a {
            overflow: hidden;
            float: left;
            border: solid 2px #fff;
            border-radius: 6px;
            box-shadow: 0 1px 5px #e1cbcb;
            opacity: 1;
            filter: alpha(opacity=100);
            -ms-filter: "alpha(opacity=100)";
            transition: opacity .2s linear;
            -webkit-transition: opacity .2s linear; }
            body #mainSlider #thumbnail ul li a img {
              margin: -2px; }
          body #mainSlider #thumbnail ul li a:hover {
            cursor: pointer;
            opacity: 0.7;
            filter: alpha(opacity=70);
            -ms-filter: "alpha(opacity=70)";
            transition: opacity .2s linear;
            -webkit-transition: opacity .2s linear; }
        body #mainSlider #thumbnail ul li:first-child {
          margin: 0; }
      body #mainSlider #thumbnail #slide-prev {
        float: left;
        padding-top: 13px; }
      body #mainSlider #thumbnail #slide-next {
        float: right;
        padding-top: 13px; }
      body #mainSlider #thumbnail #slide-prev a,
      body #mainSlider #thumbnail #slide-next a {
        opacity: 1;
        filter: alpha(opacity=100);
        -ms-filter: "alpha(opacity=100)";
        transition: opacity .2s linear;
        -webkit-transition: opacity .2s linear; }
      body #mainSlider #thumbnail #slide-prev a:hover,
      body #mainSlider #thumbnail #slide-next a:hover {
        opacity: 0.5;
        filter: alpha(opacity=50);
        -ms-filter: "alpha(opacity=50)";
        transition: opacity .2s linear;
        -webkit-transition: opacity .2s linear; }
  body #mainContent article {
    float: right;
    width: 710px; }
    body #mainContent article ul {
      list-style: none;
      padding: 0; }
    body #mainContent article #personalNavi {
      margin-bottom: 20px; }
      body #mainContent article #personalNavi li {
        float: left;
        margin-left: 10px; }
        body #mainContent article #personalNavi li a {
          display: block;
          width: 350px;
          line-height: 2.5;
          text-align: center;
          background: #fff;
          background: url(../../images/top/icon_arrow_r.png) right 10px center no-repeat, -webkit-linear-gradient(top, white, #ffeaea) no-repeat;
          background: url(../../images/top/icon_arrow_r.png) right 10px center no-repeat, linear-gradient(to bottom, white, #ffeaea) no-repeat;
          box-shadow: inset 0 -1px 0 #fff, 0 1px 3px #decbcb;
          opacity: 1;
          transition: opacity .2s linear;
          -webkit-transition: opacity .2s linear; }
          body #mainContent article #personalNavi li a img {
            vertical-align: middle; }
        body #mainContent article #personalNavi li a:hover {
          opacity: 0.7;
          transition: opacity .2s linear;
          -webkit-transition: opacity .2s linear; }
      body #mainContent article #personalNavi li:first-child {
        margin: 0; }
    body #mainContent article #information {
      background: #ffe2e2;
      padding: 0 0 30px; }
      body #mainContent article #information h2 {
        padding: 0 0 0 20px;
        margin: 0 0 25px;
        font-size: 24px;
        color: #c95569;
        line-height: 2.3;
        background: #fff;
        background: -webkit-linear-gradient(top, white, #ffeaea) no-repeat;
        background: linear-gradient(to bottom, white, #ffeaea) no-repeat;
        box-shadow: inset 0 -1px 0 #fff, 0 1px 3px #decbcb; }
        body #mainContent article #information h2 img {
          vertical-align: middle; }
        body #mainContent article #information h2 a {
          float: right;
          display: block;
          width: 60px;
          text-indent: -9999px;
          background: url(../../images/top/icon_viewlist.png) center center no-repeat;
          border-left: solid 1px #dfcbcc;
          opacity: 1;
          transition: opacity .2s linear;
          -webkit-transition: opacity .2s linear; }
        body #mainContent article #information h2 a:hover {
          opacity: 0.5;
          transition: opacity .2s linear;
          -webkit-transition: opacity .2s linear; }
      body #mainContent article #information ul {
        margin: 0;
        padding: 0 20px; }
        body #mainContent article #information ul li {
          padding: 0 0 0 65px;
          margin: 1em 0 0; }
          body #mainContent article #information ul li a {
            text-decoration: none;
            color: #666;
            font-size: 13px; }
          body #mainContent article #information ul li a:hover {
            color: #999; }
          body #mainContent article #information ul li time {
            margin: 0 1em 0 0; }
        body #mainContent article #information ul .event {
          background: url(../../images/top/icon_event.png) left center no-repeat; }
        body #mainContent article #information ul .news {
          background: url(../../images/top/icon_news.png) left center no-repeat; }
  body #mainContent aside {
    float: left;
    width: 240px; }
    body #mainContent aside ul {
      list-style: none;
      padding: 0; }
      body #mainContent aside ul li {
        float: left;
        margin: 20px 0 0;
        background: #fff; }
        body #mainContent aside ul li a {
          overflow: hidden;
          float: left;
          border: solid 2px #fff;
          opacity: 1;
          transition: opacity .2s linear;
          -webkit-transition: opacity .2s linear; }
        body #mainContent aside ul li a:hover {
          opacity: 0.7;
          transition: opacity .2s linear;
          -webkit-transition: opacity .2s linear; }
        body #mainContent aside ul li a img {
	        margin: -2px;
        }
      body #mainContent aside ul li:first-child {
        margin: 0; }
  body footer {
    width: 920px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 30px;
    background: url(../../images/top/bg_line.png) 0 0 repeat-x; }
    body footer nav {
      padding-top: 1em;
      margin-bottom: 1em; }
      body footer nav p {
        float: right;
        margin-right: 10px; }
        body footer nav p a {
          display: block;
          width: 70px;
          height: 32px;
          text-indent: -9999px;
          background: url(../../images/top/pagetop.png) 0 0 no-repeat;
          opacity: 1;
          transition: opacity .2s linear;
          -webkit-transition: opacity .2s linear; }
        body footer nav p a:hover {
          opacity: 0.7;
          transition: opacity .2s linear;
          -webkit-transition: opacity .2s linear; }
    body footer #sitemap {
      float: right;
      margin: 0;
      padding: 0; }
      body footer #sitemap a {
        display: block;
        padding: 10px 10px 10px 30px;
        font-size: 12px;
        text-decoration: none;
        color: #666;
        background: white url(../../images/top/icon_sitemap.png) left 8px center no-repeat;
        border-radius: 3px;
        box-shadow: 0 1px 1px #edd7d7;
        opacity: 1;
        transition: opacity .2s linear;
        -webkit-transition: opacity .2s linear; }
      body footer #sitemap a:hover {
        opacity: 0.7;
        transition: opacity .2s linear;
        -webkit-transition: opacity .2s linear; }
    body footer address {
      width: 100%;
      font-size: 14px;
      color: #666;
      font-style: normal; }
      body footer address #tel {
        padding-left: 35px;
        background: url(../../images/top/icon_tel.png) left 5px center no-repeat; }
      body footer address #fax {
        padding-left: 35px;
        background: url(../../images/top/icon_fax.png) left 5px center no-repeat; }
    body footer small {
      width: 100%;
      font-size: 10px;
      color: #666; }

#banner li {
	margin-bottom:10px;
}

.news_pages a {
	color:#ec6d6c;
	text-decoration:underline;
}

.news_pages a:hover {
	text-decoration:none;
}

.news_pages .section1 {
	margin:0 0 30px;
}

.news_pages .section1 h3 {
	font-size:17px;
	margin:0 0 4px;
	padding:0px;
}

.news_pages .date {
	margin:0 0 4px;
	font-size:13px;
	color:#666;
}

.news_pages .maintxt {
	font-size:15px;
}




