@charset "UTF-8";
/*===============================
	タブ
===============================*/
.admission_tab{
	width:87%;
	margin:3% auto 0;
	z-index:0;
	position:relative;
}
.admission_tab li:first-child{
	margin-left:0px;
}
.admission_tab li{
	width:32%;
	text-align:center;
	font-size:11px;
	font-weight:bold;
	color:#fff;
	letter-spacing:0.6px;
	float:left;
	padding:3.5% 0 2.1%;
	margin-left:2%;
	text-shadow: 0px -1px 1px #5f5f5f; 
	background:#a1a1a1;
	border:1px solid #81817f;
	border-bottom:none;
	border-radius:4px 4px 0 0;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	box-shadow:#ccd1cd 0px 0px 0px 1px inset;
	-moz-box-shadow:#ccd1cd 0px 0px 0px 1px inset;
}
.admission_tab li.select{
	text-shadow: 0px -1px 1px #cf2070; 
	background:#ee66a6;
	border:1px solid #cd387c;
	border-bottom:none;
	border-radius:4px 4px 0 0;
	box-shadow:#f3a1c9 0px 0px 0px 1px inset;
	-moz-box-shadow:#f3a1c9 0px 0px 0px 1px inset;
}
.content li{}
.hide {display:none;}

.admission_content {
	background:#fff;
	width:93%;
	padding:0% 3% 3%;
	margin:-1px auto 3%;
	z-index:1;
	position:relative;
}

.admission_content li {
	padding-top:25px;
}

.admission_content li.tab_admission{
	background:url(../images/admission/ico_arrow.png) 15% 8px no-repeat;
	background-size:2.5%;
}

.admission_content li.tab_daytime{
	background:url(../images/admission/ico_arrow.png) 50% 8px no-repeat;
	background-size:2.5%;
}

.admission_content li.tab_correspondence{
	background:url(../images/admission/ico_arrow.png) 85% 8px no-repeat;
	background-size:2.5%;
}

/*===============================
	入学案内
===============================*/
.admission_content li.tab_admission .admission_table {
	width:100%;
	margin-bottom:8%;
}

.admission_content li.tab_admission .admission_table colgroup.sec_01 {
	width:40%;
}

.admission_content li.tab_admission .admission_table colgroup.sec_02 {
	width:20%;
}

.admission_content li.tab_admission .admission_table colgroup.sec_03 {
	width:14%;
}

.admission_content li.tab_admission .admission_table colgroup.sec_04 {
	width:33%;
}

.admission_content li.tab_admission .admission_table colgroup.sec_05 {
	width:16%;
}

.admission_content li.tab_admission .admission_table colgroup.sec_06 {
	width:15%;
}

.admission_content li.tab_admission .admission_table .td_left {
	text-align:left;
	padding-left:5px;
}

.admission_content li.tab_admission .admission_table th{
	background:#e487b2;
	border-right:1px solid #fff;
	border-left:1px solid #e487b2;
	color:#fff;
	text-align:center;
	font-weight:bold;
	font-size:9px;
	padding:3px 0;
	vertical-align:middle;
}

.admission_content li.tab_admission .admission_table th:last-child{
	border-right:1px solid #e487b2;
}

.admission_content li.tab_admission .admission_table td{
	border-left:1px solid #9f9f9f;
	border-bottom:1px solid #9f9f9f;
	border-right:1px solid #9f9f9f;
	text-align:center;
	font-size:9px;
	padding:3px 0;
	vertical-align:middle;
}

.admission_content .admission_shutugan p {
	font-size:9px;
}

.admission_content .admission_shutugan p.admission_btn {
	color:#fff;
	font-weight:bold;
	font-size:11px;
	margin-bottom:5px;
}

.admission_content .admission_shutugan p.admission_btn span {
	background:#e487b2;
	border-radius:4px;
	padding:5px 8px;
}

.admission_content .admission_shutugan p:not(.admission_btn ) {
	margin-bottom:15px;
}

/*===============================
	昼間課
===============================*/
.admission_content li.tab_daytime p {
	font-size:9px;
}

.admission_content li.tab_daytime .daytime_nav {
	width:100%;
	margin:5% 0 5%;
}

.admission_content li.tab_daytime .daytime_nav li {
	width:32%;
	float:left;
	margin:0 0 10px 2%;
	padding:0px;
}

.admission_content li.tab_daytime .daytime_nav li a {
	width:100%;
	display:block;
	font-size:10px;
	font-weight:bold;
	color:#fff;
	letter-spacing:0.6px;
	padding:7.3% 0 7.3% 5px;
	text-shadow: 0px -1px 1px #5f5f5f; 
	background:#a1a1a1 url(../images/admission/img_arrow_daytimenav.png) no-repeat 95% 48% ;
	background-size:9%;
	border-radius:2px;
	-moz-border-radius-topleft:2px;
	-moz-border-radius-topright:2px;
	-moz-border-radius-bottomleft:2px;
	-moz-border-radius-bottomright:2px;
}

.admission_content li.tab_daytime .daytime_nav li:nth-child(1) ,
.admission_content li.tab_daytime .daytime_nav li:nth-child(4) {
	margin-left:0;
}

.admission_content li.tab_daytime .daytime_nav li:nth-child(2) a ,
.admission_content li.tab_daytime .daytime_nav li:nth-child(4) a {
	font-size:10px;
	letter-spacing:0px;
}

.admission_content li.tab_daytime .th_y1 span.tate-cho{
	display:block;
	-moz-transform:matrix(0, 1, 1, 0, 0, 0);
	-webkit-transform:matrix(0, 1, 1, 0, 0, 0);
	-o-transform:matrix(0, 1, 1, 0, 0, 0);
	transform:matrix(0, 1, 1, 0, 0, 0);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1, mirror=1);
}

.admission_content li.tab_daytime .txt_big {
	font-weight:bold;
}

.admission_content li.tab_daytime .text_blue {
	color:#1ca2eb;
}

.admission_content li.tab_daytime .txt_pink {
	color:#e389af;
}

.admission_content li.tab_daytime table {
	width:100%;
	margin:0 0 1.5%;
}

.admission_content li.tab_daytime .daytime_table_01 colgroup.sec_01 {	width:8%;}
.admission_content li.tab_daytime .daytime_table_01 colgroup.sec_02 {	width:10%;}
.admission_content li.tab_daytime .daytime_table_01 colgroup.sec_03 {	width:82%;}

.admission_content li.tab_daytime .daytime_table_02 colgroup.sec_01 {	width:14%;}
.admission_content li.tab_daytime .daytime_table_02 colgroup.sec_02 {	width:41%;}
.admission_content li.tab_daytime .daytime_table_02 colgroup.sec_03 {	width:45%;}
.admission_content li.tab_daytime .daytime_table_02 colgroup.sec_04 {	width:47%;}
.admission_content li.tab_daytime .daytime_table_02 colgroup.sec_05 {	width:39%;}

.admission_content li.tab_daytime table th {
	background:#e487b3;
	color:#fff;
	font-weight:bold;
	text-align:center;
	padding:1% 0;
	font-size:8px;
	line-height:14px;
}

.admission_content li.tab_daytime .daytime_table_01 thead th {
	border-bottom:1px solid #fff;
}

.admission_content li.tab_daytime .daytime_table_01 tbody th {
	text-align:left;
}

.admission_content li.tab_daytime .daytime_table_01 tbody th:not(.th_y1):not(.th_y2) {
	border-right:1px solid #e487b3;
	box-shadow:#fff 1px 0px 0px 0px inset;
	-moz-box-shadow:#fff 1px 0px 0px 0px inset;
	padding-left:1.5%;
}

.admission_content li.tab_daytime .th_y1 ,
.admission_content li.tab_daytime .th_y2 {
	text-align:center;
}

.admission_content li.tab_daytime .th_y1 {
	border-bottom:1px solid #fff;
}

.admission_content li.tab_daytime .th_y2 {
	border-bottom:1px solid #e487b3;
}

.admission_content li.tab_daytime .th_y1 p ,
.admission_content li.tab_daytime .th_y2 p {
	width:1em;
	writing-mode: lr-tb;
	margin:0 auto;
}

.admission_content li.tab_daytime table td {
	text-align:center;
	padding:1% 0;
	font-size:8px;
}

.admission_content li.tab_daytime .daytime_table_01 td {
	text-align:left;
	padding-left:1.5%;
}

.admission_content li.tab_daytime table thead td {
	border-top:1px solid #9f9f9f;
	border-right:1px solid #9f9f9f;
}

.admission_content li.tab_daytime .daytime_table_01 tbody td {
	border-right:1px solid #9f9f9f;
	border-bottom:1px solid #fff;
}

.admission_content li.tab_daytime .daytime_table_01 tbody tr:last-child td:last-child {
	border-bottom:1px solid #9f9f9f;
}

.admission_content li.tab_daytime .daytime_table_01 tbody td li {
	letter-spacing:-0.8px;
	width:50%;
	float:left;
	margin:0;
	padding:0;
}

.admission_content li.tab_daytime .daytime_table_02 th {
	border-bottom:1px solid #fff;
}

.admission_content li.tab_daytime .daytime_table_02 thead th {
	border-right:1px solid #fff;
}

.admission_content li.tab_daytime .daytime_table_02 thead th:last-child {
	border-right:1px solid #e487b3;
}

.admission_content li.tab_daytime .daytime_table_02 tbody tr:last-child th {
	border-bottom:1px solid #e487b3;
}

.admission_content li.tab_daytime .daytime_table_02 td {
	border-right:1px solid #9f9f9f;
	border-bottom:1px solid #9f9f9f;
}

.admission_content li.tab_daytime .daytime_ao {
	font-size:8px;
	text-align:center;
	margin:0 0 1%;
}

.admission_content li.tab_daytime .daytime_ao p {
	width:100%;
	border:1px solid #a1a1a1;
	padding:1% 1%;
}

.admission_content li.tab_daytime .daytime_ao img {
	width:9%;
	margin:2.3% 0;
}

.admission_content li.tab_daytime .daytime_ao dl {
	border:1px solid #e487b3;
}

.admission_content li.tab_daytime .daytime_ao dt {
	background:#e487b3;
	color:#fff;
	font-size:9px;
	font-weight:bold;
	padding:1% 1%;
}

.admission_content li.tab_daytime .daytime_ao dd {
font-size:8px;
	padding:1% 1%;
	letter-spacing:-0.5px;
	text-align:left;
}

.admission_content li.tab_daytime .daytime_dl {
	width:100%;
	margin:0 0 6%;
}

.admission_content li.tab_daytime .daytime_dl dt {
	background:#e487b3;
	color:#fff;
	font-size:9px;
	font-weight:bold;
	padding:2% 2.5%;
}

.admission_content li.tab_daytime .daytime_dl dd {
	font-size:9px;
	padding:2% 2.5%;
	border-right:1px solid #9f9f9f;
	border-left:1px solid #9f9f9f;
}

.admission_content li.tab_daytime .daytime_dl dd:last-child {
	border-bottom:1px solid #9f9f9f;
}

/*===============================
	通信課程
===============================*/
.admission_content li.tab_correspondence p {
	font-size:9px;
}

.admission_content li.tab_correspondence>p {
	margin-bottom:3%;
}

.admission_content li.tab_correspondence .correspondence_dl {
	width:100%;
	margin:0 0 6%;
}

.admission_content li.tab_correspondence .correspondence_dl dt {
	background:#e487b3;
	color:#fff;
	font-size:9px;
	font-weight:bold;
	padding:2% 2.5%;
}

.admission_content li.tab_correspondence .correspondence_dl dd {
	font-size:9px;
	padding:2% 2.5%;
	border-right:1px solid #9f9f9f;
	border-left:1px solid #9f9f9f;
}

.admission_content li.tab_correspondence .correspondence_dl dd h4 {
	color:#ee66a5;
	font-size:10px;
	font-weight:bold;
}

.admission_content li.tab_correspondence .correspondence_dl dd h5 {
	font-size:10px;
	font-weight:bold;
}

.admission_content li.tab_correspondence .correspondence_dl dd p {	margin-bottom:1%;}
.admission_content li.tab_correspondence .correspondence_dl dd p:last-child {	margin-bottom:0;}

.admission_content li.tab_correspondence .correspondence_dl dd:last-child {
	border-bottom:1px solid #9f9f9f;
}

.admission_content li.tab_correspondence table {
	width:100%;
	margin:0 0 1.5%;
}

.admission_content li.tab_correspondence .correspondence_table colgroup.sec_01 {	width:27.5%;}
.admission_content li.tab_correspondence .correspondence_table colgroup.sec_02 {	width:14.5%;}

.admission_content li.tab_correspondence table th {
	background:#e487b3;
	color:#fff;
	font-weight:bold;
	text-align:center;
	padding:1% 0;
	font-size:8px;
	line-height:14px;
}

.admission_content li.tab_correspondence .correspondence_table th {
	border-bottom:1px solid #fff;
}

.admission_content li.tab_correspondence .correspondence_table thead th {
	border-right:1px solid #fff;
}

.admission_content li.tab_correspondence .correspondence_table thead th:last-child {
	border-right:1px solid #e487b3;
}

.admission_content li.tab_correspondence .correspondence_table tbody.tbd_01 tr:last-child th {
	border-bottom:none;
}

.admission_content li.tab_correspondence .correspondence_table tbody.tbd_02 th {
	color:#ee66a5;
	font-size:11px;
	background:#f8e1eb;
	border-right:1px solid #f8e1eb;
	border-bottom:1px solid #f8e1eb;
	padding:1.3% 0 1%;
}

.admission_content li.tab_correspondence .correspondence_table tbody.tbd_03 tr:first-child th {
	border-top:1px solid #e487b3;
}
.admission_content li.tab_correspondence .correspondence_table tbody.tbd_03 tr:last-child th {
	border-bottom:1px solid #e487b3;
}

.admission_content li.tab_correspondence table th.th_min {
	font-size:7px;
	letter-spacing:-0.5px;
}

.admission_content li.tab_correspondence table td {
	text-align:center;
	padding:1% 0;
	font-size:8px;
}

.admission_content li.tab_correspondence .correspondence_table td {
	border-right:1px solid #9f9f9f;
	border-bottom:1px solid #9f9f9f;
}

.admission_content li.tab_correspondence .correspondence_table tbody.tbd_01 tr:last-child td {
	border-bottom:none;
}
.admission_content li.tab_correspondence .correspondence_table tbody.tbd_03 td {
	border-top:1px solid #9f9f9f;
}






