@charset "UTF-8";

section .course_content h4 {
	font-size:13px;
	font-weight:bold;
	color:#00a0e9;
	margin-bottom:5px;
}

section .course_content>p {
	margin-bottom:20px;
}

section .course_content table {
	width:100%;
}

section .course_content td {
	padding-bottom:20px;
	font-size:9px;
}

section .course_content td p {
	margin:5px;
}

section .course_content td:nth-child(1) {
	width:48.5%;
}

section .course_content td:nth-child(2) {
	width:3%;
}

section .course_content td:nth-child(3) {
	width:48.5%;
}

section .course_content {
	font-size:9px;
}

section .course_content {
	font-size:9px;
}



/********************************************************************************/
/*  barber  */
/********************************************************************************/


.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  font-size: 0.1em;
  line-height: 0;
}

.clearfix {
  min-height: 0.1px;
}

* html .clearfix {
  height: 0.1px;
}





section.course h2,
section.course h3,
section.course h4{
	margin: 0;
	border: 0;
	padding: 0;
	background: none;
}

section.course h3{
	font-size: 10px;
	text-align: center;
	padding: 0 0 1em;
}

dl.points{
	margin: 0 0 20px;
}
dl.points dt{
	font-size: 13px;
    line-height: 1;
    padding: 0.3em 0 0.2em;
	background: #CCC;
	text-align: center;
	width: 9em;
	color: #FFF;
}
dl.points dd{
	border: 1px solid #CCC;
	padding: 10px;
	margin: 0 0 10px;;
}
dl.points dd h4{
	margin: 0 0 0.5em;
	font-size: 10px;
}

.cnts_end {
	margin:0 0 30px;
}

/****/
ul#courseTab{
/* 	margin: 0 0 0 -1%; */
/* 	border-bottom: 1px solid #333; */
}
ul#courseTab a{
	background: #b1b1b1;
	display: block;
	font-size: 13px;
	padding: 10% 0;
	text-align: center;
	color: #FFF;
	font-weight: bold;
	border-radius: 3px 3px 0 0;
}
ul#courseTab li{
	margin: 0 0.5% 0 0;
	padding: 0 0 20px;
	display: block;
	float: left;
	width: 33%;
}
ul#courseTab li:last-child {
	margin: 0;
}
ul#courseTab li.selected{
	background: url(../images/course/barber/icn_current@2x.gif) 50% 100% no-repeat;
	background-size: 12px 11px;
}


ul#courseTab li.selected a{
	background: #333;
}
ul#coursePanel{
	margin: 0 0.5% 30px 0;
}
ul#coursePanel>li{
	padding: 30px 3.3% 15px;
	border: 1px solid #333;
	margin: -20px 0 0;
/* 	border-top: 0px; */
} 

#coursePanel>li>.outline{
	margin: 0 0 20px;
}
#coursePanel>li>.outline p{
	margin: 1em 0 0;
}
#coursePanel>li>.outline h5{
	text-align: center;
	margin: 0 0 1em;
}
#coursePanel>li>.outline img{
	width: 100%;
	height: auto;
}




ul.curriculumPoints h5{
	font-weight: bold;
	text-align: center;
	background: #CCC;
	padding: 5% 0;
	margin: 0 0 5px;
	color:#FFF;
	font-size: 10px
}
ul.curriculumPoints{
}
ul.curriculumPoints li{
	display: inline-block; /* 横並び */
	vertical-align: top; /* li要素を上端揃えに */
	width: 48%;
	margin: 0 2.99% 1em 0;
}
ul.curriculumPoints li:nth-child(2n) {
	margin:0 0 1em 0;
}
ul.curriculumPoints li img{
	width: 100%;
	height: auto;
	margin: 0 0 10px;
}
ul.curriculumPoints .btn_shaving {
	display:block;
	text-align:center;
	width:80%;
	padding: 4% 0;
	margin:5px auto 10px;
	font-size: 8px;
	font-weight:bold;
	background:#00a0e9;
	color:#fff;
	border-radius: 3px;
}

.curriculumList {
	overflow:hidden;
}

.curriculumList li{
	float: left;
	padding: 0 1em 0 0;
}
.curriculumList li:before{
	content: "● ";
	color:#00a0e9;
}

dl.licenseList dt{
	font-size: 11px;
	font-weight: bold;
}
dl.licenseList dd{
	margin: 0 0 2em;
}

ul.comment03{
	margin:0 0 2em;
}
ul.comment03 li:first-child{
	border-bottom:1px dashed #60c4f1;
	margin:0 0 1em;
	padding:0 0 1em;
}
ul.comment03 li .name {
	text-align:right;
}


/*****************/
section.barber #summary{
	background: url(../images/course/barber/bg_summary.gif) 0 0 no-repeat;
	background-size: 100%;
	padding: 3em 1em 1em;
}
section.barber #summary>.title{
	margin: 0 0 1em;
	text-align: center;
}
section.barber #summary p {
	margin:0 0 1em;
}


/*  colors  *****************************/
section.barber dl.licenseList dt,
section.barber #summary .other #barberNote .title,
section.course h3,
dl.points dd h4{
	color: #00a0e9;
}
#bbTraining h3 {
	color:#363636;
	text-align:left;
}
section.barber ul#courseTab li.selected a,
section.barber ul.curriculumPoints h5,
dl.points dt{
	background: #75c5e9;
}
section.barber ul#coursePanel>li,
#bbTraining ol.flow li>.inner,
#bbTraining ol.flow h5,
.barberNote,
section.barber #summary .other .lists,
section.barber #summary .other .lists li,
dl.points dd{
	border-color: #75c5e9;
}

