@charset "UTF-8";
/*===============================
	学科紹介トップ
===============================*/
section .course_content h4 {
	font-size:11px;
	font-weight:bold;
	color:#ed5ea0;
	margin-bottom:5px;
}

section .course_content>p {
	margin-bottom:23px;
	font-size:9px;
}

section .course_content table {
	width:100%;
	margin-bottom:10px;
}

section .course_content td {
	padding-bottom:8px;
	font-size:9px;
}

section .course_content td p {
	margin:5px;
}

section .course_content td:nth-child(1) {
	width:48.5%;
}

section .course_content td:nth-child(2) {
	width:3%;
}

section .course_content td:nth-child(3) {
	width:48.5%;
}

section .course_content {
	font-size:9px;
}

section .course_content {
	font-size:9px;
}









