@charset "UTF-8";
/*===============================
	学科紹介トップ
===============================*/
section .course_content h4 {
	font-size:13px;
	font-weight:bold;
	color:#ed5ea0;
	margin-bottom:5px;
}

section .course_content>p {
	margin-bottom:20px;
}

section .course_content table {
	width:100%;
}

section .course_content td {
	padding-bottom:20px;
	font-size:9px;
}

section .course_content td p {
	margin:5px;
}

section .course_content td:nth-child(1) {
	width:48.5%;
}

section .course_content td:nth-child(2) {
	width:3%;
}

section .course_content td:nth-child(3) {
	width:48.5%;
}

section .course_content {
	font-size:9px;
}

section .course_content {
	font-size:9px;
}




/********************************************************************************/
/*  esthetic  */
/********************************************************************************/


.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  font-size: 0.1em;
  line-height: 0;
}

.clearfix {
  min-height: 0.1px;
}

* html .clearfix {
  height: 0.1px;
}





section.course h2,
section.course h3,
section.course h4{
	margin: 0;
	border: 0;
	padding: 0;
	background: none;
}

section.course h3{
	font-size: 10px;
	text-align: center;
	padding: 0 0 1em;
}

dl.points{
	margin: 0 0 20px;
}
dl.points dt{
	font-size: 13px;
    line-height: 1;
    padding: 0.3em 0 0.2em;
	background: #CCC;
	text-align: center;
	width: 9em;
	color: #FFF;
}
dl.points dd{
	border: 1px solid #CCC;
	padding: 10px;
	margin: 0 0 10px;;
}
dl.points dd h4{
	margin: 0 0 0.5em;
	font-size: 10px;
}


/****/
ul#courseTab{
/* 	margin: 0 0 0 -1%; */
/* 	border-bottom: 1px solid #333; */
}
ul#courseTab a{
	background: #b1b1b1;
	display: block;
	font-size: 13px;
	padding: 10% 0;
	width: 100%;
	text-align: center;
	color: #FFF;
	font-weight: bold;
	border-radius: 3px 3px 0 0;
}
ul#courseTab li{
	margin: 0 0.5% 0 0;
	padding: 0 0 20px;
	display: block;
	float: left;
	width: 33%;
}
ul#courseTab li:last-child {
	margin: 0;
}
ul#courseTab li.selected{
	background: url(../images/course/esthetic/icn_current@2x.gif) 50% 100% no-repeat;
	background-size: 12px 11px;
}


ul#courseTab li.selected a{
	background: #333;
}
ul#coursePanel{
	margin: 0 0.5% 30px 0;
}
ul#coursePanel>li{
	padding: 30px 3.3% 15px;
	border: 1px solid #333;
	margin: -20px 0 0;
/* 	border-top: 0px; */
} 

#coursePanel>li>.outline{
	margin: 0 0 20px;
}
#coursePanel>li>.outline p{
	margin: 1em 0 0;
}
#coursePanel>li>.outline h5{
	text-align: center;
	margin: 0 0 1em;
}
#coursePanel>li>.outline img{
	width: 100%;
	height: auto;
}




ul.curriculumPoints h5{
	font-weight: bold;
	text-align: center;
	background: #CCC;
	padding: 5% 0;
	margin: 0 0 5px;
	color:#FFF;
	font-size: 10px
}
ul.curriculumPoints {
	overflow:hidden;
}
ul.curriculumPoints li{
	display: inline-block; /* 横並び */
	vertical-align: top; /* li要素を上端揃えに */
	width: 48%;
	margin: 0 2.99% 1em 0;
}
ul.curriculumPoints li:nth-child(2n) {
	margin:0 0 1em 0;
}
ul.curriculumPoints li img{
	width: 100%;
	height: auto;
	margin: 0 0 10px;
}



.curriculumList li{
	float: left;
	padding: 0 1em 0 0;
}
.curriculumList li:before{
	content: "● ";
	color:#a64a97;
}

dl.licenseList dt{
	font-size: 11px;
	font-weight: bold;
}
dl.licenseList dd{
	margin: 0 0 2em;
}


#etTraining  .voiceBlc{
	padding: 5%;
	margin: 0 0 1.5em;
}
#etTraining  .voiceBlc .image{
	float: right;
	width: 35%;
	height: auto;
	margin: -10px -5% 0 0;
	font-weight: bold;/*name*/
	text-align: center;/*name*/
}
#etTraining  .voiceBlc .image img{
	width: 100%;
}
#etTraining  .voiceBlc .image .nameCap{
	margin: 1em 0 0;
}

#etTraining  .voiceBlc>p{
	float: left;
	width: 70%
}
#etTraining ol.flow li{
	margin: 0 0 10px;
	padding: 0 0 10px;
	background: url(../images/course/esthetic/arrow_training@2x.gif) 50% 100% no-repeat;
	background-size: 20px auto;
}
#etTraining ol.flow li>.inner{
	border: 1px solid;
	padding: 1em;
}
#etTraining ol.flow h5{
	font-weight: bold;
	border-bottom: 1px dotted;
	margin: 0 0 0.5em;
	padding: 0 0 0.5em;
	font-size: 10px;
}
#etTraining ol.flow p{
	float: left;
	width: 50%;
}
#etTraining ol.flow p.happy{
	margin:0 0 1em;
}
#etTraining ol.flow img{
	float: right;
	width: 49%;
}
#etTraining ol.flow li.lastChild{
	padding: 0;
	background: none;
}
#etTraining ol.flow li.lastChild p{
	float: none;
	width: 100%;
}
#etTraining ol.flow li.lastChild img{
	float: none;
	width: auto;
}
#etTraining ol.flow li.lastChild .voiceBlc{
	width: 90%;
	margin: 0 auto;
	background: none;
	padding: 0;
}
#etTraining ol.flow li.lastChild .voiceBlc p{
	font-weight: bold;
	color:#FFF;
	padding: 1em;
}
#etTraining ol.flow li.lastChild .voiceBlc .balloon{
	width: 80%;
	float: left;
	padding: 0 5px 0 0;
	background: url(../images/course/esthetic/icn_balloon.jpg) 100% 50% no-repeat;
	background-size: 3% auto;
}
#etTraining ol.flow li.lastChild .voiceBlc .balloon img{
	float: right;
}
/*****************/
section.esthetic #summary{
	background: url(../images/course/esthetic/bg_summary.gif) 0 0 no-repeat;
	background-size: 100%;
	padding: 3em 1em 1em;
}
section.esthetic #summary>.title{
	margin: 0 0 0.5em;
	text-align: center;
}

section.esthetic #summary .flow{
	margin: 1em 0 0;
}
section.esthetic #summary .flow>div{
	margin: -10px 0 0;
	position: relative;
}
section.esthetic #summary .flow>div:after{
	content: url(../images/course/esthetic/arrow.png);
	position: absolute;
	top: -20px;
	left: 45%;
	transform:scale(0.5);
 -webkit-transform: scale(0.5);
 -moz-transform: scale(0.5); 
}
section.esthetic #summary .flow>div.firstChild{
	margin: 0;
	padding: 0 0 20px;
}
section.esthetic #summary .flow>div.firstChild:after{
	content: none;
	position: static;
	top: 0;
	left: 0;
}

/*
@media only screen and (-webkit-min-device-pixel-ratio: 2),(-webkit-min-device-pixel-ratio: 1.5) {
   .section.esthetic #summary .flow>div:after{
       	content: url(../images/course/esthetic/arrow2.png);
       background-size:50%;

   }
}
*/

section.esthetic #summary .flow>div>.inner{
	background: #FFF;
	padding: 1em;
	background-size: 8px 9px;
}
section.esthetic #summary .flow>div>.inner .title{
	margin: 0 0 0.5em;
}
section.esthetic #summary .flow>div>.inner .title img{
	float: left;
}
section.esthetic #summary .flow>div>.inner .title p{
	float: left;
	margin: 0 0 0 1em;
	color:#a64a97;
	font-weight: bold;
	font-size: 10px;
	line-height: 1.2em;
}
section.esthetic #summary .flow > div > .inner .title {
    border-bottom: 1px solid #00ac97;
    margin: 0 0 0.5em;
    padding: 0 0 0.5em;
}

section.esthetic #summary .other{
	margin: 10px 0 0;
}
section.esthetic #summary .other .title{
	font-weight: bold;
	color: #FFF;
}
section.esthetic #summary .other .lists li{
	width: 50%;
	float: left;
	background: #FFF;
	border: 1px solid;
	border-top: none;
	border-left: none;
	padding: 1%;
}
section.esthetic #summary .other .lists{
		border: 1px solid;
	border-bottom: none;
	border-right: none;
}
section.esthetic #summary .other .lists li:before{
	content: "● ";
	color:#a64a97;
}
#estheticNote{
	margin: 1em 0 0;
	padding: 1em;
	border: 1px dashed #a64a97;
}
#estheticNote .inner{
	float: left;
	width: 63%;
}
#estheticNote .image{
	float: right;
	width: 36%;
}
#estheticNote .title{
	margin: 0 0 0.5em;
}

/*  colors  *****************************/
section.esthetic dl.licenseList dt,
section.esthetic #summary .other #estheticNote .title,
section.course h3,
dl.points dd h4{
	color: #A64A97;
}
section.esthetic ul#courseTab li.selected a,
section.esthetic ul.curriculumPoints h5,
dl.points dt{
	background: #d084d7;
}
section.esthetic ul#coursePanel>li,
#etTraining ol.flow li>.inner,
#etTraining ol.flow h5,
.estheticNote,
section.esthetic #summary .other .lists,
section.esthetic #summary .other .lists li,
dl.points dd{
	border-color: #d083d7;
}
.flow .voiceBlc{
	background: #fbe5ff;
}
.flow .voiceBlc .image,
#etTraining ol.flow h5{
	color: #a64a97;
}
#etTraining ol.flow li.lastChild .voiceBlc p,
section.esthetic #summary .other>.title{
	background-color: #a64a97;
}
#etTraining ol.flow li>.inner{
	background: url(../images/course/esthetic/bg_esthetic.jpg) 0 0 repeat;
}

/******************************/
