@charset "UTF-8";
/*===============================
	資料請求
===============================*/
section .inquiry_content dt {
	width:100%;
	background:#ffd7e8;
	padding:4px 10px;
	color:#e45693;
	font-weight:bold;
}

section .inquiry_content dt span {
	color:#363636;
	padding-left:5px;
	float:none !important;
	width:100% !important;
}

section .inquiry_content dt span.txt_small {
	color:#e45693;
	font-size:11px;
}

section .inquiry_content dd {
	width:100% !important;
	padding:6px 10px;
	float:none !important;
	font-size:11px;
}

section .inquiry_content dd input[type="text"] ,
section .inquiry_content dd input[type="email"] ,
section .inquiry_content dd select ,
section .inquiry_content dd input[type="radio"] ,
section .inquiry_content dd input[type="checkbox"] ,
section .inquiry_content dd .form_txt {
	border:1px solid #b6b6b6;
	font-size:11px !important;
}

section .inquiry_content dd input[type="text"] ,
section .inquiry_content dd input[type="email"] {
	height:18px;
	border-radius:0;
	-webkit-appearance:none;
}

section .inquiry_content dd input[type="radio"] {
	padding:0px;
	margin:0 8px 5px 0;
	vertical-align: middle;
}

section .inquiry_content dd.form_radio label:first-child {
	margin-right:20px;
}

section .inquiry_content dd.form_checkbox label:first-child {
	margin-right:15px;
}

section .inquiry_content dd label {
	border:none !important;
	background:none !important;
	display:inline-block !important;
	margin:0px;
	padding:0px;
}

section .inquiry_content dd label.mfp_checked {
	border:none !important;
	background:none !important;
}

section .inquiry_content dd input[type="checkbox"] {
	padding:0px;
	margin:0 5px 5px 0;
	background: -moz-linear-gradient(top, #fff, #ccc);
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
	vertical-align: middle;
}

section .inquiry_content dd select {
	height:23px;
	padding:0px;
	margin:2px 0;
	vertical-align: middle;
}

section .inquiry_content dd .form_01 {
	width:100%;
}

section .inquiry_content dd .form_02 {
	width:25%;
}

section .inquiry_content dd .form_03 {
	width:50%;
}

section .inquiry_content dd .form_txt {
	width:100% !important;
	height:70px !important;
	border-radius:0;
	-webkit-appearance:none;
}

section .inquiry_content .btn_area {
	font-size:11px;
	text-align:center;
	margin:20px 0 20px;
}

section .inquiry_content input[type="submit"] {
	border:0px;
	background:#f15196 !important;
	color:#fff;
	font-size:14px;
	margin:10px 0 !important;
	padding:8px 15px !important;
	border-radius:2px !important;
	-webkit-appearance:none;
	box-shadow: 1px 1px 1px 0px #b6b6b6;
}

section .inquiry_content h4 {
	color:#e45693;
	font-weight:bold;
	text-align:center;
	margin:20px 0 15px;
}
section .inquiry_content .thanks_area{
	font-size:11px;
	text-align:center;
	margin:10px 0 60px;
}

section .inquiry_content .thanks_area a {
	border:0px;
	background:#f15196 !important;
	color:#fff;
	font-size:14px;
	margin:25px 0;
	letter-spacing:2px;
	padding:8px 25px !important;
	border-radius:2px !important;
	-webkit-appearance:none;
	box-shadow: 1px 1px 1px 0px #b6b6b6;
	display:inline-block;
}

.inquiry_content #mfp_phase_confirm_inner h4 {
	color:#e45693 !important;
	font-size:14px !important;
	font-weight:bold !important;
	text-align:center !important;
	margin:5px 0 15px !important;
}

.inquiry_content #mfp_phase_confirm_inner th {
	width:18% !important;
	padding-right:2% !important;
	font-size:10px !important;
}

.inquiry_content #mfp_phase_confirm_inner td {
	width:80% !important;
	font-size:10px !important;
}

.inquiry_content #mfp_phase_confirm_inner #mfp_button_send {
	float:right;
	border:0px;
	background:#f15196 !important;
	color:#fff;
	letter-spacing:3px;
	font-size:14px;
	margin:10px 20px 10px 0px !important;
	padding:8px 15px !important;
	border-radius:2px !important;
	-webkit-appearance:none;
	box-shadow: 1px 1px 1px 0px #b6b6b6;
}

.inquiry_content #mfp_phase_confirm_inner #mfp_button_cancel {
	float:left;
	border:0px;
	background:#bbb !important;
	color:#fff;
	font-size:14px;
	margin:10px 0px 10px 20px !important;
	padding:8px 15px !important;
	border-radius:2px !important;
	-webkit-appearance:none;
	box-shadow: 1px 1px 1px 0px #777;
}

.inquiry_content .clear {
	clear:both;
}

/*===============================
	メールマガジン
===============================*/
section .mailmagazine_content {
	font-size:12px;
}

section .mailmagazine_content .main_txt {
	color:#e45693;
	font-weight:bold;
	text-align:center;
	margin:25px 0 10px;
}

section .mailmagazine_content input[type="text"] {
	width:100%;
	height:18px;
	border:1px solid #b6b6b6;
	margin:10px 0;
	border-radius:0;
	-webkit-appearance:none;
}

section .mailmagazine_content input[type="submit"] {
	border:0px;
	background:#f15196 !important;
	color:#fff;
	font-size:14px;
	letter-spacing:5px;
	margin:0px 0 10px !important;
	padding:8px 25px !important;
	border-radius:2px !important;
	-webkit-appearance:none;
	box-shadow: 1px 1px 1px 0px #b6b6b6;
}






