@charset "UTF-8";
/*===============================
	オープンキャンパス
===============================*/
section .opencampus_content {
	font-size:9px;
}

section .opencampus_content .ttl_img {
	width:103.5%;
	margin:2.2% 0 0 -0.1%;
}

section .opencampus_content .entry_btn {
	width:100%;
	display:block;
	color:#fff;
	letter-spacing:1px;
	font-size:14px;
	text-align:center;
	border-radius: 2px;
	background:#f15196 ;
	box-shadow:#d3d3d3 2px 2px 2px 0;
	-moz-box-shadow:#f3a1c9 0px 0px 0px 1px;
	padding:2% 0;
	margin:10px 0 20px;
}

section .opencampus_content .box_blue .entry_btn {
	background:#3daef5 ;
}

section .opencampus_content .entry_btn img {
	width:6%;
	margin:-1.8% 0 0 3%;
	vertical-align:middle;
}

section .opencampus_content .opencampus_box {
	width:100%;
	border-radius: 3px;
	padding:1.5%;
	margin:0 0 5%;
}

section .opencampus_content .box_pink {
	background:#f279ae;
}

section .opencampus_content .box_blue {
	background:#6ec3eb;
}

section .opencampus_content .opencampus_box table {
	width:100%;
}

section .opencampus_content .opencampus_box th {
	width:50%;
	text-align:center;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	padding:0.8% 0;
	vertical-align:middle;
}

section .opencampus_content .opencampus_box td {
	width:49%;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	background:#fff;
	border-radius: 2px;
	padding:0.8% 0;
	vertical-align:middle;
}

section .opencampus_content .box_pink td {
	color:#f15196;
}

section .opencampus_content .box_blue td {
	color:#46b9ee;
}

section .opencampus_content .opencampus_box td a {
	width:60%;
	display:block;
	background:#7b7b7b;
	text-align:center;
	font-size:9px;
	font-weight:bold;
	color:#fff;
	border-radius: 2px;
	padding:1% 2%;
	margin:1% auto;
}

section .opencampus_content .opencampus_box .slideBox {
	background:#fff;
	padding:3%;
	margin:1.5% 0 0;
	display:none;
}

section .opencampus_content .opencampus_box .slideBox h4 {
	display:block;
	background:#7b7b7b;
	text-align:center;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	padding:1% 2%;
	margin:1% auto;
}

section .opencampus_content .opencampus_box .slideBox p {
	margin-bottom:0.5%;
}

section .opencampus_content .opencampus_box .slideBox h5 {
	padding:1%;
	font-size:11px;
	font-weight:bold;
	margin:4% 0 2%;
}

section .opencampus_content .box_pink .slideBox h5 {
	background:#ffd0e4;
	color:#ee66a5;
}

section .opencampus_content .box_blue .slideBox h5 {
	background:#bee6ff;
	color:#3daef5;
}

section .opencampus_content .opencampus_box .slideBox .txt_pink {
	font-size:11px;
	font-weight:bold;
}

section .opencampus_content .box_pink .slideBox .txt_pink {
	color:#ee66a5;
}

section .opencampus_content .box_blue .slideBox .txt_pink {
	color:#3daef5;
}

section .opencampus_content .opencampus_box .slideBox li {
	font-size:8px;
}

section .opencampus_content .opencampus_box .slideBox hr {
	border:none;
	height:1px;
	margin:2% 0;
}

section .opencampus_content .box_pink .slideBox hr {
	border-top:dotted 1px #ff87bb;
}

section .opencampus_content .box_blue .slideBox hr {
	border-top:dotted 1px #3daef5;
}

section .opencampus_content .opencampus_box .slideBox dl {
	width:100%;
}

section .opencampus_content .opencampus_box .slideBox dt {
	float:left;
	width:20%;
	font-weight:bold;
}

section .opencampus_content .box_pink .slideBox dt {
	color:#ee66a5;
}

section .opencampus_content .box_blue .slideBox dt {
	color:#3daef5;
}

section .opencampus_content .opencampus_box .slideBox dd {
	float:left;
	width:80%;
}

section .opencampus_content .opencampus_box .slideBox .entry_btn {
	font-size:14px;
	padding:3% 0;
	margin:10px auto 0;
}

section .opencampus_content .opencampus_menu {
	margin:3% 0 5%;
	background:#cfeefa;
	padding:3%;
}
