@charset "UTF-8";
/*===============================
	アクセス
===============================*/
section .access_content .mapp a {
	margin:3px 0;
	font-size:13px;
	font-weight:bold;
	text-decoration:underline;
	color:#666666;
}

section .access_content iframe {
	width:100%;
	height:160px;
}

section .access_content dl {
	margin:15px 0;
}

section .access_content dt {
	background:#e487b2;
	padding:4px 10px;
	color:#fff;
	font-weight:bold;
}

section .access_content dd {
	padding:7px 10px;
}

section .access_content b {
	font-weight:bold;
}

section .access_content .ico_tell {
	padding:0 5px 2px 0;
}

section .access_content .ico_tell img {
	width:8%;
	vertical-align:text-bottom;
}

section .access_content a {
	color:#363636;
	text-decoration:underline;
}

section .access_content {
}







