@charset "UTF-8";
/*===============================
	初期設定
===============================*/
* {
	box-sizing: border-box;
  /* 線,paddingをwidthに含む */
	-moz-box-sizing: border-box;
	word-wrap: break-word;
  /* 英数字がはみ出た場合折り返す */
	text-size-adjust: 100%;
  /* フォントサイズ自動調整 */
-webkit-text-size-adjust: 100%;

}

body {
	color: #151515;
	font-family: ArialMT, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", メイリオ, sans-serif;
	font-size: 13px;
	color:#4c4c4c;
	font-size: 0.8rem;
	font-size:9px;
	line-height: 1.5;
}

a {
	-webkit-tap-highlight-color: rgba(200, 200, 200, 0.5);
	text-decoration: none;
	border: none;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}

img:not([width]) {
	zoom: .5;
  /* Retinaディスプレイ対応のためimg要素は半分の大きさに */
}

img, iframe {
	max-width: 100%;
}

img {
	vertical-align: top;
}

input[type="radio"], input[type="chexkbox"] {
  /* フォーム関係 1.5倍に拡大表示 */
	transform: scale(1.5);
}

.elp {
  /* テキストが表示領域外へオーバーフローした際に「…」を表示 */
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/*===============================
	Clearfix
===============================*/
.cfi:after {
	content: "";
	clear: both;
	display: block;
}

/*===============================
	Wraper
===============================*/
#wrap {
	border-top:10px solid #f27ab2;
	width: 100%;
	overflow: hidden;
}

/*===============================
	Header
===============================*/
header {
	width: 94%;
	background:#fff;
	margin:3% auto;
	position: relative;
}
header h1 {
	width:50%;
	float:left;
}

header div {
	text-align:left;
	width:30%;
	float:right;
}

header li {
	width:38%;
	float:right;
	margin-left:10%;
}

/*===============================
	ナビゲーション
===============================*/
#toggleMenu {
	width: 100%;
	margin:0 auto;
	background: #fff;
	position: absolute;
	z-index: 10;
	top: 125%;
	left: 0;
}
#toggleMenu:before{
	content: "";
	position: absolute;
	top: -23px;
	right: 2%;
	border: 12px solid transparent;
	border-bottom: 12px solid #fff;
}
#toggleMenu h3 {
	width: 18.33%;
	margin-top: 6%;
	margin-left: 3.33%;
	float: left;
}
#toggleMenu #btn_close {
	width: 20.6%;
	float: right;
	margin-top: 3.33%;
	margin-right: 3.33%;
}
#toggleMenu .b-b {
	width: 100%;
	float: none;
	padding-bottom: 3.33%;
	border-bottom: 3px solid #f27ab2;
}
#toggleMenu ul#menuList li {
	width: 100%;
	float: none;
	padding: 10px 0 10px 6.66%;
	margin-left: 0;
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px dotted #8d8d8d;
	position: relative;
	z-index: 10;
}
#toggleMenu ul#menuList li.circle {
	padding-left: 13%;
}
#toggleMenu ul#menuList li.circle:before {
	content: '・';
	color:#f27ab2;
	font-size: 20px;
	position: absolute;
	z-index: 15;
	top:14%;
	left: 6%;
}
#toggleMenu ul#menuList li a {
	width: 100%;
	color:#363636;
	position: relative;
	z-index:1;
	display: block;
}
#toggleMenu ul#menuList li  a.arrow:after {
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	border-top: 2px solid #f27ab2;
	border-right: 2px solid #f27ab2;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	right: 20px;
	top: 45%;
	margin-top: -4px;
}
#toggleMenu #menuBtn {
	width: 86.66%;
	float: right;
	text-align: left;
	margin-bottom: 10px;
}
#toggleMenu #menuBtn li {
	width: 40.83%;
	float: left;
	margin-left: 0;
	margin-top: 10px;
}
#toggleMenu #menuBtn li:nth-child(2n) {
	margin-left: 5%;
}
#submenu_wrap {
	width: 100%;
	height:100%;
	background: rgba(0,0,0,0.55);
	position: fixed;
	z-index:1;
	top:0;
	left:0;
}

/*===============================
	メインエリア
===============================*/
/* TOP,各ページ 共通 */
section {
	background:url(../images/common/bg_mainarea.jpg) left top;
	padding-bottom:8%;
}

#mainarea{
	background:#fff;
	width:93%;
	padding:3%;
	margin:3% auto 0;
}

.main_image{
	width:93%;
	padding-top:3%;
	margin:0 auto 0;
}

section h2{
	font-size:12px;
	font-weight:bold;
	border-left:8px solid #a3d7d5;
	padding:2px 0 2px 7px;
	margin:0 0 6px 0;
}

section h3{
	font-size:11px;
	font-weight:bold;
	background:url(../images/common/ico_circle.png) 0px 2px no-repeat;
	background-size:13px;
	padding:2px 0 0 16px;
	margin:0 0 8px;
}

/*===============================
	Footer
===============================*/
footer {
	width: 100%;
	background:url(../images/common/bg_mainarea.jpg) left top;
	padding-bottom:10%;
}

footer .footer_wrap {
	background:#fff;
	position:relative;
}

.footer_wrap .btn_totop {
	width: 16%;
	position:absolute;
	z-index:1;
	right:2.7%;
	top:-13%;
}

.footer_wrap .btn_pcsite {
	width:25%;
	font-size:305%;
	text-align:center;
	top:55.6%;
	left:37.8%;
	position:absolute;
	z-index:1;
}

.footer_wrap .img_pcsite {
	position:relative;
	width:70%;
	margin:5% 30% 2% 12%;
	z-index:0;
}

.footer_wrap .txt_fotter {
	color:#717171;
	font-size:9px;
	text-align:center;
	padding-bottom:2%;
}


