@charset "UTF-8";

/*===============================
	サポート
===============================*/
.support_content p {
	font-size:9px;
}

.support_content .support_nav {
	width:100%;
	margin-bottom:8%;
}

.support_content .support_nav li {
    float: left;
    margin: 1% 0 1% 2%;
	padding:0;
    width: 32%;
}
.support_content .support_nav li a {
	background: url(../images/tuition/support/img_arrow_supportnav.png) no-repeat scroll 95% 48% / 9% auto #F27AB2;
    color: #FFFFFF;
    display: block;
	font-size: 10px;
    font-weight: bold;
    padding: 7.3% 0 7.3% 5px;
    text-shadow: 0 -1px 1px #EC3D8B;
    width: 100%;
    border-radius: 2px;
	-moz-border-radius-topleft:2px;
	-moz-border-radius-topright:2px;
	-moz-border-radius-bottomleft:2px;
	-moz-border-radius-bottomright:2px;
}
.support_content .support_nav li:nth-child(1) ,
.support_content .support_nav li:nth-child(4) {
	margin-left:0;
}

.support_content .support_nav li:nth-child(2) ,
.support_content .support_nav li:nth-child(4) {
	font-size:10px;
	letter-spacing:0px;
}

.support_content .support_nav li a {
	color:#fff;
}
.support_content .h3_comment {
    font-size: 10px;
    margin: -5px 0 15px;
}

.support_content .txt_big {
	font-weight:bold;
}

.support_content .text_blue {
	color:#1ca2eb;
}

.support_content .txt_pink {
	color:#e45693;
}
.support_content a.txt_pink {
	text-decoration:underline;
}
.support_content .txt_pink2 {
	color:#e389af;
}
.support_content .txt_glay {
	color: #676767;
	font-weight:bold;
}
.support_content table {
	width:100%;
}

.support_content .support_table_01 colgroup.sec_01 {	width:30%;}
.support_content .support_table_01 colgroup.sec_02 {	width:17.5%;}
.support_content .support_table_01 colgroup.sec_03 {	width:17.5%;}
.support_content .support_table_01 colgroup.sec_04 {	width:17.5%;}
.support_content .support_table_01 colgroup.sec_05 {	width:17.5%;}

.support_content .support_table_02 colgroup.sec_01 {	width:30%;}
.support_content .support_table_02 colgroup.sec_02 {	width:70%;}


.support_content .support_table_03 colgroup.sec_01 {	width:7%;}
.support_content .support_table_03 colgroup.sec_02 {	width:31%;}
.support_content .support_table_03 colgroup.sec_03 {	width:31%;}
.support_content .support_table_03 colgroup.sec_04 {	width:31%;}

.support_content table th {
	background:#e487b3;
	color:#fff;
	font-weight:bold;
	text-align:center;
	padding:1% 0;
	font-size:8px;
	line-height:14px;
}

.support_content .support_table_01 thead th {
	border-bottom:1px solid #fff;
}

.support_content .support_table_01 tbody th {
	text-align:left;
}

.support_content .support_table_01 tbody th:not(.th_y1):not(.th_y2) {
	border-right:1px solid #e487b3;
	box-shadow:#fff 1px 0px 0px 0px inset;
	-moz-box-shadow:#fff 1px 0px 0px 0px inset;
	padding-left:1.5%;
}

.support_content .th_y1 ,
.support_content .th_y2 {
	text-align:center;
}

.support_content .th_y1 {
	border-bottom:1px solid #fff;
}

.support_content .th_y2 {
	border-bottom:1px solid #e487b3;
}

.support_content .th_y1 p ,
.support_content .th_y2 p {
	width:1em;
	writing-mode: lr-tb;
	margin:0 auto;
}

ul#support_exemption {
	overflow:hidden;
	margin-bottom:20px;
}
ul#support_exemption li {
	width:45%;
	display:block;
	float:left;
	margin-right:5%;
}
ul#support_exemption li:last-child {
	margin:0;
}

.support_content table td {
	text-align:center;
	padding:1% 0;
	font-size:8px;
}

.support_content .support_table_01,
.support_content .support_table_02 {
	margin:0 0 30px;
}
.support_content .support_table_03 {
	margin:0 0 15px;
}

.support_content .support_table_01 th,
.support_content .support_table_02 th,
.support_content .support_table_03 th {
	border-bottom:1px solid #fff;
}

.support_content .support_table_01 thead th,
.support_content .support_table_02 thead th,
.support_content .support_table_03 thead th {
	border-right:1px solid #fff;
	vertical-align:middle;
}
.support_content .support_table_03 thead th {
	text-align:left;
	padding-left: 2%;
}

.support_content .support_table_01 thead th:last-child,
.support_content .support_table_02 thead th:last-child,
.support_content .support_table_03 thead th:last-child {
	border-right:1px solid #e487b3;
}

.support_content .support_table_01 tbody tr:last-child th,
.support_content .support_table_02 tbody tr:last-child th,
.support_content .support_table_03 tbody tr:last-child th {
	border-bottom:1px solid #e487b3;
}
.support_content .support_table_01 td {
	border:1px solid #9f9f9f;
	vertical-align:middle;
}
.support_content .support_table_02 td {
	border:1px solid #9f9f9f;
	text-align:left;
	padding-left: 1.5%;
}
.support_content .support_table_03 th {
	vertical-align:middle;
	padding: 1.5%;
}
.support_content .support_table_03 td {
	border-right:1px solid #9f9f9f;
	border-bottom:1px solid #9f9f9f;
	border-left:1px solid #9f9f9f;
	text-align:left;
	padding: 1.5%;
}
.support_content .support_table_03 td li {
	list-style-type: disc;
	list-style-position: inside;
}

.support_content .support_step {
	font-size:8px;
	text-align:center;
	margin:0 0 30px;
}

.support_content .support_step p {
	width:100%;
	border:1px solid #a1a1a1;
	padding:1% 1%;
}

.support_content .support_step img {
	width:9%;
	margin:2.3% 0;
}

.support_content .support_step dl {
}

.support_content .support_step dt {
	background:#c7e7d5;
	color:#009b16;
	font-size:9px;
	font-weight:bold;
	padding:1% 1%;
}

.support_content .support_step dd {
font-size:8px;
	padding:1% 1%;
	letter-spacing:-0.5px;
	text-align:center;
}

.support_content .daytime_dl {
	width:100%;
	margin:0 0 6%;
}

.support_content .daytime_dl dt {
	background:#e487b3;
	color:#fff;
	font-size:9px;
	font-weight:bold;
	padding:2% 2.5%;
}

.support_content .daytime_dl dd {
	font-size:9px;
	padding:2% 2.5%;
	border-right:1px solid #9f9f9f;
	border-left:1px solid #9f9f9f;
}

.support_content .daytime_dl dd:last-child {
	border-bottom:1px solid #9f9f9f;
}

