@charset "UTF-8";
/*===============================
	スライダー
===============================*/
.slider_area{
	margin-bottom:-23px;
}

.bx-wrapper .bx-viewport {
	background:none !important;
	border:none !important;
	box-shadow:none !important;
	left:0px !important;}

section .slider_area .bx-pager {
	padding:1% 0;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
	bottom:-25px !important;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background:url(../images/top/btn_slider_off.png) left top no-repeat !important;
	text-indent: -9999px;
	display: block;
	width: 15px !important;
	height: 15px !important;
	margin: 0 15px !important;
	outline: 0;
	-moz-border-radius: none !important;
	-webkit-border-radius: none !important;
	border-radius: none !important;
	-moz-background-size:contain;
	background-size:100% !important;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background:url(../images/top/btn_slider_on.png) left top no-repeat !important;
	background-size:100% !important;
}


section nav {
	width:93%;
	margin:0 auto;
}

section nav .first_nav {
	padding:3% 0 0;
}

section nav .first_nav li {
	float:left;
	width:49.9%;
}

section nav .first_nav li a {
	text-shadow: 0px -1px 1px #f0378b; 
	background:#f28cbb url(../images/top/img_arrow.png) 80% center  no-repeat;
	background-size:5%;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	letter-spacing:2.3px;
	text-align:center;
	padding:5.5% 8% 4.5% 2%;
	display:block;
	box-shadow: 1px 1px 1px 0px #ff9ecb inset;
}

section nav .first_nav li:nth-child(1) a {
	border:1px solid #d72480;
	border-right:0px;
	border-bottom:0px;
	border-radius:8px 0 0;
	-moz-border-radius-topleft: 8px;  
}

section nav .first_nav li:nth-child(2) a {
	border:1px solid #d72480;
	border-bottom:0px;
	border-radius:0 8px 0 0;
	-moz-border-radius-topright: 8px;  
}

section nav .first_nav li:nth-child(3) a {
	border:1px solid #d72480;
	border-right:0px;
	border-radius:0 0 0 8px;
	-moz-border-radius-bottomleft: 8px;  
}

section nav .first_nav li:nth-child(4) a {
	border:1px solid #d72480;
	border-radius:0 0 8px 0;
	-moz-border-radius-bottomright: 8px;  
}

section nav .first_nav {
}

section nav .second_nav {
	padding:5% 0 0;
}

section nav .second_nav li {
	width:49.2%;
	float:left;
}

section nav .second_nav li:nth-child(even) {
	margin-left:1.5%;
}

section nav .third_bnr {
	padding:5% 0 5%;
}

/*===============================
	メインエリア
===============================*/
section .top_content .bnr_area {
	margin-bottom:8%;
}

section .top_content .bnr_area li {
	margin-bottom:4%;
}

section .top_content .news_area h2 {
	border-left:none;
	padding:none;
	width:100%;
	border-left:none;
	padding:0;
	margin:0;
	vertical-align:bottom;
	position:relative;
}

section .top_content .news_area h2>img {
	width:100%;
	vertical-align:bottom;
	position:relative;
}

section .top_content .news_area h2 a {
	position:absolute;
	width:20.4%;
	right:0px;
	top:0px;
	margin:0;
	padding:0;
}

section .top_content .news_area a>img {
	vertical-align:bottom;
}

section .top_content .news_area li:first-child {
	padding-top:0;
	border-top:none;
}

section .top_content .news_area ul {
	margin:3% 0 10%;
}

section .top_content .news_area li {
	border-top:1px dashed #aaa;
	margin-bottom:3%;
	padding-top:3%;
}

section .top_content .news_area dt {
	color:#e26399;
	margin-bottom:1%;
}

section .top_content .news_area a dd {
	color:#4c4c4c;
	line-height:14px;
}

section .top_content .news_area dd {
	margin-bottom:3%;
}





