@charset "UTF-8";
section .course_content h4 {
	font-size:13px;
	font-weight:bold;
	margin-bottom:5px;
}

section .course_content>p {
	margin-bottom:20px;
}

section .course_content table {
	width:100%;
}

section .course_content td {
	padding-bottom:20px;
	font-size:9px;
}

section .course_content td p {
	margin:5px;
}

section .course_content td:nth-child(1) {
	width:48.5%;
}

section .course_content td:nth-child(2) {
	width:3%;
}

section .course_content td:nth-child(3) {
	width:48.5%;
}

section .course_content {
	font-size:9px;
}

section .course_content {
	font-size:9px;
}



/********************************************************************************/
/*  total  */
/********************************************************************************/


.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  font-size: 0.1em;
  line-height: 0;
}

.clearfix {
  min-height: 0.1px;
}

* html .clearfix {
  height: 0.1px;
}





section.course h2,
section.course h3,
section.course h4{
	margin: 0;
	border: 0;
	padding: 0;
	background: none;
}

section.course h3{
	font-size: 10px;
	text-align: center;
	padding: 0 0 1em;
}

dl.points{
	margin: 0 0 20px;
}
dl.points dt{
	font-size: 13px;
    line-height: 1;
    padding: 0.3em 0 0.2em;
	background: #CCC;
	text-align: center;
	width: 9em;
	color: #FFF;
}
dl.points dd{
	border: 1px solid #CCC;
	padding: 10px;
	margin: 0 0 10px;;
}
dl.points dd h4{
	margin: 0 0 0.5em;
	font-size: 10px;
}

.cnts_end {
	margin:0 0 30px;
}

/****/
ul#courseTab{
/* 	margin: 0 0 0 -1%; */
/* 	border-bottom: 1px solid #333; */
}
ul#courseTab a{
	background: #b1b1b1;
	display: block;
	font-size: 12px;
	padding: 10% 0;
	text-align: center;
	color: #FFF;
	font-weight: bold;
	border-radius: 3px 3px 0 0;
}
ul#courseTab li{
	margin: 0 0.5% 0 0;
	padding: 0 0 20px;
	display: block;
	float: left;
	width: 33%;
}
ul#courseTab li:last-child {
	margin: 0;
}
ul#courseTab li.selected{
	background: url(../images/course/total/icn_current@2x.gif) 50% 100% no-repeat;
	background-size: 12px 11px;
}


ul#courseTab li.selected a{
	background: #333;
}
ul#coursePanel{
	margin: 0 0.5% 30px 0;
}
ul#coursePanel>li{
	padding: 30px 3.3% 15px;
	border: 1px solid #333;
	margin: -20px 0 0;
/* 	border-top: 0px; */
} 

#coursePanel>li>.outline{
	margin: 0 0 20px;
}
#coursePanel>li>.outline p{
	margin: 1em 0 0;
}
#coursePanel>li>.outline h5{
	text-align: center;
	margin: 0 0 1em;
}
#coursePanel>li>.outline img{
	width: 100%;
	height: auto;
}




ul.curriculumPoints h5{
	font-weight: bold;
	text-align: center;
	background: #CCC;
	padding: 5% 0;
	margin: 0 0 5px;
	color:#FFF;
	font-size: 10px
}
ul.curriculumPoints{
}
ul.curriculumPoints li{
	display: inline-block; /* 横並び */
	vertical-align: top; /* li要素を上端揃えに */
	width: 48%;
	margin: 0 0 1em 0;
}
ul.curriculumPoints li:nth-child(2n) {
	float:right;
}
ul.curriculumPoints li img{
	width: 100%;
	height: auto;
	margin: 0 0 10px;
}

.curriculumList {
	overflow:hidden;
}

.curriculumList li{
	float: left;
	padding: 0 1em 0 0;
}
.curriculumList li:before{
	content: "● ";
	color:#f75a98;
}

dl.licenseList dt{
	font-size: 11px;
	font-weight: bold;
}
dl.licenseList dd{
	margin: 0 0 2em;
}


/*****************/
section.total #salon{
	background: url(../images/course/total/bg_salon.gif) 0 0 repeat-y;
	background-size: 100%;
	padding: 1.5em 1.5em;
	margin:0 0 30px;
}
section.total #salon .s_inner {
	padding: 1.5em;
	margin:0 0 1.5em;
}
section.total #salon .s_inner:last-child {
	margin-bottom:0;
}
section.total #salon #s_inner01 {
	background: url(../images/course/total/bg_s_inner01.gif) #FFF right top no-repeat;
	background-size: 100%;
}
section.total #salon #s_inner02 {
	background: url(../images/course/total/bg_s_inner02.gif) #FFF right top no-repeat;
	background-size: 100%;
}
section.total #salon #s_inner03 {
	background: url(../images/course/total/bg_s_inner03.gif) #FFF right top no-repeat;
	background-size: 100%;
}
section.total #salon #s_inner04 {
	background: url(../images/course/total/bg_s_inner04.gif) #FFF right top no-repeat;
	background-size: 100%;
}
section.total #salon .s_inner .s_title{
    border-left: 4px solid #e95098;
	color:#e95098;
    font-size: 120%;;
    font-weight: bold;
	line-height:1;
    margin: 0 0 10px;
    padding: 1px 0 1px 4px;
}

/*****************/
section.total #summary{
	background: url(../images/course/total/bg_summary.gif) 0 0 no-repeat;
	background-size: 100%;
	padding: 3em 1em 1em;
}
section.total #summary>.title{
	margin: 0 0 1em;
	text-align: center;
}
section.total #summary p {
	margin:0 0 1em;
}
section.total #summary .flow{
	margin: 1em 0 0;
}
section.total #summary .flow>div{
	margin: -10px 0 0;
	position: relative;
}
section.total #summary .flow>div:after{
	content: url(../images/course/total/arrow.png);
	position: absolute;
	top: -20px;
	left: 45%;
	transform:scale(0.5);
 -webkit-transform: scale(0.5);
 -moz-transform: scale(0.5); 
}
section.total #summary .flow>div.firstChild{
	margin: 0;
	padding: 0 0 20px;
}
section.total #summary .flow>div.firstChild:after{
	content: none;
	position: static;
	top: 0;
	left: 0;
}

/*
@media only screen and (-webkit-min-device-pixel-ratio: 2),(-webkit-min-device-pixel-ratio: 1.5) {
   .section.total #summary .flow>div:after{
       	content: url(../../images/course/total/arrow2.png);
       background-size:50%;

   }
}
*/

section.total #summary .flow>div>.inner{
	background: #FFF;
	padding: 1em;
	background-size: 8px 9px;
}
section.total #summary .flow>div>.inner .title{
	margin: 0 0 0.5em;
	padding: 0 0 0.5em;
	border-bottom:1px solid #187fc4;
}
section.total #summary .flow>div>.inner .title img{
	float: left;
}
section.total #summary .flow>div>.inner .title p{
	float: left;
	margin: 0 0 0 1em;
	color:#f75a98;
	font-weight: bold;
	font-size: 10px;
	line-height: 1.2em;
}
section.total #summary .flow>div>.inner .title p.line1{
	padding:0.5em 0 0;
}


/*  colors  *****************************/
section.total dl.licenseList dt,
section.total #summary .other #totalNote .title,
section.course h3,
dl.points dd h4{
	color: #f75a98;
}
#tlTraining h3 {
	color:#ff79ae;
	text-align:left;
}
section.total ul#courseTab li.selected a,
section.total ul.curriculumPoints h5,
dl.points dt{
	background: #ff79ae;
}
section.total ul#coursePanel>li,
#tlTraining ol.flow li>.inner,
#tlTraining ol.flow h5,
.totalNote,
section.total #summary .other .lists,
section.total #summary .other .lists li,
dl.points dd{
	border-color: #ff79ae;
}
.txt_pink {
	color:#f75a98;
}
.txt_bold {
	font-weight:bold;
}
.txt_light {
	font-size:90%;
}