@charset "UTF-8";

.tuition_content table .bor_r_p {
	border-right: 1px solid #e487b2;	
}

.tuition_content table .bor_b_p {
	border-bottom: 1px solid #e487b2;
}

.tuition_content table tr.table_head th {
	border-top: 1px solid #e487b2;
}

.tuition_content table .border_sum {
	border-top: 1px solid #e487b2;
	border-right: 1px solid #e487b2;
}

.tuition_content {
	background:#fff;
	width:93%;
	padding:0% 3% 3%;
	margin:-1px auto 3%;
	z-index:1;
}

.main_image {
	margin-bottom: 20px;
}

.tuition_sec_01 {
	padding-top: 20px;
}

.tuition_sec_02 {
	margin-top: 50px;
}

.tuition_content table {
	width: 100%;
	margin-bottom: 30px;
}

.tuition_content th {
	background: #e487b2;
	color: #fff;
	border: 1px solid #fff;
	padding: 1%;
	text-align: center;
	vertical-align: middle;
	font-size: 8px;
	font-weight: bold;
}

.tuition_content td {
	border: 1px solid #9f9f9f;
	border-top: none;
	border-left: none;
	font-size: 8px;
	padding: 1% 0;
	text-align: center;
	vertical-align: middle;
}

.tuition_content .sec_01_th {
	background: #e487b2;
	color: #fff;
	font-weight: bold;
	line-height: 15px;
	border: 1px solid #fff;
	border-bottom: none;
}

.tuition_content colgroup.sec_01 {
	width: 17%;
}

.tuition_content colgroup.sec_02 {
	width: 9%;
}

.tuition_content colgroup.sec_03 {
	width: 50%;
}

.tuition_content colgroup.sec_04 {
	width: 23%;
}

.tuition_content colgroup.sec_05 {
	width: 13%
}

.tuition_content dl {
	overflow: hidden;
}

.tuition_content dt {
	float: left;
}

.tuition_content dd {
	padding-left: 20px;
}

.tuition_content h3.estic {
	margin-top: 55px;
}

.tuition_content .h3_comment {
	font-size: 10px;
	font-weight: bold;
	margin: -5px 0 15px 0;
}

.tuition_content .supoort {
	width:100%;
	display:block;
	color:#fff;
	letter-spacing:1px;
	font-size:14px;
	text-align:center;
	border-radius: 2px;
	background:#f15196 url(../images/tuition/arrow.png) 72% 50% no-repeat ;
	background-size:7px;
	box-shadow:#d3d3d3 2px 2px 2px 0;
	-moz-box-shadow:#f3a1c9 0px 0px 0px 1px;
	padding:10px 10px 10px 0;
	margin:10px 0;
}

.tuition_content .supoort p {
	font-size: 20px;
	color: #fff;
	width: 160px;
	margin: 0 auto;
	padding-top: 18px;
}

.tuition_content .btn_supoort {
	width: 85%;
	margin: 35px auto;
}

.tuition_content .tuition_sec_02 h3 {
	margin: 30px 0 5px 0;
}

.tuition_content table tr.pay td {
	border: none;
	color: #ee66a5;
	background: #f8e1eb;
	border-right: 1px solid #f8e1eb;
}

.tuition_content ul li{
	list-style: none;
}

.tuition_content ul li:before {
	content: "※";
}