-------------------------------------------------------------------------
 お申込みありがとうございます。
-------------------------------------------------------------------------

以下の内容でメールが送信されました。

<!--{{foreach from=$form item=f}}-->
<!--{{$f.name}}-->： <!--{{$f.value}}-->

<!--{{/foreach}}-->

