/* CSS Document */

div.header {
	border-top-color: #F4305E;
}

h2 {
	background-image: url(../../img/guardian/title.jpg);
}

div.mainimg {
	background-image: url(../../img/guardian/title_bg.jpg);
}

div.l1 ,div.l2 ,div.l3 {
	margin-bottom: 40px;
}

div.l1 h3 {
	background-image: url(../../img/guardian/l1_1_title.gif);
}
div#koucho h3 {
	background-image: url(../../img/guardian/l1_2_title.gif);
}

div.l1 h4 {
	width: 100%;
	height: 40px;
	background-image: url(../../img/school/index_l1_1.gif);
	background-repeat: no-repeat;
	margin-bottom: 10px;
}

div#l1-1 {
	margin-left: 20px;
	float: right;
	text-align: center;
}

div#l1-2 {
	margin-right: 20px;
	float: left;
	text-align: center;
}


div#l1-1 strong ,div#l2-1 strong {
	font-size: 14px;
	font-weight: normal;
}



div.l2 h3 {
	background-image: url(../../img/guardian/l2_title.gif);
}

div.l2 h4  {
	height: 42px;
	background-repeat: no-repeat;
	margin-bottom: 10px;
}

div.l2 div {
	margin-bottom: 20px;
	padding-bottom: 10px;
	overflow: hidden;
	clear: both;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DFDFDF;
}

div.l2 a {
	font-size: 10px;
	float: right;
}

div#barber h4 {
	background-image: url(../../img/guardian/l2_barber.gif);
}
div#beauty h4 {
	background-image: url(../../img/guardian/l2_beauty.gif);
}
div#esthetic h4 {
	background-image: url(../../img/guardian/l2_esthetic.gif);
}
div#nail h4 {
	background-image: url(../../img/guardian/l2_nail.gif);
}


div.l3 h3 {
	background-image: url(../../img/guardian/l3_title.gif);
}

div.l3 table {
	width: 100%;
	border-top-width: 1px;
	border-right-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;	
}

div.l3 td {
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	text-align: center;
}

div.l3 td span {
	font-size: 10px;
}

div.l3 h4 {
	text-indent: 0px;
}

td#td-center {
	text-align: center;
}