form#mailformpro {
	padding: 10px 0px;
}
form#mailformpro dl dt {
	float: left;
	width: 70px;
	font-size: 12px;
	padding: 10px 0px;
	text-align: left;
	margin: 0px;
}
form#mailformpro dl dd {
	margin: 0px;
	padding: 10px 5px 10px 160px;
	font-size: 12px;
	line-height: 1.5em;
	clear:both;
}
form#mailformpro dl dd ul,form#mailformpro dl dd ol {
	margin: 0px;
	padding: 0px;
}
form#mailformpro dl dd ul li,form#mailformpro dl dd ol li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.must {
	display: block;
	background-color: #C00;
	padding: 4px 5px;
	font-size: 10px;
	color: #FFF;
	float: left;
	margin: 0px 5px;
	border-radius: 4px;
	box-shadow: 0px 0px 5px #CCC;
}
