table#mfp_confirm_table {
	border-spacing: 0px;
	border-collapse: collapse;
	width: 100%;
}


table#mfp_confirm_table tr th,table#mfp_confirm_table tr td {
	text-align: left;
	font-size: 12px;
	padding: 5px 10px;
}
table#mfp_confirm_table tr th {
	color:#555;
	font-size:12px;
	background:#Fdd;
	text-align:left;
	margin:5px 0 4px;
	padding:4px 0 4px 10px;
display:block;}

table#mfp_confirm_table tr td {
	text-align:left;
	color:#222222;
	font-size:12px;
	margin:0 0 8px 8px;
	padding:0;
	word-break: break-all;
display:block;}
div.mfp_buttons {
	clear: both;
	padding: 10px 0px;
	text-align: center;
	margin:2% auto 1%;
}
div.mfp_buttons button#mfp_button_send {
	float:right;
	margin-right:4%;
}
div.mfp_buttons button#mfp_button_cancel {
	clear:both;
}
div.mfp_buttons button {
	text-align:center;
	width:45%;
	height:40px;
	color:#222;
	border-radius:6px;
	margin:0px auto;
	padding:0 0 -4px;
	background: -moz-linear-gradient(top, #fff, #ccc);
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));}
