div#mfp_phase_confirm {
	clear: both;
}
div#mfp_phase_confirm h4 {
	font-size: 14px;
	padding:0px 0px 0px 0px;
	margin:8px 0 10px;
	text-align: left;
	color:#444;
}
div#mfp_phase_confirm div#mfp_phase_confirm_inner {
	
}
