/* CSS Document */


div.mainimg {
	background-image: url(../../img/message/ob/ob_bg.jpg);
}

h2 {
	background-image: url(../../img/message/ob/ob_title.jpg);
}

div.l1 h3 {
	background-image: url(../../img/message/ob/l1_title.gif);
}

div.l1-w {
	margin-bottom: 30px;
	padding-bottom: 20px;
	clear: both;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #CCCCCC;
	overflow: hidden;
}

div.l1-left {
	width: 180px;
	float: left;
}
div.l1-left img {
	padding: 5px;
	border: 1px solid #CCCCCC;
	overflow: hidden;
	margin-bottom: 5px;
}
div.l1-left h4 {
	font-size: 12px;
	text-indent: 0px;
}
div.l1-left p {
	font-size: 10px;
	line-height: 150%;
}

div.l1-right {
	width: 480px;
	float: right;
}

div.l1-right h5 {
	text-indent: -9999px;
	height: 20px;
	background-repeat: no-repeat;
	margin-bottom: 20px;
}

div#barber h5 {
	background-image: url(../../img/message/ob/l1_barber.gif);
}
div#beauty h5 {
	background-image: url(../../img/message/ob/l1_beauty.gif);
}
div#esthetic h5 {
	background-image: url(../../img/message/ob/l1_esthetic.gif);
}
div#nail h5 {
	background-image: url(../../img/message/ob/l1_nail.gif);
}



div.l1-right h6 {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
	overflow: hidden;
	height: 23px;
	line-height: 23px;
	margin-bottom: 5px;
}

div#barber h6 {
	color: #4040BF;
}
div#beauty h6 {
	color: #FF2B2B;
}
div#esthetic h6 {
	color: #5BBA47;
}
div#nail h6 {
	color: #FF7300;
}

div.l1-right p {
	margin-bottom: 20px;
}