/* CSS Document */

div.header {
	border-top-color: #2B7AFF;
}

li#btn4 a ,li#btn4 a:hover {
	background-image: url(../../img/navi/navi4_over.jpg);
}

h2 {
	background-image: url(../../img/support/finding_employment/title.jpg);
}

div.mainimg {
	background-image: url(../../img/support/finding_employment/title_bg.jpg);
}

div.l1 ,div.l2 {
	margin-bottom: 40px;
}

div.l1 h3 {
	background-image: url(../../img/support/finding_employment/l1_title.gif);
}

div.l1 p ,div.l2 p {
	margin-bottom: 20px;
}

div.l2 h3 {
	background-image: url(../../img/support/finding_employment/l2_title.gif);
}