/* CSS Document */

div.header {
	border-top-color: #66BF0D;
}

h2 {
	background-image: url(../../img/support/student/title.jpg);
}

div.mainimg {
	background-image: url(../../img/support/student/title_bg.jpg);
}

div.l1 {
	margin-bottom: 40px;
}

div.l1 h3 {
	background-image: url(../../img/support/student/l1_title.gif);
}

div.l1 h4 {
	height: 18px;
	background-repeat: no-repeat;
	margin-bottom: 10px;
}

h4#l1-1 {
	background-image: url(../../img/support/student/l1_1.gif);
}
h4#l1-2 {
	background-image: url(../../img/support/student/l1_2.gif);
}


div.l1 p {
	margin-bottom: 10px;
}

div#l1-1a {
	background-color: #EFEFEF;
}

div#l1-1a p {
	padding: 8px;
}

table.l1-t1 {
	width: 100%;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	margin-bottom: 40px;
}

table.l1-t1 td {
	text-align: center;
	vertical-align: middle;
	border-top-width: 1px;
	border-right-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	padding: 5px;
}

td#td-l {
	text-align: left;
}

td#td-w1 {
	width: 150px;
}

td#td-w2 {
	width: 120px;
}

div.l1 h5 {
	margin-bottom: 10px;
}


table.l1-t2 {
	width: 100%;
	background-color: #EFEFEF;
	margin-bottom: 20px;
}

table.l1-t2 td {
	padding: 10px;
}

td#t2-t {
	width: 100px;
}