<?xml version="1.0" encoding="Shift_JIS"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><title>富山県理容美容専門学校</title>
<style type="text/css"><![CDATA[ a.view { font-size: 13px; color: #000000; background-color: #FFFFFF }]]></style>
<style type="text/css"><![CDATA[ a:link{color:#000000}a:visited{color:#800080}]]></style>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=Shift_JIS">
<meta name="viewport" content="width=300">
<meta name="keywords" content="">
<meta name="description" content="">
</head>
<body style="background-color:#FFFFFF;" link="#333333">
<a id="pagetop" name="pagetop"></a>
<table border="0" cellpadding="0" cellspacing="0" width="240" align="center">
<tr>
<td width="240" align="center"><img src="img/logo.gif" alt="" width="240" height="85" /></td>
</tr>
<tr>
<td align="center"><span style="font-size:xx-small"><a href="index.html" accesskey="1">[1]ｵｰﾌﾟﾝｷｬﾝﾊﾟｽTOP</a><br />
<a href="ninki.html" accesskey="2">[2]ｵｰﾌﾟﾝｷｬﾝﾊﾟｽのｺｺが人気</a><br />
<a href="nagare.html" accesskey="3">[3]ｵｰﾌﾟﾝｷｬﾝﾊﾟｽの流れ</a><br />
<a href="sche.html" accesskey="4">[4]開催ｽｹｼﾞｭｰﾙ </a></span></td>
</tr>
<tr>
<td align="center"><img src="img/ttl-form.gif" alt="" width="240" height="40" border="0" /></td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="240" align="center">
	<tr>
<td align="left" bgcolor="#FF6699"><span style="font-size:small; color:#ffffff;">お申し込み者情報<br />
入力ｴﾗｰ</span></td>
</tr>
<tr>
<td align="left"><span style="font-size:xx-small; color:#FF3366;">※未入力項目があります。戻って修正する場合は「入力画面に戻る」を押してください。<br />
</span></td>
</tr>
<tr>
<td align="left" bgcolor="#E6E6E6"><span style="font-size:x-small;">2011年8月28日(日)<br />
ｵｰﾌﾟﾝｷｬﾝﾊﾟｽ申し込み</span></td>
</tr>
<tr>
<td align="left">&nbsp;</td>
</tr>

<!--{{foreach from=$err item=e}}-->
<tr>
<td align="left" bgcolor="#E6E6E6"><span style="font-size:x-small;"><!--{{$e.name|escape:html|nl2br}}--></span></td>
</tr>
<tr>
<td align="left"><span style="font-size:x-small; color:#FF3366;"><!--{{$e.ms|escape:html|nl2br}}--></span>
<br /></td>
</tr>
<!--{{/foreach}}-->
<tr>
<td align="center">
<form action="<!--{{$myphp|escape}}-->?mode=form" method="post">
<input name="F2M_ID" type="hidden" value="<!--{{$F2M_ID}}-->" />
<input type="submit" name="bak" id="bak" value="入力画面へ" />
</form>
<br />
</td>
</tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" width="240" align="center">
<tr>
<td align="center"><img src="img/line.gif" alt="" width="240" height="7" /><span style="font-size:xx-small"><a href="index.html" accesskey="1">[1]ｵｰﾌﾟﾝｷｬﾝﾊﾟｽTOP</a><br />
<a href="ninki.html" accesskey="2">[2]ｵｰﾌﾟﾝｷｬﾝﾊﾟｽのｺｺが人気</a><br />
<a href="nagare.html" accesskey="3">[3]ｵｰﾌﾟﾝｷｬﾝﾊﾟｽの流れ</a><br />
<a href="sche.html" accesskey="4">[4]開催ｽｹｼﾞｭｰﾙ </a></span><img src="img/line.gif" alt="" width="240" height="7" /></td>
</tr>
<tr>
<td width="240" align="center" bgcolor="#DBDBDB"><span style="font-size:xx-small"><a href="../index.html" accesskey="5">[5]富山理容美容専門学校ﾓﾊﾞｲﾙTOP</a><br />
<a href="../annai.html" accesskey="6">[6]学校案内</a><br />
<a href="../boshu.html" accesskey="7">[7]募集案内</a>|<a href="../seikyu.html" accesskey="8">[8]資料請求</a><br /><a href="../shien.html" accesskey="9">[9]学費支援</a></span><img src="img/line.gif" alt="" width="240" height="7" /></td>
</tr>
<tr>
<td align="right">
<span style="font-size:xx-small"><a href="#pagetop">▲ﾍﾟｰｼﾞﾄｯﾌﾟへ</a></span></td>
</tr>
<tr><td bgcolor="#0186D1" align="left"><font color="#FFFFFF"><span style="font-size:xx-small">学校法人 富山県理容美容学校</span></font></td></tr>
<tr><td align="left" bgcolor="#0186D1"><font color="#FFFFFF">富山県理容美容専門学校<br />
<span style="font-size:xx-small">  〒930-0804 富山県富山市下新町32-26</span><br />
<span style="font-size:xx-small">TEL <a href="tel:0764323037">076-432-3037</a> ﾌﾘｰﾀﾞｲﾔﾙ <a href="tel:0120190135">0120-190-135</a></span><br />
<span style="font-size:xx-small">FAX 076-432-3046</span><br />
<span style="font-size:xx-small">  Mail <a href="mailto:info@toyama-bb.ac.jp">info@toyama-bb.ac.jp</a></span></font><br /><br />
</td>
</tr>
<tr>
<td bgcolor="#0186D1" align="center">
<font color="#FFFFFF"><span style="font-size:xx-small">&copy;TOYAMA Barber & Beauty School.</span></font>
</td>
</tr>
</table>
</body>
</html>